<ion-view class="common-view-color common-bg-color" view-title="关于" >
  <ion-nav-bar align-title="center" class="newbarhead">
    <ion-nav-buttons side="left">
      <button class="button  button-icon icon ion-ios-arrow-left common-color-white" ng-click="goAcount()">
        返回
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>

<ion-content overflow-scroll="false">

  <div class="common-margin-top">
    <ul>
      <li>
        <div class="row" ng-click="goAboutOur()">
          <div class="col">
            <img src="img/guanyu.png" height="24px">
            <span class="common-contact-bigp">关于我们</span>
            <img src="img/newjiantou.png">
          </div>
        </div>
      </li>

      <li>
        <div class="row" ng-click="goAboutPlatform()">
          <div class="col">
            <img src="img/banb.png" height="24px">
            <span class="common-contact-bigp">关于平台</span>
            <img src="img/newjiantou.png">
          </div>
        </div>
      </li>
      <li class="bb" >
        <div class="row" ng-click="goAboutRecommend()">
          <div class="col">
            <img src="img/banq.png" height="24px">
            <span class="common-contact-bigp">关于推荐</span>
            <img src="img/newjiantou.png">
          </div>
        </div>
      </li>

      <li class="bb" ng-click="zaixianshengji()">
        <div class="row">
          <div class="col">
            <img src="img/sj.png" height="24px">
            <span class="common-contact-bigp">在线升级</span>
            <img src="img/newjiantou.png">
          </div>
        </div>
      </li>
    </ul>
  </div>

</ion-content>
</ion-view >
