<ion-view class="common-view-color common-bg-color " view-title="关于平台" >
  <ion-nav-bar align-title="center" class="newbarhead">
    <ion-nav-buttons side="left">
      <button class="button  button-icon icon ion-ios-arrow-left common-color-white" ng-click="goAboutOurs()">
        返回
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>

  <ion-content  overflow-scroll="false">
    <div class="weima">
      <img src="img/weima.jpg"  alt="平台微信二维码">
    </div>
    <p class="weimaAction">扫一扫，关注我吧！</p>
  </ion-content>
</ion-view >
