<ion-view class="common-view-color common-bg-color" view-title="关于" >
  <ion-nav-bar align-title="center" class="newbarhead">
    <ion-nav-buttons side="left">
      <div ng-click="goAcount()">
        <img src="img/backbutton.png"  height="16px" style="margin-top: 8px;margin-left: 10px">
        <p style="margin-top: -23px;margin-left: 28px;font-size: 16px">返回</p>
      </div>
    </ion-nav-buttons>
  </ion-nav-bar>

<ion-content overflow-scroll="false">
  <div style="background: white">
    <ul>
      <li style="border-bottom: 1px solid gainsboro">
        <div class="row" style="background-color: white"  ng-click="gomyinformation()">
          <div class="col" style="margin-left: 10px;padding: 10px"> <img src="img/guanyu.png" width="30px" height="30px"></div>
          <div class="col col-75" style="margin-top: 10px">
            <p class="common-contact-bigp">功能介绍</p>
          </div>
          <div class="col-10">
            <img src="img/newjiantou.png" height="14px" style="margin-top: 16px">
          </div>
        </div>
      </li>
      <li style="border-bottom: 1px solid gainsboro">
        <div class="row" style="background-color: white" ng-click="goacountsettion()">
          <div class="col" style="margin-left: 10px;padding: 10px"> <img src="img/banb.png" width="30px" height="30px"></div>
          <div class="col col-75" style="margin-top: 10px">
            <p class="common-contact-bigp">版本信息</p>
          </div>
          <div class="col-10">
            <img src="img/newjiantou.png" height="14px" style="margin-top: 16px">
          </div>
        </div>
      </li>
      <li style="border-bottom: 1px solid gainsboro">
        <div class="row" style="background-color: white" ng-click="goaboutus()">
          <div class="col" style="margin-left: 10px;padding: 10px"> <img src="img/banq.png" width="30px" height="30px"></div>
          <div class="col col-75" style="margin-top: 10px">
            <p class="common-contact-bigp">版权所有</p>
          </div>
          <div class="col-10">
            <img src="img/newjiantou.png" height="14px" style="margin-top: 16px">
          </div>
        </div>
      </li>
      <li style="border-bottom: 1px solid gainsboro" ng-click="zaixianshengji()">
        <div class="row" style="background-color: white" ng-click="goaboutus()">
          <div class="col" style="margin-left: 10px;padding: 10px"> <img src="img/sj.png" width="30px" height="30px"></div>
          <div class="col col-75" style="margin-top: 10px">
            <p class="common-contact-bigp">在线升级</p>
          </div>
          <div class="col-10">
            <img src="img/newjiantou.png" height="14px" style="margin-top: 16px">
          </div>
        </div>
      </li>
    </ul>
  </div>




</ion-content>

  </ion-view >
