<ion-view view-title="关于我们 ">
  <ion-nav-bar align-title="center">
    <ion-nav-buttons side="left">
      <button class="button  button-icon icon ion-ios-arrow-back" ng-click="goAcount()">
        返回
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>

<ion-content overflow-scroll="false">
  <div>

    <ul class="list">
      <li class="item">
        <button  class="button button-full button-positive" ng-click="">
          功能介绍
        </button>
      </li>
      <li class="item">
        <button  class="button button-full button-positive" ng-click="">
          版本信息
        </button>
      </li>
      <li class="item">
        <button  class="button button-full button-positive" ng-click="">
          版权所有
        </button>
      </li>
    </ul>

  </div>
</ion-content>

  </ion-view >
