<ion-view view-title="设置 " class="common-view-color">
  <ion-nav-bar align-title="center" class="newbarhead">
    <ion-nav-buttons side="left">
      <button class="button  button-icon icon ion-ios-arrow-left common-color-white" ng-click="goAcount()">
        返回
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>
<ion-content overflow-scroll="false">
  <div class="common-margin-top">
    <ul>
      <li>
        <div class="row" ng-click="goGesturepassword()" ng-if="cunzai==0">
          <div class="col">
            <span class="common-contact-bigp">设置手势密码</span>
            <img src="img/newjiantou.png">
          </div>
        </div>
      </li>
      <li>
        <div class="row" ng-click="goSetGesturepassword()" ng-if="cunzai==1">
          <div class="col">
            <span class="common-contact-bigp">重置手势密码</span>
            <img src="img/newjiantou.png">

          </div>
        </div>
      </li>
      <li>
        <div class="row" ng-click="meizuo()">
          <div class="col">
            <span class="common-contact-bigp">清除缓存</span>
            <img src="img/newjiantou.png">
          </div>
        </div>
      </li>

    </ul>
</div>
</ion-content>
</ion-view>
