<ion-view view-title="设置 ">
  <ion-nav-bar align-title="center">
    <ion-nav-buttons side="left">
      <button class="button  button-icon icon ion-ios-arrow-back" ng-click="goAcount()">
        返回
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>
<ion-content overflow-scroll="false">
  <div>

    <ul class="list">
      <div ng-click="showPopup()">
        <li class="item item-toggle item-button-right" >
          修改密码
          <a class="button button-dark button-clear icon ion-ios-arrow-right" ></a>
        </li>
      </div>
      <div ng-click="meizuo()">
        <li class="item item-toggle item-button-right" >
          清除缓存
          <a class="button button-dark button-clear icon ion-ios-arrow-right" ></a>
        </li>
      </div>
      <div ng-click="zaixianshengji()">
        <li class="item item-toggle item-button-right" >
          在线升级
          <a class="button button-dark button-clear icon ion-ios-arrow-right" ></a>
        </li>
      </div>

      <div ng-click="goGesturepassword()">
        <li class="item item-toggle item-button-right" >
          设置手势密码
          <a class="button button-dark button-clear icon ion-ios-arrow-right" ></a>
        </li>
      </div>
      <div ng-click="goSetGesturepassword()">
      <li class="item item-toggle item-button-right" >
        修改手势密码
      <a class="button button-dark button-clear icon ion-ios-arrow-right" ></a>
      </li>
      </div>
    </ul>

</div>

  <!--<script id="popup-template.html" type="text/ng-template">-->
    <!--<input ng-model="data.wifi" type="text" placeholder="Password">-->
  <!--</script>-->
</ion-content>

</ion-view>
