<ion-view view-title="添加新成员二">
  <ion-nav-bar align-title="center">
    <ion-nav-buttons side="left">
      <button class="button  button-icon icon ion-ios-arrow-back" ng-click="backFirst()">
        返回
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content>
    <ion-scroll zooming="true" direction="x" style="width: 100%">
      <div id="secondscroll" class="div-a-style">
        <a id="a1" class="a-style" href="#/addnewpersonfirst" style="font-size: 15px">联系人</a><img src="img/arrow-right.png" class="i-style"/>
        <a id="a2" class="a-style" style="color: #9e9e9e;font-size: 15px">{{deptinfo}}</a>
      </div>
    </ion-scroll>
    <div>
      <ion-list>
        <ion-item class="row" style="height: 60px" align="left" ng-repeat="item in departlist" >
          <div class="col-80" ng-click="tantan(item.DeptName,item.DeptID,item)">
            <ion-checkbox class="checkbox-dark" ng-model="item.isSelected" style="border: 0"><img src="img/icon_org.png" style="width: 25px;height: 25px" >
              <strong style="position: absolute;left: 33%;top:30%">{{item.DeptName}}</strong>
            </ion-checkbox>
          </div>
          <div style="position: absolute;left: 80%;">
            <button class="button button-clear" ng-click="jumpGroupThird(item.DeptID,deptinfo)" style="color: #0a9dc7">下级</button>
          </div>
        </ion-item>
      </ion-list>
      <ion-list>
        <ion-item class="row" style="height: 60px" align="left" ng-repeat="item in userlist">
          <div class="col-80" ng-click="tantan1(item.UserName,item.UserID)" >
            <ion-checkbox class="checkbox-dark" style="border: 0"><img src="img/icon_friends.png" style="width: 25px;height: 25px">
              <strong style="position: absolute;left: 33%;top:30%">{{item.UserName}}</strong>
            </ion-checkbox>
          </div>
          <div style="position: absolute;left: 80%;">
            <button class="button button-clear" style="color: #0a9dc7" ng-click="goGroupSecondDetail(item.UserID)">详情</button>
          </div>
        </ion-item>
      </ion-list>
    </div>
    <ion-infinite-scroll  ng-if="secondStatus" on-infinite="loadMoreSecond()" distance="1%" ></ion-infinite-scroll>
  </ion-content>
  <ion-footer-bar>
    <div style="position: absolute;right: 5px;width: 50px">
      <button class="button  button-balanced " ng-click="secondConfirm()">
        确定
      </button>
    </div>
  </ion-footer-bar>
</ion-view>



