<ion-view view-title={{deptinfo2}} class="common-view-color ">
  <ion-nav-bar align-title="center" class="newbarhead">
    <ion-nav-buttons side="left">
      <button class="button  button-icon icon ion-ios-arrow-left common-color-white" ng-click="backSecond()">
        返回
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content>
    <ion-scroll zooming="true" direction="x" style="width: 100%" >
      <div id="thirdscroll" class="div-a-style">
        <a id="a1" class="a-style" href="#/addnewpersonfirst/{{createType}}/{{gourpId}}/{{groupName}}" style="font-size: 15px" >联系人</a><img src="img/arrow-right.png" class="i-style"/>
        <a id="a2" class="a-style" ng-click="backSecond()" style="font-size: 15px">{{pppid}}</a><img src="img/arrow-right.png"  class="i-style"/>
        <a id="a3" class="a-style" style="color: #9e9e9e;font-size: 15px">{{deptinfo2}}</a>
      </div>
    </ion-scroll>
    <div>
      <ion-list>
        <ion-item class="row" style="height: 65px" align="left" ng-repeat="item in departthirdlist" >
          <div class="col-80" >
            <ion-checkbox class="checkbox-dark common-add-check" ng-model="item.isSelected" ><img src="img/icon_org.png" class="common-add-img" >
              <span class="common-add-span">{{item.DeptName}}</span>
            </ion-checkbox>
          </div>
          <div class="col">
            <button id="changecolor" class="button button-clear common-add-button" ng-click="jumpGroupForth(item.DeptID,pppid,deptinfo2,item.isSelected)" ><span class="common-add-button-span">下级</span></button>
          </div>
        </ion-item>
      </ion-list>
      <ion-list>
        <ion-item class="row" style="height: 65px" align="left" ng-repeat="item in userthirdlist">
          <div class="col-80"  >
            <ion-checkbox class="checkbox-dark common-add-check" ng-model="item.isSelected" ><img src="img/icon_friends.png" class="common-add-img">
              <span class="common-add-span">{{item.UserName}}</span>
            </ion-checkbox>
          </div>
          <div class="col">
            <button  class="button button-clear common-add-button" ng-click="goGroupThirdDetail(item.UserID)" ><span class="common-add-button-span">详情</span></button>
          </div>
        </ion-item>
      </ion-list>
    </div>
    <ion-infinite-scroll  ng-if="thirdStatus" on-infinite="loadThirdMore()" distance="1%" ></ion-infinite-scroll>
  </ion-content>
  <ion-footer-bar>
    <div style="position: absolute;right: 5px;width: 50px">
      <button class="button button-balanced " ng-click="thirdConfirm()">
        确定
      </button>
    </div>
  </ion-footer-bar>
</ion-view>




