<ion-view view-title={{deptinfo6}} class="common-view-color">
  <ion-nav-bar align-title="center"  class="newbarhead">
    <ion-nav-buttons side="left">
      <button class="button  button-icon icon ion-ios-arrow-left common-color-white" ng-click="backFifth()">
        返回
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content>
    <ion-scroll zooming="true" direction="x" style="width: 100%">
      <div id="sixthscroll" class="div-a-style">
        <a id="a1" class="a-style" href="#/addnewpersonfirst/{{createType}}/{{gourpId}}/{{groupName}}/{{functionTag}}" style="font-size: 15px" >联系人</a><img src="img/arrow-right.png" class="i-style"/>
        <a id="a2" class="a-style" ng-click="fromSixthToSecond(firstidInSix)" style="font-size: 15px">{{secondName}}</a><img src="img/arrow-right.png"  class="i-style"/>
        <a id="a3" class="a-style"  ng-click="fromSixthToThird(secondidInSix,secondName)" style="font-size: 15px">{{thirdName}}</a><img src="img/arrow-right.png" class="i-style"/>
        <a id="a4" class="a-style" ng-click="fromSixthToForth(thirdidInSix,secondName,thirdName)" style="font-size: 15px">{{forthName}}</a><img src="img/arrow-right.png" class="i-style"/>
        <a id="a5" class="a-style" ng-click="backFifth()" style="font-size: 15px">{{fifthName}}</a><img src="img/arrow-right.png" class="i-style"/>
        <a id="a6" class="a-style" style="color: #9e9e9e;font-size: 15px">{{deptinfo6}}</a>
      </div>
    </ion-scroll>
    <div>
      <ion-list>
        <ion-item class="row" style="height: 65px" align="left" ng-repeat="item in departsixthlist" >
          <div class="col-80" ng-if="functionTag=='groupchat'">
            <ion-checkbox class="checkbox-dark common-add-check" ng-model="item.isSelected" ><img src="img/icon_org.png" class="common-add-img" >
              <span class="common-add-span">{{item.DeptName}}</span>
            </ion-checkbox>
          </div>
          <div class="col-80" ng-if="functionTag=='file'">
            <img src="img/icon_org.png" class="common-add-img" style="margin-left: 10px" >
            <span class="common-add-span" style="left: 20%">{{item.DeptName}}</span>
          </div>
          <div class="col">
            <button id="changecolor" class="button button-clear common-add-button" ng-click="jumpGroupSeventh(item.DeptID,secondName,thirdName,forthName,fifthName,deptinfo6,item.isSelected)"><span class="common-add-button-span">下级</span></button>
          </div>
        </ion-item>
      </ion-list>
      <ion-list>
        <ion-item class="row" style="height: 65px" align="left" ng-repeat="item in usersixthlist">
          <div class="col-80"  >
            <ion-checkbox class="checkbox-dark common-add-check" ng-model="item.isSelected" ><img src="img/icon_friends.png" class="common-add-img">
              <span class="common-add-span">{{item.UserName}}</span>
            </ion-checkbox>
          </div>
          <div class="col">
            <button  class="button button-clear common-add-button" ng-click="goGroupSixthDetail(item.UserID)"><span class="common-add-button-span">详情</span></button>
          </div>
        </ion-item>
      </ion-list>
    </div>
    <ion-infinite-scroll  ng-if="sixthStatus" on-infinite="loadSixthMore()" distance="1%" ></ion-infinite-scroll>
  </ion-content>
  <ion-footer-bar>
    <div style="position: absolute;right: 5px;width: 50px">
      <button ng-if="functionTag=='groupchat'" class="button button-balanced " ng-click="sixthConfirm()">
        确定
      </button>
      <button ng-if="functionTag=='file' && userlist.length!=0" class="button button-balanced " ng-click="gosixthMesstexting()">
        提交
      </button>
    </div>
  </ion-footer-bar>
</ion-view>





