<ion-view view-title="添加新成员" class="common-view-color">

  <ion-nav-bar align-title="center" class="newbarhead">
    <ion-nav-buttons side="left">
      <button class="button  button-icon icon ion-ios-arrow-left common-color-white " ng-click="backback()">
        取消
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>

  <ion-content>
    <div class="background_white">
      <ion-list>
        <ion-item ng-repeat="item in depts"  ng-click="jumpGroupSecond(item.DeptID)">
          <div class="row">
            <div class="col">
              <img src="img/icon_org.png"  class="addNewMemberImg">
              <span class="font_16">{{item.DeptName}}</span>
              <img class="addNewPersonFirstImg" src="img/newjiantou.png">
            </div>
          </div>
         </ion-item>
      </ion-list>
    </div>
  </ion-content>
</ion-view>

