<ion-view view-title={{deptinfo2}} class="common-view-color ">
  <ion-nav-bar align-title="center" class="newbarhead">
    <ion-nav-buttons side="left">
      <button class="button  button-icon icon ion-ios-arrow-left common-color-white" ng-click="backSecond()" >
        返回
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content >

    <ion-scroll zooming="true" direction="x" style="width: 100%" >
      <div id="scrollDiv" class="div-a-style">
        <a id="a1" class="a-style" href="#/tab/contacts">联系人</a><img src="img/arrow-right.png" class="i-style"/>
        <a id="a2" class="a-style" ng-click="backSecond()">{{pppid}}</a><img src="img/arrow-right.png"  class="i-style"/>
        <a id="a3" class="a-style">{{deptinfo2}}</a>
      </div>
    </ion-scroll>

    <!--列表-->
    <div class="background_white">
      <ion-list>
        <ion-item ng-repeat=" item in departthirdlist"   ng-click="jumpForth(item.DeptID,pppid,deptinfo2,item.ChildCount)">
          <div class="row">
            <div class="col">
              <img  src="img/im_contact_con.png" class="addNewMemberImg">
              <span class="font_16">{{item.DeptName}}</span>
            </div>
          </div>

        </ion-item>
        <ion-item ng-repeat=" item in userthirdlist"  ng-click="goThirdDetail(item.UserID)">
          <div class="row">
            <div class="col-15">
              <img src="img/icon_friends.png"  class="addNewMemberImg">

            </div>
            <div class="col-85">
              <!--当该员工有职务时直接显示-->
              <span class="font_16" >{{item.UserName}}</span>
              <p class="proname" ng-if="item.ProName != '未填写'">
                {{item.ProName}}
              </p>
            </div>
          </div>

        </ion-item>
      </ion-list>
    </div>
    <!-- ion-infinite-scroll 上拉加载数据指令 distance默认1% nf-if的值为false时，就禁止执行on-infinite  -->
    <ion-infinite-scroll  ng-if="thirdStatus" on-infinite="loadThirdMore()" distance="1%" ></ion-infinite-scroll>
  </ion-content>
</ion-view>



