<ion-view view-title="我的群组">
  <ion-nav-bar align-title="center" class="bar-stable">
    <ion-nav-buttons side="left">
      <button class="button  button-icon icon ion-ios-arrow-back" ui-sref="tab.contacts">
        联系人
      </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
      <button class=" button button-icon " ng-click="meizuo()">创建聊天</button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content 　overflow-scroll="false">
    <ion-item class="rj-contacts-item" ng-if="ismycreat>0">
      <div class="rj-contacts-index-bar">我创建的</div>
      <ion-list>
        <ion-item class="item-remove-animate item-avatar item-icon-right " ng-repeat="item in grouplist"
                  ng-if="item.isMyGroup" ng-click="goCreateGroup(item.GroupID,item.GroupName,item.isMyGroup)">
          <div ng-if="item.GroupID.substring((item.GroupID.length-1),item.GroupID.length)==1||item.GroupID.substring((item.GroupID.length-1),item.GroupID.length)==9" class=" square1" style=" position: absolute;left: 5%;font-size: 14px;padding-top: 9px">群</div>
          <div ng-if="item.GroupID.substring((item.GroupID.length-1),item.GroupID.length)==2||item.GroupID.substring((item.GroupID.length-1),item.GroupID.length)==8" class=" square2" style=" position: absolute;left: 5%;font-size: 14px;padding-top: 9px">群</div>
          <div ng-if="item.GroupID.substring((item.GroupID.length-1),item.GroupID.length)==3||item.GroupID.substring((item.GroupID.length-1),item.GroupID.length)==7" class=" square3" style=" position: absolute;left: 5%;font-size: 14px;padding-top: 9px">群</div>
          <div ng-if="item.GroupID.substring((item.GroupID.length-1),item.GroupID.length)==4||item.GroupID.substring((item.GroupID.length-1),item.GroupID.length)==6" class=" square4" style=" position: absolute;left: 5%;font-size: 14px;padding-top: 9px">群</div>
          <div ng-if="item.GroupID.substring((item.GroupID.length-1),item.GroupID.length)==5||item.GroupID.substring((item.GroupID.length-1),item.GroupID.length)==0" class=" square5" style=" position: absolute;left: 5%;font-size: 14px;padding-top: 9px">群</div>
          <!--<img src="img/default_org_icon.png">-->
          <h2>{{item.GroupName}}</h2>
          <p>{{item.MemsCount}}人</p>
        </ion-item>
      </ion-list>
    </ion-item>


    <ion-item class="rj-contacts-item">
      <div class="rj-contacts-index-bar">我加入的</div>
      <ion-list>
        <ion-item class="item-remove-animate item-avatar item-icon-right" ng-click="goDepartmentGroup(depid,deptinfo,false)">
          <div  class="square6" style=" position: absolute;left: 5%;font-size: 14px;padding-top: 9px">群</div>
          <!--<img src="img/default_org_icon.png">-->
          <h2 style="margin-left: 2.5%">{{deptinfo}}</h2>
          <p style="margin-left: 2.5%">部门群</p>

        </ion-item>
        <ion-item class="item-remove-animate item-avatar item-icon-right " ng-repeat="item in grouplist"
                  ng-if="!item.isMyGroup" ng-click="goJoinGroup(item.GroupID,item.GroupName,item.isMyGroup)">
          <div ng-if="item.GroupID.substring((item.GroupID.length-1),item.GroupID.length)==1||item.GroupID.substring((item.GroupID.length-1),item.GroupID.length)==9" class=" square1" style=" position: absolute;left: 5%;font-size: 14px;padding-top: 9px">群</div>
          <div ng-if="item.GroupID.substring((item.GroupID.length-1),item.GroupID.length)==2||item.GroupID.substring((item.GroupID.length-1),item.GroupID.length)==8" class=" square2" style=" position: absolute;left: 5%;font-size: 14px;padding-top: 9px">群</div>
          <div ng-if="item.GroupID.substring((item.GroupID.length-1),item.GroupID.length)==3||item.GroupID.substring((item.GroupID.length-1),item.GroupID.length)==7" class=" square3" style=" position: absolute;left: 5%;font-size: 14px;padding-top: 9px">群</div>
          <div ng-if="item.GroupID.substring((item.GroupID.length-1),item.GroupID.length)==4||item.GroupID.substring((item.GroupID.length-1),item.GroupID.length)==6" class=" square4" style=" position: absolute;left: 5%;font-size: 14px;padding-top: 9px">群</div>
          <div ng-if="item.GroupID.substring((item.GroupID.length-1),item.GroupID.length)==5||item.GroupID.substring((item.GroupID.length-1),item.GroupID.length)==0" class=" square5" style=" position: absolute;left: 5%;font-size: 14px;padding-top: 9px">群</div>
          <!--<img src="img/default_org_icon.png">-->
          <h2 style="margin-left: 2.5%">{{item.GroupName}}</h2>
          <p style="margin-left: 2.5%">{{item.MemsCount}}人</p>
        </ion-item>
      </ion-list>
    </ion-item>

  </ion-content>
</ion-view>



