

<ion-view view-title={{deptinfo5}} class="common-view-color ">
  <ion-nav-bar align-title="center" class="newbarhead">
    <ion-nav-buttons side="left">
      <button class="button  button-icon icon ion-ios-arrow-left common-color-white" ng-click="backForth()">
        返回
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content  >
    <ion-scroll zooming="true" direction="x" style="width: 100%">
    <div id="scrollDiv" class="div-a-style">
      <a id="a1" class="a-style" href="#/tab/contacts">联系人</a><img src="img/arrow-right.png" class="i-style"/>
      <a id="a2" class="a-style" ng-click="fromFifthToSecond(firstid)">{{secondName}}</a><img src="img/arrow-right.png"  class="i-style"/>
      <a id="a3" class="a-style"  ng-click="fromFifthToThird(secondid,secondName)">{{thirdName}}</a><img src="img/arrow-right.png" class="i-style"/>
      <a id="a4" class="a-style" ng-click="backForth()">{{forthName}}</a><img src="img/arrow-right.png" class="i-style"/>
      <a id="a5" class="a-style">{{deptinfo5}}</a>
    </div>
    </ion-scroll>
    <div class="background_white">
      <ion-list>
        <ion-item ng-repeat="item in departfifthlist"   ng-click="jumpSixth(item.DeptID,secondName,thirdName,forthName,deptinfo5,item.ChildCount)">

          <div class="row">
            <div class="col">
              <img  src="img/im_contact_con.png" class="addNewMemberImg">
              <span class="font_16">{{item.DeptName}}</span>
            </div>
          </div>
        </ion-item>
        <ion-item ng-repeat=" item in userfifthlist"  ng-click="goFifthDetail(item.UserID)" >
          <div class="row">
            <div class="col">
              <img  src="img/icon_friends.png" class="addNewMemberImg">
              <span class="font_16">{{item.UserName}}</span>
            </div>
          </div>
        </ion-item>
      </ion-list>
    </div>

    <ion-infinite-scroll  ng-if="fifthStatus" on-infinite="loadFifthMore()" distance="1%" ></ion-infinite-scroll>

  </ion-content>
</ion-view>



