<ion-view city-list-box="" view-title="手机通讯录">

  <ion-nav-bar align-title="center">
    <ion-nav-buttons side="left">
      <button class="button  button-icon icon ion-ios-arrow-back" ui-sref="tab.contacts">
        联系人
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>


  <ion-content scrollbar-y="false">

    <div class=" item-input-inset" id="searchbutton" ng-click="goLocalSearch()">
      <label class="item-input-wrapper">
        <i class="icon ion-ios-search placeholder-icon"></i>
        <input type="search" placeholder="Search" ng-model="query" id="searchdata1" >
      </label>
    </div>


    <ion-list  citybox-select  >


      <ion-item id="contact-A" class="rj-contacts-item" ng-show="contactsA.length>0" >
        <div class="rj-contacts-index-bar">A</div>
        <ion-list class="rj-list" ng-repeat="contact in contactsA" >
          <ion-item class="rj-item">
            <div class="rj-contacts-pic">
              <div ng-if="!contact.isplatform" class=" circle8" style=" position: absolute;left: 1%;top:17%;font-size: 12px;padding-top: 1px;">本地</div>
              <div ng-click="localgoDetail(contact.platformid)" ng-if="contact.isplatform" class=" circle7" style=" position: absolute;left: 1%;top:17%;font-size: 12px;padding-top: 1px;">平台</div>
            </div>
            <h2 ng-click="tanchuang(contact.phonenumber,contact.name)">{{contact.name}}</h2>
            <p ng-click="tanchuang(contact.phonenumber,contact.name)">{{contact.phonenumber}}</p>
          </ion-item>
        </ion-list>
      </ion-item>


      <ion-item id="contact-B" class="rj-contacts-item" ng-show="contactsB.length>0">
        <div class="rj-contacts-index-bar">B</div>
        <ion-list class="rj-list">
          <ion-item class="rj-item" ng-repeat="contact in contactsB" >
            <div class="rj-contacts-pic">

              <div ng-if="!contact.isplatform" class=" circle8" style=" position: absolute;left: 1%;top:17%;font-size: 12px;padding-top: 1px;">本地</div>
              <div ng-click="localgoDetail(contact.platformid)" ng-if="contact.isplatform" class=" circle7" style=" position: absolute;left: 1%;top:17%;font-size: 12px;padding-top: 1px;">平台</div>
            </div>
            <h2 ng-click="tanchuang(contact.phonenumber,contact.name)">{{contact.name}}</h2>
            <p ng-click="tanchuang(contact.phonenumber,contact.name)">{{contact.phonenumber}}</p>
          </ion-item>
        </ion-list>
      </ion-item>


      <ion-item  id="contact-C" class="rj-contacts-item" ng-show="contactsC.length>0">
        <div class="rj-contacts-index-bar">C</div>
        <ion-list class="rj-list">
          <ion-item class="rj-item" ng-repeat="contact in contactsC" >
            <div class="rj-contacts-pic">

              <div ng-if="!contact.isplatform" class=" circle8" style=" position: absolute;left: 1%;top:17%;font-size: 12px;padding-top: 1px;">本地</div>
              <div ng-click="localgoDetail(contact.platformid)" ng-if="contact.isplatform" class=" circle7" style=" position: absolute;left: 1%;top:17%;font-size: 12px;padding-top: 1px;">平台</div>
            </div>
            <h2 ng-click="tanchuang(contact.phonenumber,contact.name)">{{contact.name}}</h2>
            <p ng-click="tanchuang(contact.phonenumber,contact.name)">{{contact.phonenumber}}</p>
          </ion-item>
        </ion-list>
      </ion-item>


      <ion-item id="contact-D" class="rj-contacts-item" ng-show="contactsD.length>0">
        <div class="rj-contacts-index-bar">D</div>
        <ion-list class="rj-list">
          <ion-item class="rj-item" ng-repeat="contact in contactsD" >
            <div class="rj-contacts-pic">
              <div ng-if="!contact.isplatform" class=" circle8" style=" position: absolute;left: 1%;top:17%;font-size: 12px;padding-top: 1px;">本地</div>
              <div ng-click="localgoDetail(contact.platformid)" ng-if="contact.isplatform" class=" circle7" style=" position: absolute;left: 1%;top:17%;font-size: 12px;padding-top: 1px;">平台</div>
            </div>
            <h2 ng-click="tanchuang(contact.phonenumber,contact.name)">{{contact.name}}</h2>
            <p ng-click="tanchuang(contact.phonenumber,contact.name)">{{contact.phonenumber}}</p>
          </ion-item>
        </ion-list>
      </ion-item>


      <ion-item  id="contact-E" class="rj-contacts-item" ng-show="contactsE.length>0">
        <div class="rj-contacts-index-bar">E</div>
        <ion-list class="rj-list">
          <ion-item class="rj-item" ng-repeat="contact in contactsE" >
            <div class="rj-contacts-pic">
              <div ng-if="!contact.isplatform" class=" circle8" style=" position: absolute;left: 1%;top:17%;font-size: 12px;padding-top: 1px;">本地</div>
              <div ng-click="localgoDetail(contact.platformid)" ng-if="contact.isplatform" class=" circle7" style=" position: absolute;left: 1%;top:17%;font-size: 12px;padding-top: 1px;">平台</div>
            </div>
            <h2 ng-click="tanchuang(contact.phonenumber,contact.name)">{{contact.name}}</h2>
            <p ng-click="tanchuang(contact.phonenumber,contact.name)">{{contact.phonenumber}}</p>
          </ion-item>
        </ion-list>
      </ion-item>

      <ion-item id="contact-F" class="rj-contacts-item" ng-show="contactsF.length>0">
        <div class="rj-contacts-index-bar">F</div>
        <ion-list class="rj-list">
          <ion-item class="rj-item" ng-repeat="contact in contactsF" >
            <div class="rj-contacts-pic">
              <div ng-if="!contact.isplatform" class=" circle8" style=" position: absolute;left: 1%;top:17%;font-size: 12px;padding-top: 1px;">本地</div>
              <div ng-click="localgoDetail(contact.platformid)" ng-if="contact.isplatform" class=" circle7" style=" position: absolute;left: 1%;top:17%;font-size: 12px;padding-top: 1px;">平台</div>
            </div>
            <h2 ng-click="tanchuang(contact.phonenumber,contact.name)">{{contact.name}}</h2>
            <p ng-click="tanchuang(contact.phonenumber,contact.name)">{{contact.phonenumber}}</p>
          </ion-item>
        </ion-list>
      </ion-item>


      <ion-item id="contact-G" class="rj-contacts-item" ng-show="contactsG.length>0">
        <div class="rj-contacts-index-bar">G</div>
        <ion-list class="rj-list">
          <ion-item class="rj-item" ng-repeat="contact in contactsG" >
            <div class="rj-contacts-pic">
              <div ng-if="!contact.isplatform" class=" circle8" style=" position: absolute;left: 1%;top:17%;font-size: 12px;padding-top: 1px;">本地</div>
              <div ng-click="localgoDetail(contact.platformid)" ng-if="contact.isplatform" class=" circle7" style=" position: absolute;left: 1%;top:17%;font-size: 12px;padding-top: 1px;">平台</div>
            </div>
            <h2 ng-click="tanchuang(contact.phonenumber,contact.name)">{{contact.name}}</h2>
            <p ng-click="tanchuang(contact.phonenumber,contact.name)">{{contact.phonenumber}}</p>
          </ion-item>
        </ion-list>
      </ion-item>


      <ion-item id="contact-H" class="rj-contacts-item" ng-show="contactsH.length>0">
        <div class="rj-contacts-index-bar">H</div>
        <ion-list class="rj-list">
          <ion-item class="rj-item" ng-repeat="contact in contactsH" >
            <div class="rj-contacts-pic">
              <div ng-if="!contact.isplatform" class=" circle8" style=" position: absolute;left: 1%;top:17%;font-size: 12px;padding-top: 1px;">本地</div>
              <div ng-click="localgoDetail(contact.platformid)" ng-if="contact.isplatform" class=" circle7" style=" position: absolute;left: 1%;top:17%;font-size: 12px;padding-top: 1px;">平台</div>
            </div>
            <h2 ng-click="tanchuang(contact.phonenumber,contact.name)">{{contact.name}}</h2>
            <p ng-click="tanchuang(contact.phonenumber,contact.name)">{{contact.phonenumber}}</p>
          </ion-item>
        </ion-list>
      </ion-item>


      <ion-item id="contact-I" class="rj-contacts-item" ng-show="contactsI.length>0">
        <div class="rj-contacts-index-bar">I</div>
        <ion-list class="rj-list">
          <ion-item class="rj-item" ng-repeat="contact in contactsI" >
            <div class="rj-contacts-pic">
              <div ng-if="!contact.isplatform" class=" circle8" style=" position: absolute;left: 1%;top:17%;font-size: 12px;padding-top: 1px;">本地</div>
              <div ng-click="localgoDetail(contact.platformid)" ng-if="contact.isplatform" class=" circle7" style=" position: absolute;left: 1%;top:17%;font-size: 12px;padding-top: 1px;">平台</div>
            </div>
            <h2 ng-click="tanchuang(contact.phonenumber,contact.name)">{{contact.name}}</h2>
            <p ng-click="tanchuang(contact.phonenumber,contact.name)">{{contact.phonenumber}}</p>
          </ion-item>
        </ion-list>
      </ion-item>


      <ion-item id="contact-J" class="rj-contacts-item" ng-show="contactsJ.length>0">
        <div class="rj-contacts-index-bar">J</div>
        <ion-list class="rj-list">
          <ion-item class="rj-item" ng-repeat="contact in contactsJ" >
            <div class="rj-contacts-pic">
              <div ng-if="!contact.isplatform" class=" circle8" style=" position: absolute;left: 1%;top:17%;font-size: 12px;padding-top: 1px;">本地</div>
              <div ng-click="localgoDetail(contact.platformid)" ng-if="contact.isplatform" class=" circle7" style=" position: absolute;left: 1%;top:17%;font-size: 12px;padding-top: 1px;">平台</div>
            </div>
            <h2 ng-click="tanchuang(contact.phonenumber,contact.name)">{{contact.name}}</h2>
            <p ng-click="tanchuang(contact.phonenumber,contact.name)">{{contact.phonenumber}}</p>
          </ion-item>
        </ion-list>
      </ion-item>


      <ion-item id="contact-K" class="rj-contacts-item" ng-show="contactsK.length>0">
        <div class="rj-contacts-index-bar">K</div>
        <ion-list class="rj-list">
          <ion-item class="rj-item" ng-repeat="contact in contactsK" >
            <div class="rj-contacts-pic">
              <div ng-if="!contact.isplatform" class=" circle8" style=" position: absolute;left: 1%;top:17%;font-size: 12px;padding-top: 1px;">本地</div>
              <div ng-click="localgoDetail(contact.platformid)" ng-if="contact.isplatform" class=" circle7" style=" position: absolute;left: 1%;top:17%;font-size: 12px;padding-top: 1px;">平台</div>
            </div>
            <h2 ng-click="tanchuang(contact.phonenumber,contact.name)">{{contact.name}}</h2>
            <p ng-click="tanchuang(contact.phonenumber,contact.name)">{{contact.phonenumber}}</p>
          </ion-item>
        </ion-list>
      </ion-item>


      <ion-item id="contact-L" class="rj-contacts-item" ng-show="contactsL.length>0">
        <div class="rj-contacts-index-bar">L</div>
        <ion-list class="rj-list">
          <ion-item class="rj-item" ng-repeat="contact in contactsL" >
            <div class="rj-contacts-pic">
              <div ng-if="!contact.isplatform" class=" circle8" style=" position: absolute;left: 1%;top:17%;font-size: 12px;padding-top: 1px;">本地</div>
              <div ng-click="localgoDetail(contact.platformid)" ng-if="contact.isplatform" class=" circle7" style=" position: absolute;left: 1%;top:17%;font-size: 12px;padding-top: 1px;">平台</div>
            </div>
            <h2 ng-click="tanchuang(contact.phonenumber,contact.name)">{{contact.name}}</h2>
            <p ng-click="tanchuang(contact.phonenumber,contact.name)">{{contact.phonenumber}}</p>
          </ion-item>
        </ion-list>
      </ion-item>


      <ion-item id="contact-M" class="rj-contacts-item" ng-show="contactsM.length>0">
        <div class="rj-contacts-index-bar">M</div>
        <ion-list class="rj-list">
          <ion-item class="rj-item" ng-repeat="contact in contactsM" >
            <div class="rj-contacts-pic">
              <div ng-if="!contact.isplatform" class=" circle8" style=" position: absolute;left: 1%;top:17%;font-size: 12px;padding-top: 1px;">本地</div>
              <div ng-click="localgoDetail(contact.platformid)" ng-if="contact.isplatform" class=" circle7" style=" position: absolute;left: 1%;top:17%;font-size: 12px;padding-top: 1px;">平台</div>
            </div>
            <h2 ng-click="tanchuang(contact.phonenumber,contact.name)">{{contact.name}}</h2>
            <p ng-click="tanchuang(contact.phonenumber,contact.name)">{{contact.phonenumber}}</p>
          </ion-item>
        </ion-list>
      </ion-item>


      <ion-item id="contact-N" class="rj-contacts-item" ng-show="contactsN.length>0">
        <div class="rj-contacts-index-bar">N</div>
        <ion-list class="rj-list">
          <ion-item class="rj-item" ng-repeat="contact in contactsN" >
            <div class="rj-contacts-pic">
              <div ng-if="!contact.isplatform" class=" circle8" style=" position: absolute;left: 1%;top:17%;font-size: 12px;padding-top: 1px;">本地</div>
              <div ng-click="localgoDetail(contact.platformid)" ng-if="contact.isplatform" class=" circle7" style=" position: absolute;left: 1%;top:17%;font-size: 12px;padding-top: 1px;">平台</div>
            </div>
            <h2 ng-click="tanchuang(contact.phonenumber,contact.name)">{{contact.name}}</h2>
            <p ng-click="tanchuang(contact.phonenumber,contact.name)">{{contact.phonenumber}}</p>
          </ion-item>
        </ion-list>
      </ion-item>

      <ion-item id="contact-O"class="rj-contacts-item" ng-show="contactsO.length>0">
        <div class="rj-contacts-index-bar">O</div>
        <ion-list class="rj-list">
          <ion-item class="rj-item" ng-repeat="contact in contactsO" >
            <div class="rj-contacts-pic">
              <div ng-if="!contact.isplatform" class=" circle8" style=" position: absolute;left: 1%;top:17%;font-size: 12px;padding-top: 1px;">本地</div>
              <div ng-click="localgoDetail(contact.platformid)" ng-if="contact.isplatform" class=" circle7" style=" position: absolute;left: 1%;top:17%;font-size: 12px;padding-top: 1px;">平台</div>
            </div>
            <h2 ng-click="tanchuang(contact.phonenumber,contact.name)">{{contact.name}}</h2>
            <p ng-click="tanchuang(contact.phonenumber,contact.name)">{{contact.phonenumber}}</p>
          </ion-item>
        </ion-list>
      </ion-item>


      <ion-item id="contact-P" class="rj-contacts-item" ng-show="contactsP.length>0">
        <div class="rj-contacts-index-bar">P</div>
        <ion-list class="rj-list">
          <ion-item class="rj-item" ng-repeat="contact in contactsP" >
            <div class="rj-contacts-pic">
              <div ng-if="!contact.isplatform" class=" circle8" style=" position: absolute;left: 1%;top:17%;font-size: 12px;padding-top: 1px;">本地</div>
              <div ng-click="localgoDetail(contact.platformid)" ng-if="contact.isplatform" class=" circle7" style=" position: absolute;left: 1%;top:17%;font-size: 12px;padding-top: 1px;">平台</div>
            </div>
            <h2 ng-click="tanchuang(contact.phonenumber,contact.name)">{{contact.name}}</h2>
            <p ng-click="tanchuang(contact.phonenumber,contact.name)">{{contact.phonenumber}}</p>
          </ion-item>
        </ion-list>
      </ion-item>


      <ion-item id="contact-Q"class="rj-contacts-item" ng-show="contactsQ.length>0">
        <div class="rj-contacts-index-bar">Q</div>
        <ion-list class="rj-list">
          <ion-item class="rj-item" ng-repeat="contact in contactsQ" >
            <div class="rj-contacts-pic">
              <div ng-if="!contact.isplatform" class=" circle8" style=" position: absolute;left: 1%;top:17%;font-size: 12px;padding-top: 1px;">本地</div>
              <div ng-click="localgoDetail(contact.platformid)" ng-if="contact.isplatform" class=" circle7" style=" position: absolute;left: 1%;top:17%;font-size: 12px;padding-top: 1px;">平台</div>
            </div>
            <h2 ng-click="tanchuang(contact.phonenumber,contact.name)">{{contact.name}}</h2>
            <p ng-click="tanchuang(contact.phonenumber,contact.name)">{{contact.phonenumber}}</p>
          </ion-item>
        </ion-list>
      </ion-item>


      <ion-item id="contact-R" class="rj-contacts-item" ng-show="contactsR.length>0">
        <div class="rj-contacts-index-bar">R</div>
        <ion-list class="rj-list">
          <ion-item class="rj-item" ng-repeat="contact in contactsR" >
            <div class="rj-contacts-pic">
              <div ng-if="!contact.isplatform" class=" circle8" style=" position: absolute;left: 1%;top:17%;font-size: 12px;padding-top: 1px;">本地</div>
              <div ng-click="localgoDetail(contact.platformid)" ng-if="contact.isplatform" class=" circle7" style=" position: absolute;left: 1%;top:17%;font-size: 12px;padding-top: 1px;">平台</div>
            </div>
            <h2 ng-click="tanchuang(contact.phonenumber,contact.name)">{{contact.name}}</h2>
            <p ng-click="tanchuang(contact.phonenumber,contact.name)">{{contact.phonenumber}}</p>
          </ion-item>
        </ion-list>
      </ion-item>


      <ion-item id="contact-S" class="rj-contacts-item" ng-show="contactsS.length>0">
        <div class="rj-contacts-index-bar">S</div>
        <ion-list class="rj-list">
          <ion-item class="rj-item" ng-repeat="contact in contactsS" >
            <div class="rj-contacts-pic">
              <div ng-if="!contact.isplatform" class=" circle8" style=" position: absolute;left: 1%;top:17%;font-size: 12px;padding-top: 1px;">本地</div>
              <div ng-click="localgoDetail(contact.platformid)" ng-if="contact.isplatform" class=" circle7" style=" position: absolute;left: 1%;top:17%;font-size: 12px;padding-top: 1px;">平台</div>
            </div>
            <h2 ng-click="tanchuang(contact.phonenumber,contact.name)">{{contact.name}}</h2>
            <p ng-click="tanchuang(contact.phonenumber,contact.name)">{{contact.phonenumber}}</p>
          </ion-item>
        </ion-list>
      </ion-item>


      <ion-item id="contact-T" class="rj-contacts-item" ng-show="contactsT.length>0">
        <div class="rj-contacts-index-bar">T</div>
        <ion-list class="rj-list">
          <ion-item class="rj-item" ng-repeat="contact in contactsT" >
            <div class="rj-contacts-pic">
              <div ng-if="!contact.isplatform" class=" circle8" style=" position: absolute;left: 1%;top:17%;font-size: 12px;padding-top: 1px;">本地</div>
              <div ng-click="localgoDetail(contact.platformid)" ng-if="contact.isplatform" class=" circle7" style=" position: absolute;left: 1%;top:17%;font-size: 12px;padding-top: 1px;">平台</div>
            </div>
            <h2 ng-click="tanchuang(contact.phonenumber,contact.name)">{{contact.name}}</h2>
            <p ng-click="tanchuang(contact.phonenumber,contact.name)">{{contact.phonenumber}}</p>
          </ion-item>
        </ion-list>
      </ion-item>


      <ion-item id="contact-U" class="rj-contacts-item" ng-show="contactsU.length>0">
        <div class="rj-contacts-index-bar">U</div>
        <ion-list class="rj-list">
          <ion-item class="rj-item" ng-repeat="contact in contactsU" >
            <div class="rj-contacts-pic">
              <div ng-if="!contact.isplatform" class=" circle8" style=" position: absolute;left: 1%;top:17%;font-size: 12px;padding-top: 1px;">本地</div>
              <div ng-click="localgoDetail(contact.platformid)" ng-if="contact.isplatform" class=" circle7" style=" position: absolute;left: 1%;top:17%;font-size: 12px;padding-top: 1px;">平台</div>
            </div>
            <h2 ng-click="tanchuang(contact.phonenumber,contact.name)">{{contact.name}}</h2>
            <p ng-click="tanchuang(contact.phonenumber,contact.name)">{{contact.phonenumber}}</p>
          </ion-item>
        </ion-list>
      </ion-item>


      <ion-item id="contact-V" class="rj-contacts-item" ng-show="contactsV.length>0">
        <div class="rj-contacts-index-bar">V</div>
        <ion-list class="rj-list">
          <ion-item class="rj-item" ng-repeat="contact in contactsV" >
            <div class="rj-contacts-pic">
              <div ng-if="!contact.isplatform" class=" circle8" style=" position: absolute;left: 1%;top:17%;font-size: 12px;padding-top: 1px;">本地</div>
              <div ng-click="localgoDetail(contact.platformid)" ng-if="contact.isplatform" class=" circle7" style=" position: absolute;left: 1%;top:17%;font-size: 12px;padding-top: 1px;">平台</div>
            </div>
            <h2 ng-click="tanchuang(contact.phonenumber,contact.name)">{{contact.name}}</h2>
            <p ng-click="tanchuang(contact.phonenumber,contact.name)">{{contact.phonenumber}}</p>
          </ion-item>
        </ion-list>
      </ion-item>


      <ion-item id="contact-W" class="rj-contacts-item" ng-show="contactsW.length>0">
        <div class="rj-contacts-index-bar">W</div>
        <ion-list class="rj-list">
          <ion-item class="rj-item" ng-repeat="contact in contactsW" >
            <div class="rj-contacts-pic">
              <div ng-if="!contact.isplatform" class=" circle8" style=" position: absolute;left: 1%;top:17%;font-size: 12px;padding-top: 1px;">本地</div>
              <div ng-click="localgoDetail(contact.platformid)" ng-if="contact.isplatform" class=" circle7" style=" position: absolute;left: 1%;top:17%;font-size: 12px;padding-top: 1px;">平台</div>
            </div>
            <h2 ng-click="tanchuang(contact.phonenumber,contact.name)">{{contact.name}}</h2>
            <p ng-click="tanchuang(contact.phonenumber,contact.name)">{{contact.phonenumber}}</p>
          </ion-item>
        </ion-list>
      </ion-item>

      <ion-item id="contact-X" class="rj-contacts-item" ng-show="contactsX.length>0">
        <div class="rj-contacts-index-bar">X</div>
        <ion-list class="rj-list">
          <ion-item class="rj-item" ng-repeat="contact in contactsX" >
            <div class="rj-contacts-pic">
              <div ng-if="!contact.isplatform" class=" circle8" style=" position: absolute;left: 1%;top:17%;font-size: 12px;padding-top: 1px;">本地</div>
              <div ng-click="localgoDetail(contact.platformid)" ng-if="contact.isplatform" class=" circle7" style=" position: absolute;left: 1%;top:17%;font-size: 12px;padding-top: 1px;">平台</div>
            </div>
            <h2 ng-click="tanchuang(contact.phonenumber,contact.name)">{{contact.name}}</h2>
            <p ng-click="tanchuang(contact.phonenumber,contact.name)">{{contact.phonenumber}}</p>
          </ion-item>
        </ion-list>
      </ion-item>

      <ion-item id="contact-Y" class="rj-contacts-item" ng-show="contactsY.length>0">
        <div class="rj-contacts-index-bar">Y</div>
        <ion-list class="rj-list">
          <ion-item class="rj-item" ng-repeat="contact in contactsY" >
            <div class="rj-contacts-pic">
              <div ng-if="!contact.isplatform" class=" circle8" style=" position: absolute;left: 1%;top:17%;font-size: 12px;padding-top: 1px;">本地</div>
              <div ng-click="localgoDetail(contact.platformid)" ng-if="contact.isplatform" class=" circle7" style=" position: absolute;left: 1%;top:17%;font-size: 12px;padding-top: 1px;">平台</div>
            </div>
            <h2 ng-click="tanchuang(contact.phonenumber,contact.name)">{{contact.name}}</h2>
            <p ng-click="tanchuang(contact.phonenumber,contact.name)">{{contact.phonenumber}}</p>
          </ion-item>
        </ion-list>
      </ion-item>

      <ion-item id="contact-Z" class="rj-contacts-item" ng-show="contactsZ.length>0">
        <div class="rj-contacts-index-bar">Z</div>
        <ion-list class="rj-list">
          <ion-item class="rj-item" ng-repeat="contact in contactsZ" >
            <div class="rj-contacts-pic">
              <div ng-if="!contact.isplatform" class=" circle8" style=" position: absolute;left: 1%;top:17%;font-size: 12px;padding-top: 1px;">本地</div>
              <div ng-click="localgoDetail(contact.platformid)" ng-if="contact.isplatform" class=" circle7" style=" position: absolute;left: 1%;top:17%;font-size: 12px;padding-top: 1px;">平台</div>
            </div>
            <h2 ng-click="tanchuang(contact.phonenumber,contact.name)">{{contact.name}}</h2>
            <p ng-click="tanchuang(contact.phonenumber,contact.name)">{{contact.phonenumber}}</p>
          </ion-item>
        </ion-list>
      </ion-item>

      <ion-item id="contact-#" class="rj-contacts-item" ng-show="contactsNoSuch.length>0">
        <div class="rj-contacts-index-bar">#</div>
        <ion-list class="rj-list">
          <ion-item class="rj-item" ng-repeat="contact in contactsNoSuch" >
            <div class="rj-contacts-pic">
              <div ng-if="!contact.isplatform" class=" circle8" style=" position: absolute;left: 1%;top:17%;font-size: 12px;padding-top: 1px;">本地</div>
              <div ng-click="localgoDetail(contact.platformid)" ng-if="contact.isplatform" class=" circle7" style=" position: absolute;left: 1%;top:17%;font-size: 12px;padding-top: 1px;">平台</div>
            </div>
            <h2 ng-click="tanchuang(contact.phonenumber,contact.name)">{{contact.name}}</h2>
            <p ng-click="tanchuang(contact.phonenumber,contact.name)">{{contact.phonenumber}}</p>
          </ion-item>
        </ion-list>
      </ion-item>


    </ion-list>
  </ion-content>

  <div class="citybox-shortcuts" id="indicator">
    <a citybox-link href="#contact-A" ng-if="contactsA.length>0">A</a>
    <a citybox-link href="#contact-B" ng-if="contactsB.length>0">B</a>
    <a citybox-link href="#contact-C" ng-if="contactsC.length>0">C</a>
    <a citybox-link href="#contact-D" ng-if="contactsD.length>0">D</a>
    <a citybox-link href="#contact-E" ng-if="contactsE.length>0">E</a>
    <a citybox-link href="#contact-F" ng-if="contactsF.length>0">F</a>
    <a citybox-link href="#contact-G" ng-if="contactsG.length>0">G</a>
    <a citybox-link href="#contact-H" ng-if="contactsH.length>0">H</a>
    <a citybox-link href="#contact-I" ng-if="contactsI.length>0">I</a>
    <a citybox-link href="#contact-J" ng-if="contactsJ.length>0">J</a>
    <a citybox-link href="#contact-K" ng-if="contactsK.length>0">K</a>
    <a citybox-link href="#contact-L" ng-if="contactsL.length>0">L</a>
    <a citybox-link href="#contact-M" ng-if="contactsM.length>0">M</a>
    <a citybox-link href="#contact-N" ng-if="contactsN.length>0">N</a>
    <a citybox-link href="#contact-O" ng-if="contactsO.length>0">O</a>
    <a citybox-link href="#contact-P" ng-if="contactsP.length>0">P</a>
    <a citybox-link href="#contact-Q" ng-if="contactsQ.length>0">Q</a>
    <a citybox-link href="#contact-R" ng-if="contactsR.length>0">R</a>
    <a citybox-link href="#contact-S" ng-if="contactsS.length>0">S</a>
    <a citybox-link href="#contact-T" ng-if="contactsT.length>0">T</a>
    <a citybox-link href="#contact-U" ng-if="contactsU.length>0">U</a>
    <a citybox-link href="#contact-V" ng-if="contactsV.length>0">V</a>
    <a citybox-link href="#contact-W" ng-if="contactsW.length>0">W</a>
    <a citybox-link href="#contact-X" ng-if="contactsX.length>0">X</a>
    <a citybox-link href="#contact-Y" ng-if="contactsY.length>0">Y</a>
    <a citybox-link href="#contact-Z" ng-if="contactsZ.length>0">Z</a>
    <a citybox-link href="#contact-#" ng-if="contactsNoSuch.length>0">#</a>

  </div>

</ion-view>
