<ion-view view-title="我的群组">
  <ion-nav-bar align-title="center" class="bar-stable">
    <ion-nav-buttons side="left">
      <button class="button  button-icon icon ion-ios-arrow-back" ui-sref="tab.contacts">
        联系人
      </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
      <button class=" button button-icon " ng-click="meizuo()">发起聊天</button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content 　overflow-scroll="false">
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-click="goGroupChats()">
        <img src="img/default_org_icon.png">
        <h2>{{deptinfo}}</h2>
      </ion-item>
    </ion-list>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="item in grouplist">
        <img src="img/default_org_icon.png">
        <h2>{{item.GroupName}}</h2>
        <p>{{item.MemsCount}}</p>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>



