<ion-view view-title="我的群组">
  <ion-nav-bar align-title="center" class="bar-stable">
    <ion-nav-buttons side="left">
      <button class="button  button-icon icon ion-ios-arrow-back" ui-sref="tab.contacts">
        联系人
      </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
      <button class=" button button-icon " ng-click="createGroupChats()">创建聊天</button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content 　overflow-scroll="false">
    <ion-item class="rj-contacts-item" ng-if="ismycreat>0">
      <div class="rj-contacts-index-bar">我创建的</div>
      <ion-list>
        <ion-item class="item-remove-animate item-avatar item-icon-right " ng-repeat="item in grouplist"
                  ng-if="item.isMyGroup" ng-click="goCreateGroup(item.GroupID,item.GroupName,item.isMyGroup)">
          <img src="img/default_org_icon.png">
          <h2>{{item.GroupName}}</h2>
          <p>{{item.MemsCount}}人</p>
        </ion-item>
      </ion-list>
    </ion-item>


    <ion-item class="rj-contacts-item">
      <div class="rj-contacts-index-bar">我加入的</div>
      <ion-list>
        <ion-item class="item-remove-animate item-avatar item-icon-right" ng-click="goDepartmentGroup(depid,deptinfo,false)">
          <img src="img/default_org_icon.png">
          <h2>{{deptinfo}}</h2>
          <p>部门群</p>

        </ion-item>
        <ion-item class="item-remove-animate item-avatar item-icon-right " ng-repeat="item in grouplist"
                  ng-if="!item.isMyGroup" ng-click="goJoinGroup(item.GroupID,item.GroupName,item.isMyGroup)">
          <img src="img/default_org_icon.png">
          <h2>{{item.GroupName}}</h2>
          <p>{{item.MemsCount}}人</p>
        </ion-item>
      </ion-list>
    </ion-item>

  </ion-content>
</ion-view>



