<ion-view class="common-view-color common-bg-color" view-title="功能" >
  <ion-nav-bar align-title="center" class="newbarhead">
    <ion-nav-buttons side="left">
      <button class="button  button-icon icon ion-ios-arrow-left common-color-white" ng-click="goAcount()">
        返回
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content overflow-scroll="false">

    <div class="common-margin-top">
      <ul>
        <li>
          <div class="row" ng-click="goMasstexting()">
            <div class="col">
              <img src="img/masstexting.png" height="24px">
              <span class="common-contact-bigp">文件群发</span>
              <img src="img/newjiantou.png">
            </div>
          </div>
        </li>
      </ul>
    </div>
  </ion-content>

</ion-view >
