<ion-view cache-view="false">

  <ion-content style="background-color: #ffffff" overflow-scroll="false">
    <button class="button" ng-click="goLogin()" style="height: 15px;position: absolute;left: 28%;top: 97%;background-color: rgba(110, 102, 255, 0.11);color: #000000;z-index: 2" >使用账号密码登陆</button>
    <div class="list padding">
      <div>
        <img src="img/login4.jpg" width="100%" height="auto" style="align-content: center;z-index: 1">
      </div>
      <div style="width: 100%;height: auto; text-align: center;margin-top: -15%">
        <div id="element"></div>
      </div>

    </div>
  </ion-content>
</ion-view>
