<ion-view cache-view="false">
  <ion-content style="background-color: #ffffff" overflow-scroll="false" scroll="false">
    <div class="list padding" style="z-index: 100">
      <div  style="height: 160px;text-align: center;width:100%;margin-top: 16px">
        <img  ng-if="!picyoumeiyoua" src="img/icon_status_andriod.png" width="70px" height="70px" style="margin-top: 16px">
        <img ng-if="picyoumeiyoua" class="yuanjiao1"  src="{{securlpica}}" width="70px" height="70px" style="margin-top: 16px">
        <div ng-if="!picyoumeiyoua" class="vcenter" style="position: absolute;left: 46%;top: 67px;font-size: 15px">{{userNamea}}</div>
        <div><span style="font-size: 18px;color: #000000">{{username}}</span></div>
      </div>

      <div style="width: 100%; text-align: center;margin-top: -17%">
        <div id="element"></div>
      </div>

    </div>
    <div style="margin-top: 10%;z-index: 100">
    <h5  ng-click="goLogin()" style="height: 10px;color: #e2f3ff;position: absolute;right: 3%;bottom: 2%;z-index: 100" >切换登录方式</h5>
    </div>
    <img id="loginpica" src="img/loginmohu.png" style="align-content: center;z-index: 1;position: absolute;left: 0;top: 0">

  </ion-content>
</ion-view>
