<ion-view view-title="群成员">
  <ion-nav-bar align-title="center" class="bar-stable">
    <ion-nav-buttons side="left">
      <button class="button  button-icon icon ion-ios-arrow-back" ng-click="backAny()">
        群设置
      </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
      <button class="button button-icon icon ion-ios-people-outline" style="margin-right: 5px">添加</button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content  style="background-color:#e5e5e5 " >
    <ion-list>
      <ion-item>

      </ion-item>
    </ion-list>

  </ion-content>
</ion-view>
