<ion-view cache-view="false">
  <ion-content overflow-scroll="false" scroll="false">
    <div class="list padding" style="z-index: 1">
      <div>
        <img src="img/login4.jpg" width="100%" height="auto" style="align-content: center">
      </div>
      <label class="item item-input">
        <i class="icon  ion-android-person positive positive"></i>
        <input type="text" placeholder="请输入用户名" ng-model="name">

      </label>

      <label class="item item-input">
        <i class="icon ion-ios-unlocked-outline positive"></i>
        <input type="password" placeholder="请输入密码" ng-model="password">
      </label>

      <button class="button button-block button-positive" ng-click="login(name,password)">
        <i class="icon ion-log-in"></i>&nbsp;登录
      </button>
    <div style="font-size: 16px"><input type="checkbox" ng-checked="remPwd === 'true'" checked style="margin-left: 10px;width: 20px;height: 20px" ng-click="rememberPwd()">
      <font style="font-size: 16px;top: 10px">记住密码</font>
      <font style="float: right;font-size: 16px" ng-click="goGestureLogin()">切换登录方式</font>
      </div>


      <div style="text-align: center;margin-top: 40px;font-size: 15px">
        中国铁路总公司
      </div>
    </div>
    <div>
      <!--<button class="button" ng-click="meizuo()" style="height: 10px;;background-color: rgba(34, 218, 255, 0.11);color: #000000;position: absolute;left: 3%;bottom: 2%" >找回密码</button>-->
      <!--<button class="button" ng-click="goGestureLogin()" style="height: 10px;background-color: rgba(34, 218, 255, 0.11);color: #000000;position: absolute;right: 3%;bottom: 2%" >切换登陆方式</button>-->
    </div>
   </ion-content>
</ion-view>
