<ion-view id="messageDetail" view-title={{viewtitle}}>
  <ion-nav-bar align-title="center">

    <ion-nav-buttons side="left">
      <button class="button  button-icon icon ion-ios-arrow-back" ng-click="backFirstMenu(groupType)">
        即时通
      </button>
    </ion-nav-buttons>

    <ion-nav-buttons side="right">
      <button class="button button-icon icon ion-ios-telephone" ng-click="callperson()"></button>
    </ion-nav-buttons>

    <ion-nav-buttons side="secondary">
      <button class="button button-icon icon ion-ios-person-outline" ng-click="personalSetting()"
              style="margin-right: 5px"></button>

    </ion-nav-buttons>

  </ion-nav-bar>

  <ion-content class="rj-stable-content" delegate-handle="messageDetailsScroll"  on-drag="onDrag()" ng-click="zhiling()" id="contentaa">
    <ion-refresher refreshing-icon="ion-loading-c" on-refresh="doRefresh()" refreshing-text="获取数据中..."
                   pulling-text="更多消息" id="refresh">
    </ion-refresher>
    <p style="text-align: center" ng-if="nomore === 'true'" ng-click="skipmessagebox()">更多消息请在历史消息中查阅</p>
    <div>
      <div ng-repeat="msgSingle in msgs" >
        <!--对方发送消息时必须判断接收者id是否跟userId一致：聊天对象id-->
        <div class="rj-message-wrap" ng-if="(msgSingle.from==='false') &&(msgSingle.sessionid === userId)">
          <div ng-if="msgSingle.sessionid.substring((msgSingle.sessionid.length-1),msgSingle.sessionid.length)==1||msgSingle.sessionid.substring((msgSingle.sessionid.length-1),msgSingle.sessionid.length)==9" class=" circle1" style=" position: absolute;left: 3%;font-size: 14px;padding-top: 9px" ng-click="godetail(msgSingle.sessionid)">{{msgSingle.username.length > 2 ? msgSingle.username.substring((msgSingle.username.length-2),msgSingle.username.length):msgSingle.username}}</div>
          <div ng-if="msgSingle.sessionid.substring((msgSingle.sessionid.length-1),msgSingle.sessionid.length)==2||msgSingle.sessionid.substring((msgSingle.sessionid.length-1),msgSingle.sessionid.length)==8" class=" circle2" style=" position: absolute;left: 3%;font-size: 14px;padding-top: 9px" ng-click="godetail(msgSingle.sessionid)">{{msgSingle.username.length > 2 ? msgSingle.username.substring((msgSingle.username.length-2),msgSingle.username.length):msgSingle.username}}</div>
          <div ng-if="msgSingle.sessionid.substring((msgSingle.sessionid.length-1),msgSingle.sessionid.length)==3||msgSingle.sessionid.substring((msgSingle.sessionid.length-1),msgSingle.sessionid.length)==7" class=" circle3" style=" position: absolute;left: 3%;font-size: 14px;padding-top: 9px" ng-click="godetail(msgSingle.sessionid)">{{msgSingle.username.length > 2 ? msgSingle.username.substring((msgSingle.username.length-2),msgSingle.username.length):msgSingle.username}}</div>
          <div ng-if="msgSingle.sessionid.substring((msgSingle.sessionid.length-1),msgSingle.sessionid.length)==4||msgSingle.sessionid.substring((msgSingle.sessionid.length-1),msgSingle.sessionid.length)==6" class=" circle4" style=" position: absolute;left: 3%;font-size: 14px;padding-top: 9px" ng-click="godetail(msgSingle.sessionid)">{{msgSingle.username.length > 2 ? msgSingle.username.substring((msgSingle.username.length-2),msgSingle.username.length):msgSingle.username}}</div>
          <div ng-if="msgSingle.sessionid.substring((msgSingle.sessionid.length-1),msgSingle.sessionid.length)==5||msgSingle.sessionid.substring((msgSingle.sessionid.length-1),msgSingle.sessionid.length)==0" class=" circle5" style=" position: absolute;left: 3%;font-size: 14px;padding-top: 9px" ng-click="godetail(msgSingle.sessionid)">{{msgSingle.username.length > 2 ? msgSingle.username.substring((msgSingle.username.length-2),msgSingle.username.length):msgSingle.username}}</div>
          <!--<img src="img/mike.png" class="rj-head-pic">-->
          <span>
            <p class="rj-message" style="margin-left: 14.5%" ng-if="msgSingle.messagetype === 'Image'"><img src="{{msgSingle.message.split('###')[1]}}" style="width: 110px;" class="yuanjiao" ng-click="netScaleImage(msgSingle.message.split('###')[0],msgSingle.message.split('###')[4],msgSingle.message.split('###')[1])"/></p>
            <p class="rj-message" style="margin-left: 14.5%" ng-if="msgSingle.messagetype === 'LOCATION'"><img src="img/mapdefault.jpg" style="width: 110px;" class="yuanjiao" ng-click="entermap(msgSingle.message)" /></p>
            <p class="rj-message" style="margin-left: 14.5%" ng-if="msgSingle.messagetype === 'normal' || msgSingle.messagetype === 'Text'">{{msgSingle.message}}</p>
            <p  ng-if="msgSingle.messagetype === 'File'">
            <img ng-src="{{msgSingle.message.split('###')[1]}}" ng-if="msgSingle.messagetype === 'File' && getFileType(msgSingle.message)" style="width: 110px;margin-left: 14.5%;" class="yuanjiao" />
            <div class="list" ng-if="msgSingle.messagetype === 'File' && !getFileType(msgSingle.message)" style="width: 210px;background-color: #888888;float: left;margin-left: 14.5%;">
              <a class="item item-icon-left" ng-click="openAllFile(msgSingle.message.split('###')[1], msgSingle.message.split('###')[0])">
                <img class="icon" ng-src="{{getFileTypeImg(msgSingle.message)}}" style="width: 35px;padding-top: 10px;padding-bottom: 10px;" /><font style="font-size: 10px;border: none;">{{getFileName(msgSingle.message)}}<br />已接收</font>
              </a>
            </div>
            <div ng-if="msgSingle.messagetype === 'File' && !getFileType(msgSingle.message)" style="float: none;"></div>
            </p>
          </span>

        </div>
        <div class="rj-message-wrap" ng-if="(msgSingle.from === 'true') &&(msgSingle.senderid === myUserID)">
          <!--<div class="circle6" style=" position: absolute;left: 86%;top: 17px;font-size: 14px;text-align: center;padding-top: 9px">{{msgSingle.username.length > 2 ? msgSingle.username.substring((msgSingle.username.length-2),msgSingle.username.length):msgSingle.username}}</div>-->
          <!--<img src="{{imgPath}}" />-->

          <span class="rj-triangle-right" ng-if="msgSingle.messagetype === 'Text' || msgSingle.messagetype === 'normal'"></span>
          <span>
          <!--<img style="margin-right: 5px;position: relative;right: 0px;" src="img/red.png" align="left">-->
          <p style="float: right">

            <font  ng-if="msgSingle.messagetype === 'Image'"><img style="background-color: transparent;margin-left: -30px" src="img/red.png"  ng-if="msgSingle.isFailure ==='true'" ng-click="resendshow(userId,msgSingle.message, userId, localusr,myUserID,msgSingle._id)"><img src="{{msgSingle.message.split('###')[1]}}" style="width: 110px;" class="yuanjiao" ng-click="boostImage(msgSingle.message.split('###')[1])" /></font><font  ng-if="msgSingle.messagetype === 'File'">
            <img ng-src="{{msgSingle.message.split('###')[1]}}" ng-if="msgSingle.messagetype === 'File' && getFileType(msgSingle.message)" style="width: 110px;" class="yuanjiao" ng-click="boostImage(msgSingle.message.split('###')[1])" />
            <div class="list" ng-if="msgSingle.messagetype === 'File' && !getFileType(msgSingle.message)" style="width: 210px;background-color: #888888;float: right;">
              <a class="item item-icon-left" ng-click="openAllFile(msgSingle.message.split('###')[1],msgSingle.message.split('###')[0])">
                <img class="icon" ng-src="{{getFileTypeImg(msgSingle.message)}}" style="width: 35px;padding-top: 10px;padding-bottom: 10px;" /><font style="font-size: 10px;border: none;">{{msgSingle.message.split('###')[4]}}<br />{{msgSingle.message.split('###')[3]}}&nbsp;&nbsp;<span ng-if="msgSingle.isFailure === 'true'" style="color: #ee0500;">发送失败！</span></font>
              </a>
            </div>
            <div ng-if="msgSingle.messagetype === 'File' && !getFileType(msgSingle.message)" style="float: none;"></div>
          </font>
            <font  ng-if="msgSingle.messagetype === 'LOCATION'" style="float:right;"><img style="background-color: transparent;margin-left: -24px" src="img/red.png"  ng-if="msgSingle.isFailure ==='true' &&(msgSingle.messagetype != 'Image' && msgSingle.messagetype != 'File')" ng-click="resendshow(userId,msgSingle.message, userId, localusr,myUserID,msgSingle._id)">
              <img src="{{msgSingle.message.substring(msgSingle.message.lastIndexOf(',') + 1, msgSingle.message.length)}}" style="width: 110px;" class="yuanjiao" ng-click="entermap(msgSingle.message.substring(0, msgSingle.message.lastIndexOf(',')))" />
              <!--<script type="text/javascript">-->
                <!--var locationvalue=document.getElementById("msg").innerText;-->
                <!--alert("sdasfdsdf"+locationvalue);-->
                <!--var map = new BMap.Map("container"); // 创建地图实例-->
                <!--var point = new BMap.Point(locationvalue.substring(0,(locationvalue).indexOf(',')), locationvalue.substring((locationvalue).indexOf(',')+1,locationvalue.length)); // 创建点坐标-->
                <!--map.centerAndZoom(point, 15); // 初始化地图，设置中心点坐标和地图级别-->
              <!--</script>-->

            <!--<div id="container" ng-if="msgSingle.messagetype === 'LOCATION'" style="width: 210px;float:right;">-->

            <!--</div>-->
            <!--<div ng-if="msgSingle.messagetype === 'LOCATION'" style="float: none;"></div>-->
            </font><!--<font id="container" ng-if="msgSingle.messagetype === 'LOCATION'" style="height:200px;width: 110px;"></font>-->
            <font class="rj-message-right" ng-if="msgSingle.messagetype === 'normal' || msgSingle.messagetype === 'Text'"> <img style="background-color: transparent;margin-left: -24px" src="img/red.png"  ng-if="msgSingle.isFailure ==='true' &&(msgSingle.messagetype != 'Image' && msgSingle.messagetype != 'File')" ng-click="resendshow(userId,msgSingle.message, userId, localusr,myUserID,msgSingle._id)">{{msgSingle.message}}</font>
          </p>
          </span>
          <!--<span class="rj-triangle-right"></span>-->
           <!--<span>-->
             <!--&lt;!&ndash;<img style="margin-right: 5px;position: relative;right: 0px;" src="img/red.png" align="left">&ndash;&gt;-->
             <!--<p style="margin-right: 10.5%"><font class="rj-message-right">{{msgSingle.message}}</font></p>-->
             <!--<img class="rj-message-right" style="margin-right: -2%;background-color: transparent" src="img/red.png" ng-if="(msgSingle.isFailure === 'true')"  ng-click="resendshow(userId,msgSingle.message, userId, localusr,msgSingle._id,msgSingle)">-->
          <!--</span>-->
        </div>
      </div>
    </div>
  </ion-content>

  <ion-footer-bar  class="bar-light" style="height: auto">
    <div class="rj-footer-btn-wrap" style="margin-top: 37px">
      <button class="button button-icon icon ion-ios-mic-outline rj-footer-btn-left">
      </button>
    </div>
    <div class="item-input rj-footer-btn-wrap" style="width: 72%" ng-click="zhiling()">
      <textarea msd-elastic ng-model="send_content" style="margin-right: 45px">
      </textarea>
    </div>

    <div class="rj-footer-btn-wrap" style="margin-left: 15px;margin-right: 5px">
      <div class="buttons rj-footer-btn-wrap" style="margin-top: 22px;width: 15px;height: 15px">
        <button class="rj-footer-btn button button-icon icon ion-happy-outline"></button>
      </div>
      <div class="buttons" ng-show="!send_content || send_content === ''" ng-click="gengduo()">
        <button class="button button-icon icon ion-ios-plus-outline rj-footer-btn-left">
        </button>
      </div>
      <div class="rj-send-button" ng-hide="!send_content || send_content === ''"
           ng-click="sendSingleMsg(userId,send_content, userId,localusr,myUserID,_id)">
        <p>发送</p>
      </div>
    </div>
    <br/>
    <div ng-if="a==1" style="height:200px;margin-left: -94%;margin-top: 5px">

      <div class="row" align="center">
        <!--<div id="butAlbum" ng-click="getPhoto('PHOTOLIBRARY',userId,send_content, userId,localusr,myUserID,_id)" class="col" align="center" style="padding: 16px">-->
        <div class="col" ng-click="getPhoto('CAMERA',userId,send_content, userId,localusr,myUserID,_id)" align="center" style="padding: 15px">
          <a>
            <ul>
              <li style="height: 50px;width: 50px;align-content: center" class="squareliao1"><img src="img/dingwei.png" style="width: 28px;height: 28px;align-content: center;margin-top: 9px"></li>
              <li style="color: #848484;font-size: 10px">拍照</li>
            </ul>
          </a>
        </div>
        <div id="butAlbum" ng-click="openDocumentWindow('image', userId,send_content, userId,localusr,myUserID,_id)" class="col" align="center" style="padding: 15px">
          <!--<div id="butAlbum" ng-click="getPhoto('PHOTOLIBRARY',userId,send_content, userId,localusr,myUserID,_id)" class="col" align="center" style="padding: 15px">-->
          <a>
            <ul>
              <li style="height: 50px;width: 50px;align-content: center" class="squareliao1"><img src="img/dingwei.png" style="width: 28px;height: 28px;align-content: center;margin-top: 9px"></li>
              <li style="color: #848484;font-size: 10px">相册</li>
            </ul>
          </a>
        </div>
        <div class="col" align="center" ng-click="openDocumentWindow('*', userId,send_content, userId,localusr,myUserID,_id)" style="padding: 15px">
          <a>
            <ul>
              <li style="height: 50px;width: 50px;align-content: center" class="squareliao1"><img src="img/wenjian.png" style="width: 28px;height: 28px;align-content: center;margin-top: 9px"></li>
              <li style="color: #848484;font-size: 10px">文件</li>
            </ul>
          </a>
        </div>
        <div class="col" align="center" ng-click="openDocumentWindow('audio', userId,send_content, userId,localusr,myUserID,_id)" style="padding: 15px">
          <a>
            <ul>
              <li style="height: 50px;width: 50px;align-content: center" class="squareliao1"><img src="img/dingwei.png" style="width: 28px;height: 28px;align-content: center;margin-top: 9px"></li>
              <li style="color: #848484;font-size: 10px">音频</li>
            </ul>
          </a>
        </div>
      </div>
      <div class="row" style="margin-top: -22%">
        <div class="col" align="center" ng-click="openDocumentWindow('video', userId,send_content, userId,localusr,myUserID,_id)" style="padding: 15px">
          <a>
            <ul>
              <li style="height: 50px;width: 50px;align-content: center" class="squareliao1"><img src="img/tupian.png" style="width: 28px;height: 28px;align-content: center;margin-top: 9px"></li>
              <li style="color: #848484;font-size: 10px">视频</li>
            </ul>
          </a>
        </div>
        <div class="col" align="center" style="padding: 15px" ng-click="gogelocation('LOCATION',userId,send_content, userId,localusr,myUserID,_id,groupType)">
          <a>
            <ul>
              <li style="height: 50px;width: 50px;align-content: center" class="squareliao1"><img src="img/dingwei.png" style="width: 28px;height: 28px;align-content: center;margin-top: 9px"></li>
              <li style="color: #848484;font-size: 10px">定位</li>
            </ul>
          </a>
        </div>
        <div class="col" align="center" style="padding: 15px">
          <a>
            <ul>
              <li style="height: 50px;width: 50px;align-content: center"> </li>
              <li style="color: #848484;font-size: 10px"> </li>
            </ul>
          </a>
        </div>
        <div class="col" align="center" style="padding: 15px">
          <a>
            <ul>
              <li style="height: 50px;width: 50px;align-content: center"> </li>
              <li style="color: #848484;font-size: 10px"> </li>
            </ul>
          </a>
        </div>
      </div>






















      <!--<div class="row" align="center">
        <div id="butAlbum" ng-click="getPhoto('PHOTOLIBRARY',userId,send_content, userId,localusr,myUserID,_id)" class="col" align="center" style="padding: 16px">
          <a>
            <ul>
              <li style="height: 50px;width: 50px;align-content: center" class="squareliao1"><img src="img/tupian.png" style="width: 28px;height: 28px;align-content: center;margin-top: 9px"></li>
              <li style="color: #848484;font-size: 10px">图片</li>
            </ul>
          </a>
        </div>
        <div class="col" align="center" ng-click="openDocumentWindow(userId,send_content, userId,localusr,myUserID,_id)" style="padding: 15px">
          <a>
            <ul>
              <li style="height: 50px;width: 50px;align-content: center" class="squareliao1"><img src="img/wenjian.png" style="width: 28px;height: 28px;align-content: center;margin-top: 9px"></li>
              <li style="color: #848484;font-size: 10px">文件</li>
            </ul>
          </a>
        </div>
        <div class="col" align="center" style="padding: 15px" ng-click="gogelocation('LOCATION',userId,send_content, userId,localusr,myUserID,_id,groupType)">
          <a>
            <ul>
              <li style="height: 50px;width: 50px;align-content: center" class="squareliao1"><img src="img/dingwei.png" style="width: 28px;height: 28px;align-content: center;margin-top: 9px"></li>
              <li style="color: #848484;font-size: 10px">定位</li>
            </ul>
          </a>
        </div>-->
        <!--<div class="col" align="center" style="padding: 15px">-->
          <!--<a>-->
            <!--<ul>-->
              <!--<li style="height: 50px;width: 50px;align-content: center" class="squareliao1"><img src="img/dingwei.png" style="width: 28px;height: 28px;align-content: center;margin-top: 9px"></li>-->
              <!--<li style="color: #848484;font-size: 10px">定位</li>-->
            <!--</ul>-->
          <!--</a>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="row" style="margin-top: -22%">-->
        <!--<div class="col" align="center" style="padding: 15px">-->
          <!--<a>-->
            <!--<ul>-->
              <!--<li style="height: 50px;width: 50px;align-content: center" class="squareliao1"><img src="img/tupian.png" style="width: 28px;height: 28px;align-content: center;margin-top: 9px"></li>-->
              <!--<li style="color: #848484;font-size: 10px">图片</li>-->
            <!--</ul>-->
          <!--</a>-->
        <!--</div>-->
        <!--<div class="col" align="center" style="padding: 15px">-->
          <!--<a>-->
            <!--<ul>-->
              <!--<li style="height: 50px;width: 50px;align-content: center" class="squareliao1"><img src="img/wenjian.png" style="width: 28px;height: 28px;align-content: center;margin-top: 9px"></li>-->
              <!--<li style="color: #848484;font-size: 10px">文件</li>-->
            <!--</ul>-->
          <!--</a>-->
        <!--</div>-->
        <!--<div class="col" align="center" style="padding: 15px">-->
          <!--<a>-->
            <!--<ul>-->
              <!--<li style="height: 50px;width: 50px;align-content: center" class="squareliao1"><img src="img/dingwei.png" style="width: 28px;height: 28px;align-content: center;margin-top: 9px"></li>-->
              <!--<li style="color: #848484;font-size: 10px">定位</li>-->
            <!--</ul>-->
          <!--</a>-->
        <!--</div>-->
        <!--<div class="col" align="center" style="padding: 15px">-->
          <!--<a>-->
            <!--<ul>-->
              <!--<li style="height: 50px;width: 50px;align-content: center" class="squareliao1"><img src="img/dingwei.png" style="width: 28px;height: 28px;align-content: center;margin-top: 9px"></li>-->
              <!--<li style="color: #848484;font-size: 10px">定位</li>-->
            <!--</ul>-->
          <!--</a>-->
        <!--</div>-->
      </div>
    </div>
  </ion-footer-bar>
  <!--ion-image-->


</ion-view>

