<ion-view id="messageGroupDetail" view-title={{chatname}} class="common-view-color">
  <ion-nav-bar align-title="center" class="newbarhead">

    <ion-nav-buttons side="left">
      <button class="button  button-icon icon ion-ios-arrow-left common-color-white" ng-click="backSecondMenu(grouptype)">

      </button>
    </ion-nav-buttons>

    <ion-nav-buttons side="right">
      <div align="center">
        <img class="messageDetailTopImg" src="img/laba.png"  ng-show="showTingtong ==='false'" ng-click="openYangshengqiMode();"/>
        <img class="messageDetailTopImg" src="img/tingt.png"   ng-show="showTingtong !='false'" ng-click="openTingtongMode();"/>
        <img class="messageDetailTopImg" src="img/qun.png" ng-click="goGroupDetail(groupid,chatname,grouptype,ismygroup)"  />
      </div>
    </ion-nav-buttons>

  </ion-nav-bar>

  <div class="yuanjiao messageDetail"  ng-if="isGroupShow === 'true'">
    <!---若录音时间小于1s，则展示这个--->
    <img ng-show= "isGroupshowless ==='true'" src="img/chat_icon_voice_short.png"/>

    <!---分贝的六个等级--->
    <img ng-show="isGroupshowless === 'false' && grouprate ===0" src="img/chat_icon_voice2.png" />
    <img ng-show="isGroupshowless === 'false' && grouprate ===1" src="img/chat_icon_voice3.png" />
    <img ng-show="isGroupshowless === 'false' && grouprate ===2" src="img/chat_icon_voice4.png" />
    <img ng-show="isGroupshowless === 'false' && grouprate ===3"src="img/chat_icon_voice5.png" />
    <img ng-show="(isGroupshowless === 'false')&& (grouprate ===4 || grouprate ===5)"src="img/chat_icon_voice6.png" />
    <img ng-show="(isGroupshowless === 'back')"src="img/back.png" />
    <br />
    <p ng-show="isGroupshowless ==='false' && (grouprate >= 0 && grouprate <=6)">手指上滑,取消发送</p>
    <p ng-show="isGroupshowless ==='back'">松开手指,取消发送</p>
    <!---若录音时间小于1s，则展示这个--->
    <p ng-show= "isGroupshowless ==='true'">说话时间太短</p>
  </div>

  <ion-content class="rj-stable-content" delegate-handle="messageDetailsScroll" on-drag="onDrag()"
               ng-click="zhilinggroup()" id="contentbb">
    <ion-refresher refreshing-icon="ion-loading-c" on-refresh="doRefresh()" refreshing-text="正在加载···"
                   pulling-text="释放加载" id="refresh"></ion-refresher>


    <p style="text-align: center" ng-if="nomore === 'true'" ng-click="skipgroupmessagebox()">更多消息请在历史消息中查阅</p>


    <div class="msgSingle" ng-repeat="msg in groupmsgs">
      <!--1、发送与接收的时间戳-->
      <div class="row msgSingleIsTime" ng-if="msg.istime === 'true' && (!(msg.messagetype.substr(0,5)==='Event'))">
        <div class="col">
          <span>{{msg.daytype ==='1' ? (msg.when | date:'HH:mm') : (msg.when | date:'yyyy-MM-dd HH:mm')}}</span>
        </div>
      </div>

      <!--群事件-->
      <div class="row groupEvent" ng-if="msg.messagetype.substr(0,5)==='Event' && (msg.sessionid === groupid)">
        <div class="col">
          <span>{{msg.message}}</span>
        </div>
      </div>

      <!--接收-->
      <!--2、对方的消息-->
      <div class="row msgSingleForm" ng-if="(msg.from === 'false') &&(msg.senderid != myUserID)">

        <div class="col col-12" ng-if="(msg.imgSrc !='1') &&(msg.imgSrc != null)" ng-click="godetail(msg.senderid)">
          <img  src="{{msg.imgSrc}}" class="yuanjiao4">
        </div>

        <!--头像-->
        <div class="col col-12" ng-click="godetail(msg.senderid)" ng-if="(msg.senderid.substring((msg.senderid.length-1),msg.senderid.length)==1||msg.senderid.substring((msg.senderid.length-1),msg.senderid.length)==9)&&(msg.imgSrc =='1')&&(msg.imgSrc != null)">
          <button class="circle1 headerImg">{{msg.username.length > 2 ? msg.username.substring((msg.username.length-2),msg.username.length):msg.username}}</button>
        </div>
        <div class="col col-12" ng-click="godetail(msg.senderid)" ng-if="(msg.senderid.substring((msg.senderid.length-1),msg.senderid.length)==2||msg.senderid.substring((msg.senderid.length-1),msg.senderid.length)==8)&&(msg.imgSrc =='1')&&(msg.imgSrc != null)">
          <button class="circle2 headerImg">{{msg.username.length > 2 ? msg.username.substring((msg.username.length-2),msg.username.length):msg.username}}</button>
        </div>
        <div class="col col-12" ng-click="godetail(msg.senderid)" ng-if="(msg.senderid.substring((msg.senderid.length-1),msg.senderid.length)==3||msg.senderid.substring((msg.senderid.length-1),msg.senderid.length)==7)&&(msg.imgSrc =='1')&&(msg.imgSrc != null)">
          <button class="circle3 headerImg">{{msg.username.length > 2 ? msg.username.substring((msg.username.length-2),msg.username.length):msg.username}}</button>
        </div>
        <div class="col col-12" ng-click="godetail(msg.senderid)" ng-if="(msg.senderid.substring((msg.senderid.length-1),msg.senderid.length)==4||msg.senderid.substring((msg.senderid.length-1),msg.senderid.length)==6)&&(msg.imgSrc =='1')&&(msg.imgSrc != null)">
          <button class="circle4 headerImg">{{msg.username.length > 2 ? msg.username.substring((msg.username.length-2),msg.username.length):msg.username}}</button>
        </div>
        <div class="col col-12" ng-click="godetail(msg.senderid)" ng-if="(msg.senderid.substring((msg.senderid.length-1),msg.senderid.length)==5||msg.senderid.substring((msg.senderid.length-1),msg.senderid.length)==0)&&(msg.imgSrc =='1')&&(msg.imgSrc != null)">
          <button class="circle5 headerImg">{{msg.username.length > 2 ? msg.username.substring((msg.username.length-2),msg.username.length):msg.username}}</button>
        </div>

        <!--接收###文本内容-->
        <div class="col receiveText" ng-if="msg.messagetype === 'normal' || msg.messagetype === 'Text'">
          <div class="rj-message-new-left" on-hold="longtabGroup({{msg}})">
            <p>{{msg.message}}</p></div>
        </div>

        <!--图片内容-->
        <div class="col receiveImg" ng-if="msg.messagetype === 'Image' || (msg.messagetype === 'File' && getFileType(msg.message))">
          <img src="{{msg.message.split('###')[1]}}" ng-click="netScaleImage(msg.message.split('###')[0],msg.message.split('###')[4],msg.message.split('###')[1])" />
        </div>

        <!--接收###文件内容-->
        <div class="col receiveFile" ng-if="msg.messagetype === 'File' && !getFileType(msg.message) && !isGroupVideo(msg.message.split('###')[1])">
          <div class="row item sentfile sentfile2"  ng-click="openGroupAllFile(msg.message.split('###')[1], msg,this)">
            <div class="col col-20">
              <img class="getFileTypeImg" src="{{getFileTypeImg(msg.message)}}"/>
            </div>

            <div class="col col-80">
              <h2 >{{getFileName(msg.message)}}</h2>
              <!--进度条-->
              <div ng-show="msg.message.split('###')[5] != '0' && msg.message.split('###')[5] != '100' && msg.message.split('###')[5] != '-1'" class="outbar">
                <div class="inbar" style="width:{{msg.message.split('###')[5]}}%;background:#5CB85C;"></div>
              </div>
              <!--进度百分比-->
              <div ng-show="msg.message.split('###')[5] != '0' && msg.message.split('###')[5] != '100' && msg.message.split('###')[5] != '-1'">{{msg.message.split('###')[5]}}%</div>
              <!--接收成功-->
              <div ng-show="msg.message.split('###')[5] === '100'">{{msg.message.split('###')[3]}}</div>
              <!--接收失败-->
              <div ng-show="msg.message.split('###')[5] === '-1'">接收失败！</div>
              <!--未下载-->
              <div ng-show="msg.message.split('###')[5] === '0'">未下载</div>
            </div>
          </div>
        </div>
        <!--接收###视频内容-->
        <div class="col receiveVideo" ng-if="msg.messagetype === 'Vedio' || isGroupVideo(msg.message.split('###')[1])">
          <div>
            <video controls preload="auto">
              <source src="{{msg.message.split('###')[1]}}" type="video/mp4">
            </video>
          </div>
        </div>

        <!--接收###音频内容-->
        <div class="col receiveAudio" ng-if="msg.messagetype === 'Audio'" ng-click="showgroupanimation(msg.message.split('###')[1], msg._id,msg.isread);">
          <div class="rj-message-voice-left" style="max-width:260px;width: {{((msg.message.split('###')[2] - msg.message.split('###')[2]%1000)/1000) < 7 ? 60 :(((msg.message.split('###')[2] - msg.message.split('###')[2]%1000)/1000)*7) }}px !important;text-align:left;vertical-align: middle !important;height:40px;line-height:40px;float: left;position: relative;">
            <img style="width:20px;height:20px;" src="img/turnrightstatic.jpg" class="yuanjiao sendAudioImg" ng-show="msg._id != groupaudioid || isshowgroupPng === 'true'"/>
            <img src="img/turnright.gif" class="yuanjiao sendAudioImg" ng-show="isshowGroupgif === 'true' && msg._id === groupaudioid && groupaudioid != undefined && groupaudioid != null && groupaudioid != ''"/>

            <span style="color:#000;margin-left:5px;">{{(msg.message.split('###')[2] - msg.message.split('###')[2]%1000)/1000}}"</span>
            <img style="position: absolute;top:0px;right:-15px;width:10px;height:10px;" src="img/redpoint.png" ng-if="msg.messagetype === 'Audio'&&msg.isread === '0'"/>

          </div>

          <!--<div class="row receiveAudioDiv">-->
            <!--<div class="col col-center item">-->
              <!--<div class="row row-center item">-->
                <!--<img src="img/redpoint.png" ng-if="msg.messagetype === 'Audio'&&msg.isread === '0'"/>-->
              <!--</div>-->
              <!--<div class="row row-center item">-->
                <!--{{(msg.message.split('###')[2] - msg.message.split('###')[2]%1000)/1000}}"-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
        </div>

        <!--接收###地图内容-->
        <div class="col receiveMap" ng-if="msg.messagetype === 'LOCATION'">
          <div class="row item" ng-click="entergroupmap(msg.message)">
            <div class="col  col-20">
              <img src="img/location.jpg"/>
            </div>
            <div class="col receive">
              <h2>{{msg.message.split(',')[2]}}</h2>
              <!--进度条-->
              <div class="outbar"><div class="inbar"></div></div>
              <!--进度百分比-->
              <div class="percent">70%</div>
              <!--接收成功-->
              <div class="receiveSuccess">已接收</div>
              <!--接收失败-->
              <div class="receiveError">发送失败！</div>
            </div>
          </div>
        </div>

      </div>


      <!--发送-->
      <!--3、我的消息-->
      <div ng-if="(msg.from === 'true') &&(msg.senderid === myUserID)" class="row messageDetailSendmsg">
        <!--发送###文本内容-->
        <div class="col" ng-if="msg.messagetype === 'normal' || msg.messagetype === 'Text'">
          <div class="rj-message-new-right messageGroupsendText" on-hold="longtabGroup({{msg}})">
            <p>{{msg.message}}</p>

            <!--容错处理-->
            <div class="faultTolerantText">
              <div class="alertImg" ng-if="msg.isFailure ==='true'">
                <img src="img/red.png" align="center" ng-click="resendgroupshow(groupid,msg.message, groupid,grouptype, localusr,myUserID,msg._id,msg)" />
              </div>

              <div class="" ng-if="msg.isSuccess === 'false'&& msg.isFailure === 'false' ">
                <ion-spinner icon="ios-small"></ion-spinner>
              </div>
            </div>

          </div>


        </div>


        <!--发送###图片内容-->
        <div class="col" ng-if="msg.messagetype === 'Image' || (msg.messagetype === 'File' && getFileType(msg.message))">
          <img class="sendImg" src="{{msg.message.split('###')[1]}}" ng-click="boostImage(msg.message.split('###')[1])" />
          <!--容错处理-->
          <div class="row faultTolerant">
            <div class="col col-center item" ng-if="msg.isFailure ==='true'">
              <img src="img/red.png" align="center" ng-click="resendgroupshow(groupid,msg.message, groupid,grouptype, localusr,myUserID,msg._id,msg)" />
            </div>
            <div class="col col-center item" ng-if="msg.isSuccess === 'false'&& msg.isFailure === 'false'">
              <ion-spinner icon="ios-small"></ion-spinner>
            </div>
          </div>
        </div>
        <!--发送###文件内容-->
        <div class="col" ng-if="msg.messagetype === 'File' && !getFileType(msg.message) && !isGroupVideo(msg.message.split('###')[1])">
          <div class="row item sentfile" ng-click="openGroupAllFile(msg.message.split('###')[1], msg,this)">
            <div class="col col-20">
              <img class="sendFileImg"  src="{{getFileTypeImg(msg.message)}}"/>
            </div>
            <div class="col col-80 sendPromptMsg">
              <h2>{{msg.message.split('###')[4]}}</h2>
              <!--进度条-->
              <div ng-show="msg.message.split('###')[5] != '100' && msg.message.split('###')[5] != '-1'" class="outbar"><div class="inbar" style="width:{{msg.message.split('###')[5]}}%;background:#5CB85C;"></div></div>
              <!--进度百分比-->
              <div class="sendPercentage" ng-show="msg.message.split('###')[5] != '100' && msg.message.split('###')[5] != '-1'">{{msg.message.split('###')[5]}}%</div>
              <!--发送成功-->
              <div class="sendSuccess" ng-if="msg.isFailure === 'false' && msg.message.split('###')[5] === '100'" >{{msg.message.split('###')[3]}}</div>
              <!--发送失败-->
              <div class="sendError" ng-if="msg.isFailure === 'true' || msg.message.split('###')[5] === '-1'">发送失败！</div>
            </div>
          </div>
          <!--容错处理-->
          <div class="row faultTolerant">
            <div class="col col-center item" ng-if="msg.isFailure ==='true'">
              <img src="img/red.png" align="center" ng-click="resendgroupshow(groupid,msg.message, groupid,grouptype, localusr,myUserID,msg._id,msg)" />
            </div>
            <div class="col col-center item" ng-if="msg.isSuccess === 'false'&& msg.isFailure === 'false' ">
              <ion-spinner icon="ios-small"></ion-spinner>
            </div>
          </div>
        </div>

        <!--发送###视频内容-->
        <div class="col" ng-if="msg.messagetype ==='Vedio' || isGroupVideo(msg.message.split('###')[1])">
          <div class="sendVideo">
            <video id="vedio1" ng-if="msg.message.split('###')[5] != '100'" preload="auto">
              <source src="{{msg.message.split('###')[1]}}" type="video/mp4">
            </video>
            <video id="vedio" ng-if="msg.message.split('###')[5] === '100'" controls preload="auto">
              <source src="{{msg.message.split('###')[1]}}" type="video/mp4">
            </video>
            <div class="sendVideoDiv">
              <div ng-show="msg.message.split('###')[5] != '0' && msg.message.split('###')[5] != '100' && msg.message.split('###')[5] != '-1'" class="outbar"><div class="inbar" style="width:{{msg.message.split('###')[5]}}%;background:#5CB85C;"></div></div>
            </div>
          </div>
          <!--容错处理-->
          <div class="row faultTolerant">
            <div class="col col-center item" ng-if="msg.isFailure ==='true'">
              <img src="img/red.png" align="center" ng-click="resendgroupshow(groupid,msg.message, groupid,grouptype, localusr,myUserID,msg._id,msg)" />
            </div>
          </div>
        </div>

        <!--发送###音频内容-->
        <div class="col" ng-if="msg.messagetype === 'Audio'">
          <div class="rj-message-voice-left" style="max-width:260px;width: {{((msg.message.split('###')[2] - msg.message.split('###')[2]%1000)/1000) < 7 ? 60 :(((msg.message.split('###')[2] - msg.message.split('###')[2]%1000)/1000)*7) }}px !important;text-align:right;vertical-align: middle !important;height:40px;line-height:40px;background: #38ADFF;float: right;" ng-click="showgroupanimation(msg.message.split('###')[1], msg._id);">

            <span> {{(msg.message.split('###')[2] - msg.message.split('###')[2]%1000)/1000}}"</span>
            <img style="margin-top:6px;" class="sendAudioImg" src="img/turnleftstatic.png" class="yuanjiao" align="right" ng-show="msg._id != groupaudioid || isshowgroupPng === 'true'"/>
            <img class="sendAudioImg" src="img/turnleft.gif" class="yuanjiao" align="right" ng-show="isshowGroupgif === 'true' && msg._id === groupaudioid && groupaudioid != undefined && groupaudioid != null && groupaudioid != ''"/>
          </div>
          <!--<div class="row faultTolerant">-->
            <!--<div class="col col-center item" >-->
              <!--<div class="row row-center item" >-->
                <!--{{(msg.message.split('###')[2] - msg.message.split('###')[2]%1000)/1000}}"-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
          <!--容错处理-->
          <div class="row faultTolerant">
            <div class="col col-center item" ng-if="msg.isFailure ==='true'" >
              <img src="img/red.png" align="center" ng-click="resendgroupshow(groupid,msg.message, groupid,grouptype, localusr,myUserID,msg._id,msg)" />
            </div>
            <div class="col col-center item" ng-if="msg.isSuccess === 'false'&& msg.isFailure === 'false' " >
              <ion-spinner icon="ios-small"></ion-spinner>
            </div>
          </div>
        </div>

        <!--发送###地图内容-->
        <div class="col sendMap" ng-if="msg.messagetype === 'LOCATION'">
          <div class="row item" ng-click="entergroupmap(msg.message.substring(0, msg.message.lastIndexOf(',')))">
            <div class="col-20">
              <img  class="sendMapImg" src="img/location.jpg"/>
            </div>

            <div class="col sendMapPromptMsg">
              <h2>{{msg.message.split(',')[2]}}</h2>
              <!--进度条-->
              <div class="outbar"><div class="inbar"></div></div>
              <!--进度百分比-->
              <div class="sendMapPercentage">70%</div>
              <!--发送成功-->
              <div class="sendMapSuccess">点击查看</div>
              <!--发送失败-->
              <div class="sendMapError">发送失败！</div>
            </div>
          </div>
          <!--容错处理-->
          <div class="row faultTolerant">
            <div class="col col-center item" ng-if="msg.isFailure ==='true'">
              <img src="img/red.png" align="center" ng-click="resendgroupshow(groupid,msg.message, groupid,grouptype, localusr,myUserID,msg._id,msg)" />
            </div>
            <div class="col col-center item" ng-if="msg.isSuccess === 'false'&& msg.isFailure === 'false' ">
              <ion-spinner icon="ios-small"></ion-spinner>
            </div>
          </div>
        </div>

        <!---->
        <div class="col col-12 picyoumeiyoumsg" ng-if="!picyoumeiyoumsg">
          <button class="circle6">{{msg.username.length > 2 ? msg.username.substring((msg.username.length-2),msg.username.length):msg.username}}</button>
        </div>
        <div class="col col-12" ng-if="picyoumeiyoumsg">
          <img  src="{{securlpicmsg}}" class="yuanjiao4">
        </div>

      </div>
    </div>
    <br />
    <div>&nbsp;</div>

  </ion-content>

  <ion-footer-bar class="bar-light messageDetailFooter">
    <div class="footerContainer">
      <div  class="footerInnerContainer">

        <!--左边-->
        <div  class="footLeft">
          <div class="leftYuYin" ng-click="groupclickOn()" ng-hide="isGroupYuYin === 'true'">
            <md-icon  class="icon ion-ios-mic-outline rj-footer-btn-left leftMdIcon">
            </md-icon>
          </div>
          <img src="img/keyborad.png" class="icon ion-ios-mic-outline rj-footer-btn-left footLeftImg" ng-show="isGroupYuYin === 'true'" ng-click="groupclickOnChange()" />
        </div>

        <!--中间-->
        <div class="footCenter">
          <div class="enterSay" ng-show="isGroupYuYin === 'true'">
            <button on-touch="showGroupYuyin('Audio',_id)" on-release="releaseGroupYuyin('Audio',_id)" on-drag="onDragGroupVoiceBtn($event)">
              <span>按住 说话</span>
            </button>
          </div>
          <div class="centerYuYin" ng-show="isGroupYuYin != 'true'" ng-click="zhilinggroup()">
            <textarea ng-model="send_content"  rows="3" contenteditable="false"></textarea>
          </div>
        </div>

        <!--右边-->
        <div class="footRight">
          <div class="buttons" ng-show="!send_content || send_content === ''" ng-click="gengduogropu()">
            <button class="button-icon icon ion-ios-plus-outline footRightBtn"></button>
          </div>

          <div ng-hide="!send_content || send_content === ''" ng-click="sendSingleGroupMsg(groupid,send_content,groupid,grouptype,localusr,myUserID,_id,'Text')">
            <p class="sendMessage">发送</p>
          </div>
        </div>

      </div>

      <div class="sendType" ng-if="bgroup==1">
        <div class="row" >
          <div class="col col-25" ng-click="takeGroupPhoto(groupid,send_content, groupid,localusr,myUserID,_id, grouptype)">
            <ul>
              <li>
                <img class="sendTypeImg" src="img/ddpaizhao.png">
              </li>
              <li>拍照</li>
            </ul>
          </div>
          <div class="col col-25" ng-click="openGroupDocumentWindow('image', groupid,send_content, groupid,localusr,myUserID,_id, grouptype)">
            <ul>
              <li>
                <img class="sendTypeImg" src="img/ddtupian.png">
              </li>
              <li>相册</li>
            </ul>
          </div>
          <div class="col col-25" ng-click="takeGroupVideo(groupid,send_content, groupid,localusr,myUserID,_id, grouptype)" >
            <ul>
              <li>
                <img class="sendTypeImg" src="img/ddxiaoshipin.png">
              </li>
              <li>视频</li>
            </ul>
          </div>
          <div class="col col-25" ng-click="gogegrouplocation('LOCATION',groupid,send_content, groupid,localusr,myUserID,_id,grouptype,ismygroup)">
            <ul>
              <li>
                <img class="sendTypeImg" src="img/dddingwei.png">
              </li>
              <li>定位</li>
            </ul>
          </div>
        </div>

        <div class="row magDetailFootFileRow" ng-click="openGroupDocumentWindow('*', groupid,send_content, groupid,localusr,myUserID,_id, grouptype)" >
          <div class="col col-25">
            <ul>
              <li>
                <img class="sendTypeImg" src="img/ddwenjian.png">
              </li>
              <li>文件</li>
            </ul>
          </div>
          <div class="col col-25"></div>
          <div class="col col-25"></div>
          <div class="col col-25"></div>
        </div>

      </div>

    </div>
  </ion-footer-bar>
</ion-view>


