<ion-view id="messageGroupDetail" view-title={{groupName}}>
  <ion-nav-bar align-title="center">

    <ion-nav-buttons side="left">
      <button class="button  button-icon icon ion-ios-arrow-back" ng-click="backSecondMenu(grouptype)">
        即时通
      </button>
    </ion-nav-buttons>

    <ion-nav-buttons side="right">
      <button class="button button-icon icon ion-ios-people-outline" ng-click="goGroupDetail(groupid,chatname,grouptype,ismygroup)"
              style="margin-right: 5px"></button>
    </ion-nav-buttons>

  </ion-nav-bar>

  <ion-content class="rj-stable-content" delegate-handle="messageDetailsScroll" on-drag="onDrag()">
    <ion-refresher refreshing-icon="ion-loading-c" on-refresh="doRefresh()" refreshing-text="获取数据中..."
                   pulling-text="更多消息" id="refresh">
    </ion-refresher>
    <p style="text-align: center" ng-if="nomore === 'true'" ng-click="skipgroupmessagebox()">更多消息请在历史消息中查阅</p>
    <div>
      <!--<p class="rj-message-time">5月27日 16:33</p>-->

      <div ng-repeat="msg in groupmsgs">
        <!--<div class="rj-message-wrap" ng-if="(msg.from==='false')">-->
          <!--<img src="img/mike.png" class="rj-head-pic">-->
          <!--<span class="rj-triangle-left"></span>-->
          <!--<p class="rj-message">{{msg.message}}</p>-->
        <!--</div>-->
        <div class="rj-message-wrap" ng-if="(msg.from==='false') && (msg.sessionid === groupid) &&(!(msg.messagetype.substr(0,5)==='Event'))">
          <div ng-if="msg.senderid.substring((msg.senderid.length-1),msg.senderid.length)==1||msg.senderid.substring((msg.senderid.length-1),msg.senderid.length)==9" class=" circle1" style=" position: absolute;left: 3%;font-size: 14px;padding-top: 9px" ng-click="godetail(msg.senderid)">{{msg.username.length > 2 ? msg.username.substring((msg.username.length-2),msg.username.length):msg.username}}</div>
          <div ng-if="msg.senderid.substring((msg.senderid.length-1),msg.senderid.length)==2||msg.senderid.substring((msg.senderid.length-1),msg.senderid.length)==8" class=" circle2" style=" position: absolute;left: 3%;font-size: 14px;padding-top: 9px" ng-click="godetail(msg.senderid)">{{msg.username.length > 2 ? msg.username.substring((msg.username.length-2),msg.username.length):msg.username}}</div>
          <div ng-if="msg.senderid.substring((msg.senderid.length-1),msg.senderid.length)==3||msg.senderid.substring((msg.senderid.length-1),msg.senderid.length)==7" class=" circle3" style=" position: absolute;left: 3%;font-size: 14px;padding-top: 9px" ng-click="godetail(msg.senderid)">{{msg.username.length > 2 ? msg.username.substring((msg.username.length-2),msg.username.length):msg.username}}</div>
          <div ng-if="msg.senderid.substring((msg.senderid.length-1),msg.senderid.length)==4||msg.senderid.substring((msg.senderid.length-1),msg.senderid.length)==6" class=" circle4" style=" position: absolute;left: 3%;font-size: 14px;padding-top: 9px" ng-click="godetail(msg.senderid)">{{msg.username.length > 2 ? msg.username.substring((msg.username.length-2),msg.username.length):msg.username}}</div>
          <div ng-if="msg.senderid.substring((msg.senderid.length-1),msg.senderid.length)==5||msg.senderid.substring((msg.senderid.length-1),msg.senderid.length)==0" class=" circle5" style=" position: absolute;left: 3%;font-size: 14px;padding-top: 9px" ng-click="godetail(msg.senderid)">{{msg.username.length > 2 ? msg.username.substring((msg.username.length-2),msg.username.length):msg.username}}</div>
          <!--<img src="img/mike.png" class="rj-head-pic">-->
          <span>
          <p class="rj-message" style="margin-left: 14.5%">{{msg.message}}</p>
          </span>
        </div>


        <div class="rj-message-wrap" ng-if="(msg.from === 'true') &&(msg.senderid === myUserID)">
          <div class="circle6" style=" position: absolute;left: 86%;top: 17px;font-size: 14px;text-align: center;padding-top: 9px">{{msg.username.length > 2 ? msg.username.substring((msg.username.length-2),msg.username.length):msg.username}}</div>
           <span>
             <!--<img style="margin-right: 5px;position: relative;right: 0px;" src="img/red.png" align="left">-->
             <p style="margin-right: 10.5%"><font class="rj-message-right">{{msg.message}}</font></p>
             <img class="rj-message-right" style="margin-right: -2%;background-color: transparent" src="img/red.png" ng-if="(msg.isFailure === 'true')"  ng-click="resendgroupshow(groupid,msg.message,groupid,grouptype,localusr,myUserID,msg._id,msg)">
          </span>
          <!--<img src="img/ben.png" class="rj-head-pic-right">-->
          <!--<span class="rj-triangle-right"></span>-->
          <!--<span>-->
             <!--&lt;!&ndash;<img style="margin-right: 5px;position: relative;right: 0px;" src="img/red.png" align="left">&ndash;&gt;-->
             <!--<p style="float: right;"><img style="vertical-align: middle;" src="img/red.png" ng-if="(msg.isFailure)==='true'" ng-click="resendgroupshow(groupid,msg.message,groupid,grouptype,localusr,myUserID,msg._id)"><font class="rj-message-right">{{msg.message}}</font></p>-->
          <!--</span>-->
        </div>
        <!--<div>-->
          <!--<p ng-if="msg.messagetype.substr(0,5)==='Event'" style="margin-top: 5px;" align="center">{{msg.message}}</p>-->
        <!--</div>-->
        <div>
          <p ng-if="msg.messagetype.substr(0,5)==='Event' && (msg.sessionid === groupid) " style="margin-top: 5px;" align="center">{{msg.message}}</p>
        </div>
      </div>

    </div>


  </ion-content>

  <ion-footer-bar align-title="left" class="bar-light" resize-foot-bar>
    <!--<div class="rj-footer-btn-wrap">-->
      <!--<button class="button button-icon icon ion-ios-mic-outline rj-footer-btn-left">-->
      <!--</button>-->
    <!--</div>-->
    <label class="item item-input rj-footer-input">
      <textarea msd-elastic ng-model="send_content" style="margin-right: 45px;">

      </textarea>
      <!--<div class="buttons">-->
        <!--<button class="rj-footer-btn button button-icon icon ion-happy-outline"></button>-->
      <!--</div>-->
    </label>
    <div class="rj-footer-btn-wrap">
      <!--<div class="buttons" ng-show="!send_content || send_content === ''">-->
        <!--<button class="button button-icon icon ion-ios-plus-outline rj-footer-btn-left">-->
        <!--</button>-->
      <!--</div>-->
      <!--ng-hide="!send_content || send_content === ''"-->
      <div class="rj-send-button"
           ng-click="sendSingleGroupMsg(groupid,send_content,groupid,grouptype,localusr,myUserID,_id)">
        <p>发送</p>
      </div>
    </div>
  </ion-footer-bar>
</ion-view>
