<ion-view view-title="特别关注" class="common-view-color common-bg-color">

  <ion-nav-bar align-title="center"class="newbarhead">
    <ion-nav-buttons side="left">
      <button class="button  button-icon icon ion-ios-arrow-left common-color-white" ui-sref="tab.contacts">
        联系人
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>

  <ion-content overflow-scroll="false">
    <div >
      <ion-list>
        <ion-item ng-repeat="item in contactsListatten" ng-click="jumpattenDetial(item.UserID)" on-finish>
          <div class="row" >
            <div class="col">
              <!--头像-->
              <span class="friendsIcon">{{item.logoName}}</span>
              <!--名称-->
              <span  class="myAttentionUserName" >{{item.UserName}}</span>

            </div>
          </div>

          <ion-option-button class="button-assertive" ng-click="removeattention(item.UserID)">
            取消关注
          </ion-option-button>
        </ion-item>

      </ion-list>
    </div>

  </ion-content>
</ion-view>

