<ion-view view-title="我的资料 ">
  <ion-nav-bar align-title="center">
    <ion-nav-buttons side="left">
      <button class="button  button-icon icon ion-ios-arrow-back" ng-click="goAcount()">
        返回
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>

  <ion-content overflow-scroll="false" style="background-color:#e5e5e5 " delegate-handle="myinformationScroll">

    <!--名片功能-->
    <!--<div style="z-index: 100;height: 250px;width: 100%;position: relative">-->
      <!--<img src="img/im1.png" style="z-index: 100;position: absolute;left: 20px;top: 20px; width: 50px;height: 50px">-->
      <!--<h3 style="z-index: 100;color: #000000;margin-left: 110px;margin-top: 20px">北京经纬信息技术公司</h3>-->
      <!--<h4 style="z-index: 100;color: #000000;margin-top: 90px;margin-left: 15px">姓名名</h4>-->
      <!--<h4 style="z-index: 100;color: #000000;margin-top: 10px;margin-left: 10px">业务经理</h4>-->
      <!--<h5 style="z-index: 100;color: #000000;margin-left: 110px;margin-top: -120px">地址：北京市海淀区</h5>-->
      <!--<h5 style="z-index: 100;color: #000000;margin-left: 110px">座机：010-87963654</h5>-->
      <!--<h5 style="z-index: 100;color: #000000;margin-left: 110px">传真：010-54876521</h5>-->
      <!--<h5 style="z-index: 100;color: #000000;margin-left: 110px">手机：18678789678</h5>-->
      <!--<h5 style="z-index: 100;color: #000000;margin-left: 110px">Email：bluebinary@live.com</h5>-->

    <!--</div>-->
    <!--<img src="img/background222.png" style="z-index: 1;position: absolute;left: 0;top: -20px">-->

    <!--<div style="z-index: 100;height: 250px;width: 100%;position: relative">-->
      <!--<h2 style="z-index: 100;color: #000000;margin-top: 50px;width: 100%;text-align: center">铁路工程管理平台</h2>-->
      <!--<h4 style="z-index: 100;color: #000000;margin-top: 60px;text-align: center">Railway Engineering Mamagement Platform</h4>-->
    <!--</div>-->
    <!--<img src="img/background222.png" style="z-index: 1;position: absolute;left: 0;top: 230px">-->


    <ion-item  class=" rj-notify-bgggg "   style="height: 70px" >
      <p style="position: absolute;margin-top: 2%;font-size: 15px;">头像</p>
      <div  ng-if="!picyoumeiyou" class="center circle12" style=" position: absolute;right: 6%;top: 7%;font-size: 16px;text-align: center;padding-top: 19px;z-index: 1" ng-click="setpic()">{{mypersons.UserName.length > 2 ? mypersons.UserName.substring((mypersons.UserName.length-2),mypersons.UserName.length):mypersons.UserName}}</div>
      <img  ng-if="picyoumeiyou" src="{{securlpic}}" class="yuanjiao3"  ng-click="setpic()">
    </ion-item>
    <ul class="list" style="margin-top: 12px;margin-bottom: 12px">
      <li class="item ">
        <p>姓名</p>
        <h2>{{mypersons.UserName}}</h2>
      </li>
      <li class="item ">
        <p>部门</p>
        <h2>{{mypersons.DeptName}}</h2>
      </li>
      <li class="item">
        <p>职务</p>
        <h2>{{(mypersons.Duty==0||mypersons.Duty==""||mypersons.Duty==undefined) ? "未填写":mypersons.Duty}}</h2>
      </li>
      <li class="item " ng-click="updateinformation()">
        <p>手机号</p>
        <h2>{{mypersons.Mobile}}</h2>
        <i  class="button button-dark button-clear icon ion-ios-arrow-right" style=" position: absolute;right: -1%;top: 24%"></i>
      </li>
      <li class="item " ng-click="updateinformation()">
        <p>办公电话</p>
        <h2>{{mypersons.FixPhone}}</h2>
        <i class="button button-dark button-clear icon ion-ios-arrow-right" style=" position: absolute;right: -1%;top: 24%"></i>
      </li>
      <li class="item " ng-click="updateinformation()">
        <p>邮箱</p>
        <h2>{{mypersons.Email}}</h2>
        <i class="button button-dark button-clear icon ion-ios-arrow-right" style=" position: absolute;right: -1%;top: 24%"></i>
      </li>
      <li class="item item-button-right">
        <p>定位</p>
        <h2>{{geolocation}}</h2>
      </li>

    </ul>
  </ion-content>
</ion-view>
