<ion-view view-title="办公系统">
  <ion-nav-bar align-title="center" class="bar-stable">
    <ion-nav-buttons side="left">
      <button class="button  button-icon icon ion-ios-arrow-back" ng-click="goback()">
        返回
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content overflow-scroll="false" class="rj-stable-content">
    <!--<ion-refresher refreshing-icon="ion-loading-c" on-refresh="doRefresh()" refreshing-text="获取数据中..."-->
                   <!--pulling-text="更多消息" id="refresh">-->
    <!--</ion-refresher>-->
    <p style="text-align: center;padding: 20px" >2016-9-8  16:02:21</p>
      <div>
        <div class="rj-message-wrap" >
          <span>
          <p class="rj-notification" style="padding: 10px" >赣州开启交通枢纽新时代大师傅的说法是打发第三方士大夫士大夫士大夫的说法是发送到发送到第三个梵蒂冈梵蒂冈梵蒂冈的风格的风格的风格的风格大方的非官方大哥大法官的风格的风格的风格的非官方大哥大法官发的鬼地方个地方个梵蒂冈梵蒂冈梵蒂冈的风格的的风格的非官方大哥大范甘迪发个梵蒂冈地方</p>
          </span>
        </div>

      </div>
    <p style="text-align: center;padding: 20px" >2016-9-8  16:02:21</p>
    <div>
      <div class="rj-message-wrap" >
          <span>
          <p class="rj-notification" style="padding: 10px">赣州开启交通枢纽新时代大师傅的说法是打发第三方士大夫士大夫士大夫的说法是发送到发送到第三个梵蒂冈梵蒂冈梵蒂冈的风格的风格的风格的风格大方的非官方大哥大法官的风格的风格的风格的非官方大哥大法官发的鬼地方个地方个梵蒂冈梵蒂冈梵蒂冈的风格的的风格的非官方大哥大范甘迪发个梵蒂冈地方</p>
          </span>
      </div>

    </div>
  </ion-content>
</ion-view>

