
<ion-view  class="common-view-color" view-title={{levelName}}>

  <!--导航条-->
  <ion-nav-bar align-title="center" class="newbarhead">
    <ion-nav-buttons side="left">
      <button class="button  button-icon icon ion-ios-arrow-left common-color-white" ng-click="backNotify()">
        返回
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>

  <!--内容-->
  <ion-content id="notification" delegate-handle="scrollTop" overflow-scroll="false" >

    <div class="row myNetwork" ng-if=shownetstatus>
      <div class="col" align="center"> <img src="img/nonet.png"/></div>
      <div class="col col-80">网络连接不可用，请检查网络设置。</div>
    </div>

    <ion-item  class=" item-remove-animate item-avatar rj-notify-bg ionItemFirst">

      <div>

        <!--通知-->
        <!--已经确认-->
        <div class="row itemIsReadedYes" ng-if="notifyObj.IsReaded">
          <div class="col clearfix" >
            <!--通知显示相应的图片信息-->

            <div class="notifyImgInfo">
              <img src="{{notifyObj.appIcon}}" alt="通知类型头像">
            </div>

            <!--通知的详细信息-->
            <div class="notifyDetailInfo">

              <div class="infoTop">
                <!--名称-->
                <div>
                  <!--<h3>{{item.FromName}}</h3>-->
                  <span>{{item.FromName}}</span>
                  <span ng-if="item.IsReaded" class="isReaded">已确认</span>
                  {{item.isNewStatus}}
                </div>
                <!--时间-->
                <pre class="preTitle preTime notifyTime">{{item.MsgDate | date:'MM-dd HH:mm'}}</pre>
                <!--报警等级-->
                <span class="levelName">{{item.LevelName}}</span>
              </div>

              <!--标题-->
              <div>
                <pre class="preTitle">标题：{{notifyObj.Title}}</pre>
              </div>

              <!--附件-->
              <div class="notify">
                <pre ng-click="!notifyObj.Link==''"><a ng-click="gonet(item.Link)">{{notifyObj.Link}}</a></pre>
              </div>
            </div>
            <pre>{{notifyObj.Msg}}</pre>
          </div>
        </div>

        <!--详情确认-->
        <div class="row itemIsReadedNo" ng-if="!notifyObj.IsReaded">
          <div class="col clearfix" >

            <!--通知显示相应的图片信息-->
            <div class="notifyImgInfo">
              <img src="{{notifyObj.appIcon}}" alt="通知类型头像">
            </div>

            <!--通知的详细信息-->
            <div class="notifyDetailInfo">

              <div class="infoTop">
                <!--名称-->
                <h3>{{notifyObj.FromName}}</h3>
                <!--时间-->
                <pre class="preTitle preTime">{{notifyObj.MsgDate | date:'MM-dd HH:mm'}}</pre>
                <!--报警等级-->
                <span class="levelName">{{notifyObj.LevelName}}</span>
              </div>

              <!--标题-->
              <div>
                <pre class="preTitle">标题：{{notifyObj.Title}}</pre>
              </div>

              <!--附件-->
              <div class="notify">
                <pre ng-click="!notifyObj.Link ==''"><a ng-click="gonet(item.Link)">{{notifyObj.Link}}</a></pre>
              </div>
            </div>
            <pre>{{notifyObj.Msg}}</pre>

          </div>
        </div>

        <div  class="confirm notifyDetail itemIsReadedNo" ng-click="goNotifyDetail(item)"  ng-if="!notifyObj.IsReaded">
          <div></div>
          <span class="detailConfirm" ng-click="confirmDetail(notifyObj.MsgId)">详情确认</span>
        </div>

        <div  class="confirm notifyDetail itemIsReadedYes"  ng-click="goNotifyDetail(item)" ng-if="notifyObj.IsReaded">
          <div></div>
          <span class="detailConfirm" ng-if="notifyObj.IsReaded">已经确认</span>
        </div>

        <!--置顶和关注-->
          <div class="row topFocusDetail" >
            <div class="col">
              <!--置顶-->
              <img class="rj-push-rightright" ng-if="notifyObj.IsToped" src="img/toptp.png" >
            </div>

            <div class="col">
              <!--关注-->
              <img ng-if="notifyObj.IsAttention" src="img/focuseye.png">
            </div>
          </div>
      </div>

      <!--添加或取消关注-->
      <div class="row focus notifyDetailFocusTop">
        <div class="col">

          <ion-toggle1  ng-checked="notifyObj.IsToped ? true : false" ng-click="notifyTop(notifyObj.MsgId, (notifyObj.IsToped  ? 'F' : 'T'))">
            {{notifyObj.IsToped ? "取消置顶" : "通知置顶"}}
          </ion-toggle1>

          <ion-toggle1  ng-checked="notifyObj.IsAttention ? true : false" ng-click="notifyFocus(notifyObj.MsgId, (notifyObj.IsAttention  ? 'F' : 'T'))">
            {{notifyObj.IsAttention ? "取消关注" : "添加关注"}}
          </ion-toggle1>

        </div>
      </div>
    </ion-item>



    <button class="button button-block button-stable checkConfirmedDetails" ng-click="openconfirm(notifyObj.MsgId)">
      查看确认详情
    </button>
  </ion-content>

</ion-view>
