<ion-view >
  <!--导航条-->
  <ion-nav-bar align-title="center" class="secondbar">
    <ion-nav-buttons side="left">
      <div ng-click="backAny(obj)">
        <img src="img/backmain.png" class="notifyConfirmBackImg">
        <p class="notifyConfirmP">确认详情</p>
      </div>
    </ion-nav-buttons>
  </ion-nav-bar>

  <!--内容区域-->
  <ion-content delegate-handle="scrollTop" overflow-scroll="false" class="notifyConfirmIonContent">

    <!--tabs：已确认、未确认-->
    <div class="button-bar">
      <a id="leftbt" class="button" ng-click="goConfirm(0)">未确认</a>
      <a id="rightbt" class="button" ng-click="goConfirm(1)">已确认</a>
    </div>

    <ion-slide-box active-slide="index"  does-continue="false" show-pager="false"
                   pager-click="goConfirm(index)" on-slide-changed="go_confirm(index)" >

      <!--未确认-->
      <ion-slide>
        <ion-list>
          <ion-item ng-repeat="item in noNotifyUser">
            <div class="row">
              <div class="col col-25">{{item.displayName}}</div>
              <div class="col">{{item.deptName}}</div>
              <div class="col" align="right">{{item.when | date:'yyyy/MM/dd HH:mm'}}</div>
            </div>
          </ion-item>
        </ion-list>
      </ion-slide>

      <!--已确认-->
      <ion-slide>
        <ion-list>
          <ion-item ng-repeat="item in alreadyUser">
            <div class="row">
              <div class="col col-25">{{item.displayName}}</div>
              <div class="col">{{item.deptName}}</div>
              <div class="col" align="right">{{item.when | date:'yyyy/MM/dd HH:mm'}}</div>
            </div>
          </ion-item>
        </ion-list>
      </ion-slide>

    </ion-slide-box>
  </ion-content>
</ion-view>
