<ion-view view-title={{appname}}>
  <ion-nav-bar align-title="center" class="bar-stable">
    <ion-nav-buttons side="left">
      <button class="button  button-icon icon ion-ios-arrow-back" ng-click="backApp()" >
        返回
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content overflow-scroll="false" class="rj-stable-content">
    <ion-list>


      <ion-item  ng-if="hahaha==0" class="item-remove-animate item-avatar rj-notify-bg" ng-repeat="item in appmsg |filter:{'username':appname}"  ng-click="appGoNotifyDetail(item._id)" >
        <div ng-if="item.msglevel=='Level_1'" class="center square9" style=" position: absolute;left: 3%;top: 15%;font-size: 14px;text-align: center;padding-top: 8px;z-index: 1">通知</div>
        <div ng-if="item.msglevel=='Level_2'" class="center square8" style=" position: absolute;left: 3%;top: 15%;font-size: 14px;text-align: center;padding-top: 8px;z-index: 1">通知</div>
        <div ng-if="item.msglevel=='Level_3'" class="center square7" style=" position: absolute;left: 3%;top: 15%;font-size: 14px;text-align: center;padding-top: 8px;z-index: 1">通知</div>
        <div ng-if="item.msglevel=='Common'" class="center square10" style=" position: absolute;left: 3%;top: 15%;font-size: 14px;text-align: center;padding-top: 8px;z-index: 1">通知</div>

        <h3 style="margin-left: -12px">{{item.username}}&nbsp;&nbsp;&nbsp;&nbsp;{{item.when | date:'MM-dd HH:mm'}}</h3>
        <pre style=" margin-top: 3px;margin-left: -12px;font-size: 14px;max-height: 25px;">{{item.message}}</pre>

        <img style="margin-top: 2px" class="rj-push-rightright" ng-if="item.istop==100 " src="img/dingding.png" width="18px" height="18px">
        <span class="rj-push-right" ng-if="item.isread=='false' " style="color: cornflowerblue;margin-top: 2px">未读</span>
        <span class="rj-push-right" ng-if="item.isread=='true'" style="margin-top: 2px">已读</span>
        <span class="rj-push-rightdown" ng-if="item.msglevel=='Level_3'" style="color: red;margin-top: 2px">!!!</span>
        <span class="rj-push-rightdown" ng-if="item.msglevel=='Level_2'" style="color: orange;margin-top: 2px">!!</span>
        <span class="rj-push-rightdown" ng-if="item.msglevel=='Level_1'" style="color: #cec62a;margin-top: 2px">!</span>
        <span class="rj-push-rightdown" ng-if="item.msglevel=='Common'" style="margin-top: 2px"></span>
        <span class="rj-push-downdown" ng-if="item.isconfirm=='true'" style="margin-top: 2px;">已确认</span>
        <span class="rj-push-downdown" ng-if="item.isconfirm=='false'" style="margin-top: 2px;color: cornflowerblue;">未确认</span>

        <ion-option-button class="button-stable"  ng-if="false">
        </ion-option-button>

      </ion-item>


      <ion-item   ng-if="hahaha==1" class="item-remove-animate item-avatar rj-notify-bg" ng-repeat="item in appmsg |filter:{'username':appname}|filter:{'isconfirm':'true'}"  ng-click="appGoNotifyDetail(item._id)" >
        <div ng-if="item.msglevel=='Level_1'" class="center square9" style=" position: absolute;left: 3%;top: 15%;font-size: 14px;text-align: center;padding-top: 8px;z-index: 1">通知</div>
        <div ng-if="item.msglevel=='Level_2'" class="center square8" style=" position: absolute;left: 3%;top: 15%;font-size: 14px;text-align: center;padding-top: 8px;z-index: 1">通知</div>
        <div ng-if="item.msglevel=='Level_3'" class="center square7" style=" position: absolute;left: 3%;top: 15%;font-size: 14px;text-align: center;padding-top: 8px;z-index: 1">通知</div>
        <div ng-if="item.msglevel=='Common'" class="center square10" style=" position: absolute;left: 3%;top: 15%;font-size: 14px;text-align: center;padding-top: 8px;z-index: 1">通知</div>

        <h3 style="margin-left: -12px">{{item.username}}&nbsp;&nbsp;&nbsp;&nbsp;{{item.when | date:'MM-dd HH:mm'}}</h3>
        <pre style=" margin-top: 3px;margin-left: -12px;font-size: 14px;max-height: 25px;">{{item.message}}</pre>

        <img style="margin-top: 2px" class="rj-push-rightright" ng-if="item.istop==100 " src="img/dingding.png" width="18px" height="18px">
        <span class="rj-push-right" ng-if="item.isread=='false' " style="color: cornflowerblue;margin-top: 2px">未读</span>
        <span class="rj-push-right" ng-if="item.isread=='true'" style="margin-top: 2px">已读</span>
        <span class="rj-push-rightdown" ng-if="item.msglevel=='Level_3'" style="color: red;margin-top: 2px">!!!</span>
        <span class="rj-push-rightdown" ng-if="item.msglevel=='Level_2'" style="color: orange;margin-top: 2px">!!</span>
        <span class="rj-push-rightdown" ng-if="item.msglevel=='Level_1'" style="color: #cec62a;margin-top: 2px">!</span>
        <span class="rj-push-rightdown" ng-if="item.msglevel=='Common'" style="margin-top: 2px"></span>
        <span class="rj-push-downdown" ng-if="item.isconfirm=='true'" style="margin-top: 2px;">已确认</span>
        <span class="rj-push-downdown" ng-if="item.isconfirm=='false'" style="margin-top: 2px;color: cornflowerblue;">未确认</span>

        <ion-option-button class="button-stable"  ng-if="false">
        </ion-option-button>
      </ion-item>



    </ion-list>
  </ion-content>
</ion-view>

