<ion-view view-title="文件">
  <ion-nav-bar align-title="center" class="bar-stable">
    <ion-nav-buttons side="left">
      <button class="button  button-icon icon ion-ios-arrow-back" ng-click="backAny()">
        返回
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content  style="background-color:#e5e5e5 " >
    <ion-list>
      <ion-item class="item-remove-animate item-avatar ">
        <div class="center square3" style=" position: absolute;left: 3%;top: 20%;font-size: 15px;text-align: center;padding-top: 12px;z-index: 1">文件</div>
        <h2>即时通整改意见.word</h2>
        <p>宋亚 昨天19:55</p>
        <ion-option-button class="button-assertive" ng-click="remove(chat)">
          Delete
        </ion-option-button>
      </ion-item>
      <ion-item class="item-remove-animate item-avatar ">
        <div class="center square3" style=" position: absolute;left: 3%;top: 20%;font-size: 15px;text-align: center;padding-top: 12px;z-index: 1">文件</div>
        <h2>即时通整改意见.word</h2>
        <p>宋亚 昨天19:55</p>
        <ion-option-button class="button-assertive" ng-click="remove(chat)">
          Delete
        </ion-option-button>
      </ion-item>
      <ion-item class="item-remove-animate item-avatar ">
        <div class="center square3" style=" position: absolute;left: 3%;top: 20%;font-size: 15px;text-align: center;padding-top: 12px;z-index: 1">文件</div>
        <h2>即时通整改意见.word</h2>
        <p>宋亚 昨天19:55</p>
        <ion-option-button class="button-assertive" ng-click="remove(chat)">
          Delete
        </ion-option-button>
      </ion-item>
      <ion-item class="item-remove-animate item-avatar ">
        <div class="center square3" style=" position: absolute;left: 3%;top: 20%;font-size: 15px;text-align: center;padding-top: 12px;z-index: 1">文件</div>
        <h2>即时通整改意见.word</h2>
        <p>宋亚 昨天19:55</p>
        <ion-option-button class="button-assertive" ng-click="remove(chat)">
          Delete
        </ion-option-button>
      </ion-item>
      <ion-item class="item-remove-animate item-avatar ">
        <div class="center square3" style=" position: absolute;left: 3%;top: 20%;font-size: 15px;text-align: center;padding-top: 12px;z-index: 1">文件</div>
        <h2>即时通整改意见.word</h2>
        <p>宋亚 昨天19:55</p>
        <ion-option-button class="button-assertive" ng-click="remove(chat)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>

  </ion-content>
</ion-view>
