<ion-view >
  <ion-content overflow-scroll="false">

    <!--返回←箭头-->
    <div class="back">
      <img src="img/backmain.png" ng-click="gobackmsgdetail(userId,userName)"/>
    </div>

    <div class="personDetailDiv">

      <!--头像-->
      <img src="img/personsetting.png" ng-click="godetailaa()">

      <!--用户姓名-->
      <div class="personDetailUserName">
        <p>{{userName}}</p>
      </div>

      <!--发消息、保存手机、打电话、发短信-->
      <div  class="row ">

        <div class="col" align="center" >
          <a ng-click="gohistoryMessage()">
            <ul>
              <li><img class="personDetailImg" src="img/im_new_chat.png"></li>
              <li class="liColor">消息</li>
            </ul>
          </a>
        </div>

        <div class="col" align="center" ng-click="personFile()">
          <a >
            <ul>
              <li><img class="personDetailImg" src="img/im_chat_btn_file.png"></li>
              <li class="liColor">文件</li>
            </ul>
          </a>
        </div>

        <div class="col" align="center" ng-click="goLocation()">
          <a >
            <ul>
              <li><img class="personDetailImg" src="img/im_new_map.png"></li>
              <li class="liColor">定位</li>
            </ul>
          </a>
        </div>
      </div>
    </div>

    <!--聊天图片-->
    <div class="row chartImages" ng-click="perosnPicture()">
      <div class="col">
        <img src="img/images.png" alt="图片库">
        <span>聊天图片</span>
        <i class="button button-dark button-clear icon ion-ios-arrow-right"></i>
      </div>
    </div>

    <div class="personalSetting list"></div>

  </ion-content>
</ion-view>
