<ion-view view-title="聊天设置">
  <ion-nav-bar align-title="center" class="bar-stable">
    <ion-nav-buttons side="left">
      <button class="button  button-icon icon ion-ios-arrow-back" ng-click="gobackmsgdetail(userId,userName)">
        返回
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content overflow-scroll="false" style="background-color:#e5e5e5 ">
    <div style="height: 160px;background-color: #e5e5e5;text-align: center;margin: 3px;width:100%">
      <img src="img/icon_status_andriod.png" width="70px" height="70px" style="margin-top: 30px">
      <div class="vcenter" style="position: absolute;left: 47%;top: 57px">{{jiename}}</div>
      <P style="font-size: 18px">{{userName}}</P>

    </div>


    <div class="row" style="background-color: #ffffff; height: 80px">
      <div class="col" align="center" ng-click="gohistoryMessage()">
        <a >
          <ul>
            <li><img src="img/message.png" width="40" height="40"></li>
            <li>消息</li>
          </ul>
        </a>
      </div>
      <div class="col" align="center" ng-click="meizuo()">
        <a >
          <ul>
            <li><img src="img/im_chat_btn_photo.png" width="40" height="40"></li>
            <li>图片</li>
          </ul>
        </a>
      </div>
      <div class="col" align="center" ng-click="meizuo()">
        <a >
          <ul>
            <li><img src="img/im_chat_btn_file.png" width="40" height="40"></li>
            <li>文件</li>
          </ul>
        </a>
      </div>

      <div class="col" align="center" ng-click="meizuo()">
        <a >
          <ul>
            <li><img src="img/record.png" width="40" height="40"></li>
            <li>记录</li>
          </ul>
        </a>
      </div>
    </div>

    <div style="">
      <button class="button button-block button-light" ng-click="addNewPerson()">
        <i class="icon ion-ios-plus-outline"></i>&nbsp;&nbsp;添加新成员
      </button>
    </div>

    <div>
      <ul>
        <Li>
          <ion-toggle ng-click="meizuo()">
            聊天置顶
          </ion-toggle>
        </Li>
        <Li>
          <ion-toggle ng-click="meizuo()">
            消息免打扰
          </ion-toggle>
        </Li>
        <li class="item" ng-click="clearMsg(userId,userName)">
          <a href="#/tab/message">清空聊天记录</a>
        </li>
      </ul>
    </div>

  </ion-content>
</ion-view>
