<ion-view class="common-view-color common-bg-color" >
  <ion-content>
    <div id="search-bar" class="item-input-inset" style="height: 50px;background-color: white">
      <label class="item-input-wrapper" id="search-input">
        <i class="icon ion-ios-search" style="position: relative;color: gray;font-size: 1.5em;top: 1px;"></i>
        <form  onsubmit="dosearchlocal(query)">
          <input style="padding-top: 3px;" type="search" placeholder="搜索" ng-model="query" ng-change="dosearchlocal(query)" autocorrect="off" >
        </form>
      </label>
      <button class="button button-clear" style="color: #1D95D4;" ui-sref="localContacts" >取消</button>
    </div>
    <ion-list>
      <ion-item ng-repeat="localperson in localpersons" >
        <div class="row" >
          <div   class="col-20" style="text-align: center" ng-click="tanchuanglocal(localperson.mobile,localperson.nickname)">
            <div ng-if="localperson.mobile.substring((localperson.mobile.length-1),localperson.mobile.length)==1||localperson.mobile.substring((localperson.mobile.length-1),localperson.mobile.length)==9" class="center circle1" style=" position: absolute;left: 7%;top: 20%;font-size: 14px;text-align: center;padding-top: 9px">{{localperson.nickname.length > 2 ? localperson.nickname.substring((localperson.nickname.length-2),localperson.nickname.length):localperson.nickname}}</div>
            <div ng-if="localperson.mobile.substring((localperson.mobile.length-1),localperson.mobile.length)==2||localperson.mobile.substring((localperson.mobile.length-1),localperson.mobile.length)==8" class="center circle2" style=" position: absolute;left: 7%;top: 20%;font-size: 14px;text-align: center;padding-top: 9px">{{localperson.nickname.length > 2 ? localperson.nickname.substring((localperson.nickname.length-2),localperson.nickname.length):localperson.nickname}}</div>
            <div ng-if="localperson.mobile.substring((localperson.mobile.length-1),localperson.mobile.length)==3||localperson.mobile.substring((localperson.mobile.length-1),localperson.mobile.length)==7" class="center circle3" style=" position: absolute;left: 7%;top: 20%;font-size: 14px;text-align: center;padding-top: 9px">{{localperson.nickname.length > 2 ? localperson.nickname.substring((localperson.nickname.length-2),localperson.nickname.length):localperson.nickname}}</div>
            <div ng-if="localperson.mobile.substring((localperson.mobile.length-1),localperson.mobile.length)==4||localperson.mobile.substring((localperson.mobile.length-1),localperson.mobile.length)==6" class="center circle4" style=" position: absolute;left: 7%;top: 20%;font-size: 14px;text-align: center;padding-top: 9px">{{localperson.nickname.length > 2 ? localperson.nickname.substring((localperson.nickname.length-2),localperson.nickname.length):localperson.nickname}}</div>
            <div ng-if="localperson.mobile.substring((localperson.mobile.length-1),localperson.mobile.length)==5||localperson.mobile.substring((localperson.mobile.length-1),localperson.mobile.length)==0" class="center circle5" style=" position: absolute;left: 7%;top: 20%;font-size: 14px;text-align: center;padding-top: 9px">{{localperson.nickname.length > 2 ? localperson.nickname.substring((localperson.nickname.length-2),localperson.nickname.length):localperson.nickname}}</div>
          </div>
          <div class="col-80" align="left" ng-click="tanchuanglocal(localperson.mobile,localperson.nickname)">
            <span ng-bind="localperson.nickname" style="vertical-align: center;font-size: 15px" ng-click="goSearchDetail(localperson.mobile)"></span>&nbsp;&nbsp;&nbsp;&nbsp;<span ng-bind="localperson.mobile" style="vertical-align: center;font-size: 15px"></span>
          </div>
        </div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>

