<ion-view >

  <!-- 导航条 -->
  <ion-nav-bar align-title="center">
    <ion-nav-buttons side="left">
      <button class="button  button-icon icon ion-ios-arrow-back" ng-click="backSearchMessage()">
        {{Username2}}
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>

  <!--内容-->
  <ion-content overflow-scroll="false">

    <!--提示信息-->
    <div class="background_white" style="margin-top:10px;">
      <p class="company_contacts_title padding_10 font_18">共{{lengtha}}条与"{{Usermessage3}}"相关的聊天记录</p>
    </div>

    <ion-list>
      <ion-item class="item-remove-animate item-avatar" id="myItemAvatar" ng-repeat="messageaname in messagessname">
        <div class="row" >
          <div  class="col col-90 myHeader">
            <!--头像-->
            <div class="headerDiv">
              <div ng-if="messageaname.sessionid.substring((messageaname.sessionid.length-1),messageaname.sessionid.length)==1||messageaname.sessionid.substring((messageaname.sessionid.length-1),messageaname.sessionid.length)==9" class="center circle1 myHeaderDiv">{{messageaname.username.length > 2 ? messageaname.username.substring((messageaname.username.length-2),messageaname.username.length):messageaname.username}}</div>
              <div ng-if="messageaname.sessionid.substring((messageaname.sessionid.length-1),messageaname.sessionid.length)==2||messageaname.sessionid.substring((messageaname.sessionid.length-1),messageaname.sessionid.length)==8" class="center circle2 myHeaderDiv">{{messageaname.username.length > 2 ? messageaname.username.substring((messageaname.username.length-2),messageaname.username.length):messageaname.username}}</div>
              <div ng-if="messageaname.sessionid.substring((messageaname.sessionid.length-1),messageaname.sessionid.length)==3||messageaname.sessionid.substring((messageaname.sessionid.length-1),messageaname.sessionid.length)==7" class="center circle3 myHeaderDiv">{{messageaname.username.length > 2 ? messageaname.username.substring((messageaname.username.length-2),messageaname.username.length):messageaname.username}}</div>
              <div ng-if="messageaname.sessionid.substring((messageaname.sessionid.length-1),messageaname.sessionid.length)==4||messageaname.sessionid.substring((messageaname.sessionid.length-1),messageaname.sessionid.length)==6" class="center circle4 myHeaderDiv">{{messageaname.username.length > 2 ? messageaname.username.substring((messageaname.username.length-2),messageaname.username.length):messageaname.username}}</div>
              <div ng-if="messageaname.sessionid.substring((messageaname.sessionid.length-1),messageaname.sessionid.length)==5||messageaname.sessionid.substring((messageaname.sessionid.length-1),messageaname.sessionid.length)==0" class="center circle5 myHeaderDiv">{{messageaname.username.length > 2 ? messageaname.username.substring((messageaname.username.length-2),messageaname.username.length):messageaname.username}}</div>

            </div>

            <div class="myUserName">
              <!--时间-->
              <div class="chatName lastMessage">
                <p ng-if="item.lastDate != 0" >{{messageaname.when | date:'yyyy-MM-dd HH:mm:ss'}}</p>
                <p ng-if="messageaname.messagetype=='File'" > {{messageaname.message.split("###")[4]}}</p>
                <p ng-if="messageaname.messagetype=='Image'" > [图片]</p>
                <p ng-if="messageaname.messagetype=='Vedio'" > [小视频]</p>
                <p ng-if="messageaname.messagetype=='Audio'" > [语音]</p>
                <p ng-if="messageaname.messagetype=='LOCATION'" > [位置]</p>
                <p ng-if="messageaname.messagetype=='normal'" > {{messageaname.message}}</p>
                <p ng-if="messageaname.messagetype=='Text'" > {{messageaname.message}}</p>
              </div>

            </div>
          </div>
        </div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>

