<ion-view view-title="切换账号">
  <ion-nav-bar align-title="center">
    <ion-nav-buttons side="left">
      <button class="button  button-icon icon ion-ios-arrow-back" ng-click="goAcount()">
        返回
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>

  <ion-content overflow-scroll="false" >
    <div class="item-avatar-left" ng-repeat="item in accountItems">
      这是测试代码
    </div>
    <!--<ion-list >
      <ion-item ng-repeat="item in accountItems" >
        <p>a你姐姐军军军军军军</p>
      </ion-item>
    </ion-list>-->
  </ion-content>
</ion-view>
