<ion-view view-title="切换账号" class="common-view-color">
  <ion-nav-bar align-title="center" class="newbarhead">
    <ion-nav-buttons side="left" class="">
      <button class="button button-icon icon ion-ios-arrow-left common-color-white" ng-click="goAcount()">
        返回
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>

<ion-content overflow-scroll="false">
  <div>
    <ul class="list">
      <div ng-repeat="item in accountItems" ng-click="switchAccount(item.userID)">
        <li class="item item-toggle item-button-right">
          <p>{{item.deptName}}</p>
          <p>{{item.rootName}}</p>
          <a class="button button-dark button-clear icon ion-ios-arrow-right" ></a>
        </li>
      </div>
    </ul>

  </div>
</ion-content>
</ion-view >
