<ion-view view-title="应用商城">
  <ion-nav-bar align-title="center" class="bar-stable">
  </ion-nav-bar>
  <ion-content overflow-scroll="false">
    <div style="margin:0;padding:0; width:100%;height:1px;background-color:#8c8c8c;overflow:hidden;"></div>
    <div class="row ">
      <div class="col dark-border" align="center">
        <a ng-click="showAlert('线形监测')">
          <ul>
            <li><img src="img/xxjk.png" style="height: 80px;width: 80px;" class="padding_10"></li>
            <li style="color: #8c8c8c">线形监测</li>
          </ul>
        </a>
      </div>
      <div style="width: 1px; height: 115px; background-color: #8c8c8c;"></div>

      <div class="col " align="center">
        <a ng-click="showAlert('拌和站')">
          <ul>
            <li><img src="img/bhz.png" style="height: 80px;width: 80px" class="padding_10"></li>
            <li style="color: #8c8c8c">拌和站</li>
          </ul>
        </a>
      </div>
      <div style="width: 1px; height: 115px; background-color: #8c8c8c;"></div>
      <div class="col" align="center">
        <a ng-click="showAlert('沉降观测')">
          <ul>
            <li><img src="img/cjgc.png" style="height: 80px;width: 80px" class="padding_10"></li>
            <li style="color: #8c8c8c">沉降观测</li>
          </ul>
        </a>
      </div>
    </div>
    <div style="margin:0;padding:0; width:100%;height:1px;background-color:#8c8c8c;overflow:hidden;"></div>
    <div class="row ">
      <div class="col" align="center">
        <a ng-click="showAlert('施工日志')">
          <ul>
            <li><img src="img/dzsgrz.png" style="height: 80px;width: 80px" class="padding_10"></li>
            <li style="color: #8c8c8c">施工日志</li>
          </ul>
        </a>
      </div>
      <div style="width: 1px; height: 115px; background-color: #8c8c8c;"></div>
      <div class="col" align="center">
        <a ng-click="showAlert('检验批')">
          <ul>
            <li><img src="img/jyp.png" style="height: 80px;width: 80px" class="padding_10"></li>
            <li style="color: #8c8c8c">检验批</li>
          </ul>
        </a>
      </div>
      <div style="width: 1px; height: 115px; background-color: #8c8c8c;"></div>
      <div class="col" align="center">
        <a ng-click="showAlert('围岩量测')">
          <ul>
            <li><img src="img/sdjk.png" style="height: 80px;width: 80px" class="padding_10"></li>
            <li style="color: #8c8c8c">围岩量测</li>
          </ul>
        </a>
      </div>
    </div>
    <div style="margin:0;padding:0; width:100%;height:1px;background-color:#8c8c8c;overflow:hidden;"></div>
    <div class="row">
      <div class="col" align="center">
        <a ng-click="showAlert('施工组织')">
          <ul>
            <li><img src="img/sgzz.png" style="height: 80px;width: 80px" class="padding_10"></li>
            <li style="color: #8c8c8c">施工组织</li>
          </ul>
        </a>
      </div>
      <div style="width: 1px; height: 115px; background-color: #8c8c8c;"></div>
      <div class="col" align="center">
        <a ng-click="showAlert('现场监视')">
          <ul>
            <li><img src="img/spjk.png" style="height: 80px;width: 80px" class="padding_10"></li>
            <li style="color: #8c8c8c">现场监视</li>
          </ul>
        </a>
      </div>
      <div style="width: 1px; height: 115px; background-color: #8c8c8c;"></div>
      <div class="col" align="center">
        <a ng-click="showAlert('实验室')">
          <ul>
            <li><img src="img/sys.png" style="height: 80px;width: 80px" class="padding_10"></li>
            <li style="color: #8c8c8c">实验室</li>
          </ul>
        </a>
      </div>
    </div>
    <div style="margin:0;padding:0; width:100%;height:1px;background-color:#8c8c8c;overflow:hidden;"></div>
    <div class="row">
      <div class="col" align="center">
        <a ng-click="showAlert('问题库')">
          <ul>
            <li><img src="img/wtk.png" style="height: 80px;width: 80px" class="padding_10"></li>
            <li style="color: #8c8c8c">问题库</li>
          </ul>
        </a>
      </div>
      <div style="width: 1px; height: 115px; background-color: #8c8c8c;"></div>
      <div class="col" align="center">
        <a ng-click="showAlert('验工计价')">
          <ul>
            <li><img src="img/ygjj.png" style="height: 80px;width: 80px" class="padding_10"></li>
            <li style="color: #8c8c8c">验工计价</li>
          </ul>
        </a>
      </div>
      <div style="width: 1px; height: 115px; background-color: #8c8c8c;"></div>
      <div class="col " align="center">
        <a ng-click="pdfshow()">
          <ul>
            <li><img src="img/gengduo2.png" style="height: 80px;width: 80px" class="padding_10"></li>
            <li style="color: #8c8c8c">更多</li>
          </ul>
        </a>
      </div>
    </div>
    <div style="margin:0;padding:0; width:100%;height:1px;background-color:#8c8c8c;overflow:hidden;"></div>

  </ion-content>
</ion-view>
