<ion-view id="portalTitle"  view-title="{{name}}"   class="common-view-color">

  <!--导航条-->
  <ion-nav-bar align-title="left" class="newbarhead">
    <ion-nav-buttons side="right">
      <!--<button  class="button  button-icon icon  common-color-white"  style="color: white;font-size: 1.3em;" ng-click="rightButtonAction()">-->
        <!--{{rightBtnTitle}}切换-->
      <!--</button>-->
    </ion-nav-buttons>
  </ion-nav-bar>

  <!--内容区域-->
  <ion-content scroll="true" class="animScrollContent portalIonContent" overflow-scroll="true">

    <!--列表-->
    <div id="menHu" ng-repeat="sysmenuItem in sysmenu">
      <div class="content clearfix">
        <p class="h5-p">{{sysmenuItem.seriesName}}</p>

        <div class="appsCol1" ng-repeat="item in sysmenuItem.items">
          <div class="protalAppsCol12" >
            <img class="portalImg" id="" src="img/app/zhglh.png">
            <p class="h5-p2">{{item.appName}}</p>
          </div>
        </div>

      </div>
      <!-- 分割线条-->
      <div class="fengeLine"></div>
    </div>

  </ion-content>
</ion-view>
