<ion-view view-title={{companyName}} hide-tabs>

<ion-nav-bar align-title="center" class="bar-light">
  <ion-nav-buttons>
  </ion-nav-buttons>
</ion-nav-bar>
<!--style="background: #EFEFF4"-->
<ion-content scroll="true" overflow-scroll="true" style="background:#EFEFF4">
  <ion-slide-box on-slide-changed="slideChanged(index)" slide-interval="2000" does-continue="true"
                 active-slide="myActiveSlide" show-pager="true" auto-play="true">
    <ion-slide>
      <div>
        <img class="slide-img" src="img/img.jpg">
      </div>
    </ion-slide>
    <ion-slide>
      <div>
        <img class="slide-img" src="img/img.jpg">
      </div>
    </ion-slide>
    <ion-slide>
      <div>
        <img class="slide-img" src="img/img.jpg">
      </div>
    </ion-slide>
  </ion-slide-box>

  <!--<p id="personName" class="h5-name">你好！</p>-->

  <div class="content">

    <p class="h5-p">综合管理</p>

    <div class="row">
      <div class="col">
        <img src="img/app1/xmxx_f.png" width="45px" height="45px">
        <p class="h5-p2">项目信息</p>
      </div>
      <div class="col" ng-click="jumpUrl(35)">
        <img id="35" src="img/app1/cxtx_f.png" width="45px" height="45px">
        <p class="h5-p2">诚信体系</p>
      </div>

      <div class="col">
        <img src="img/app1/hygl_f.png" width="45px" height="45px" style="border-radius: 8px">
        <p class="h5-p2">会议管理</p>
      </div>
      <div class="col" ng-click="jumpUrl(148)">
        <img id="148" src="img/app1/clgl_f.png" width="45px" height="45px" style="border-radius: 8px">
        <p class="h5-p2">车辆管理</p>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <img src="img/app1/zlgl_f.png" width="45px" height="45px">
        <p class="h5-p2">资料管理</p>
      </div>
      <div class="col">
        <img src="img/app1/lwggzxt_f.png" width="45px" height="45px">
        <p class="h5-p2">工资系统</p>
      </div>
      <div class="col" ng-click="jumpUrl(10)">
        <img id="10" src="img/app1/xmdt_f.png" width="45px" height="45px">
        <p class="h5-p2">项目动态</p>
      </div>
      <div class="col" ng-click="jumpUrl(99)">
        <img id="99" src="img/app1/xxfb_f.png" width="45px" height="45px">
        <p class="h5-p2">信息发布</p>
      </div>
    </div>

  </div>

  <div class="content">

    <p class="h5-p">过程控制</p>

    <div class="row">
      <div class="col">
        <img src="img/app2/sgzz_f.png" width="45px" height="45px">
        <p class="h5-p2">施工组织</p>
      </div>
      <div class="col" ng-click="jumpUrl(16)">
        <img id="16" src="img/app2/sgtsh_f.png" width="45px" height="45px">
        <p class="h5-p2">施工图审核</p>
      </div>
      <div class="col">
        <img src="img/app2/sgrz_f.png" width="45px" height="45px">
        <p class="h5-p2">施工日志</p>
      </div>
      <div class="col">
        <img src="img/app2/ygjj_f.png" width="45px" height="45px">
        <p class="h5-p2">验工计价</p>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <img src="img/app2/tzkz_f.png" width="45px" height="45px" style="border-radius: 8px">
        <p class="h5-p2">投资控制</p>
      </div>
      <div class="col" ng-click="jumpUrl(49)">
        <img id="49" src="img/app2/zdcq_f.png" width="45px" height="45px">
        <p class="h5-p2">征地拆迁</p>
      </div>
      <div class="col" ng-click="jumpUrl(82)">
        <img id="82" src="img/app2/ddzh_f.png" width="45px" height="45px">
        <p class="h5-p2">调度指挥</p>
      </div>
      <div class="col">
        <img src="img/app2/wzsb_f.png" width="45px" height="45px">
        <p class="h5-p2">物资设备</p>
      </div>
    </div>

  </div>

  <div class="content">
    <p class="h5-p">现场控制</p>

    <div class="row">
      <div class="col">
        <img src="img/app3/bhz_f.png" width="45px" height="45px">
        <p class="h5-p2">拌和站</p>
      </div>
      <div class="col" ng-click="jumpUrl(17)">
        <img id="17" src="img/app3/sys_f.png" width="45px" height="45px">
        <p class="h5-p2">试验室</p>
      </div>
      <div class="col" ng-click="jumpUrl(24)">
        <img id="24" src="img/app3/cjgc_f.png" width="45px" height="45px">
        <p class="h5-p2">沉降观测</p>
      </div>
      <div class="col">
        <img src="img/app3/jyp_f.png" width="45px" height="45px">
        <p class="h5-p2">检验批</p>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <img src="img/app3/sdxxh_f.png" width="45px" height="45px">
        <p class="h5-p2">隧道形象化</p>
      </div>
      <div class="col">
        <img src="img/app3/sdjk_f.png" width="45px" height="45px">
        <p class="h5-p2">隧道监控</p>
      </div>
      <div class="col">
        <img src="img/app3/qljz_f.png" width="45px" height="45px">
        <p class="h5-p2">桥梁静载</p>
      </div>
      <div class="col">
        <img src="img/app3/zdzl_f.png" width="45px" height="45px">
        <p class="h5-p2">自动张拉</p>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <img src="img/app3/lc_f.png" width="45px" height="45px">
        <p class="h5-p2">梁厂</p>
      </div>
      <div class="col">
        <img src="img/app3/qlxxh_f.png" width="45px" height="45px">
        <p class="h5-p2">桥梁形象化</p>
      </div>
      <div class="col">
        <img src="img/app3/zjjc_f.png" width="45px" height="45px">
        <p class="h5-p2">桩基检测</p>
      </div>
      <div class="col">
        <img src="img/app3/lxys_f.png" width="45px" height="45px">
        <p class="h5-p2">连续压实</p>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <img src="img/app3/lxl_f.png" width="45px" height="45px">
        <p class="h5-p2">连续梁</p>
      </div>
      <div class="col" ng-click="jumpUrl(138)">
        <img id="138" src="img/app3/bc_f.png" width="45px" height="45px">
        <p class="h5-p2">板厂</p>
      </div>
      <div class="col">
      </div>
      <div class="col">
      </div>
    </div>
  </div>
</ion-content>
</ion-view>
