<ion-view class="dashbody common-view-color" view-title="联系人"  >
  <ion-nav-bar align-title="center" class="newbarhead" >
  </ion-nav-bar>
  <ion-content overflow-scroll="false">
    <div class=" item-input-inset common-search-all" ng-click="goSearch()" >
      <label class="item-input-wrapper common-search">
        <i class="icon ion-ios-search placeholder-icon"></i>
        <input  type="search" placeholder="搜索" ng-model="query">
      </label>
    </div>
    <div class="row common-contact-top">
      <div class="col" align="center"ng-click="goLocalContact()" >
          <ul>
            <li><img src="img/tel.png" width="48" height="48"></li>
            <li class="common-contact-li">手机通讯录</li>
          </ul>
      </div>
      <div class="col" align="center">
        <a href="#/topContacts" >
          <ul>
            <li><img src="img/contact.png" width="48" height="48"></li>
            <li class="common-contact-li">常用联系人</li>
          </ul>
        </a>
      </div>
      <div class="col" align="center">
        <a href="#/group">
          <ul>
            <li><img src="img/group.png" width="48" height="48"></li>
            <li class="common-contact-li">我的群组</li>
          </ul>
        </a>
      </div>
      <div class="col" align="center">
        <a href="#/myAttention" >
          <ul>
            <li><img src="img/guanz.png" width="48" height="48"></li>
            <li class="common-contact-li">特别关注</li>
          </ul>
        </a>
      </div>
    </div>

    <div class="common-margin-top">
      <ul>
      <li>
        <div class="row" style="background-color: white">
          <div class="col" style="margin-left: 10px;"> <img src="img/company_tx.png" height="32px"></div>
          <div class="col col-80" style="margin-top: 10px">
            <p class="common-contact-bigp">公司通讯录</p>
          </div>
        </div>
      </li>
      <li>
        <div style="width: 100%;height: 1px;color: ghostwhite; margin-left: 10px"></div>
      </li>
      <li>
        <div class="row" style="background-color: white" ng-repeat="item in depts"  ng-click="gogosecond(item.DeptID)">
          <div class="col"style="margin-left: 16px;"> <img src="img/jishu_cs.png" height="32px"></div>
          <div class="col col-80" style="margin-top: 12px">
            <p  class="common-contact-p">{{item.DeptName}}</p>
          </div>
        </div>
      </li>
        <li>
          <div style="width: 100%;height: 1px;color: ghostwhite;margin-left: 10px"></div>
        </li>
      <li style="border-bottom: 1px solid gainsboro">
        <div class="row" style="background-color: white"  ng-click="gogosecond(loginid)">
          <div class="col"style="margin-left: 16px"> <img src="img/my.png" height="32px"></div>
          <div class="col col-80" style="margin-top: 12px">
            <p class="common-contact-p">我的部门</p>
          </div>
        </div>
      </li>
    </ul>
    </div>

    <div style="height: 64px;margin-top: 16px;margin-bottom: -4px">
      <div class="row" style="background-color: white;">
        <div class="col"style="margin-left: 10px"> <img src="img/common_lxr.png" height="32px"></div>
        <div class="col col-80" style="margin-top: 10px">
          <p class="common-contact-bigp">常用联系人</p>
        </div>
      </div>
    </div>
      <ion-item  class=" item-avatar rj-contact-new "  ng-repeat="item in topContactLists" >
        <div ng-click="simpleSheetShow(item._id,item.phone,item.name,1)">
          <div ng-if="item._id.substring((item._id.length-1),item._id.length)==1||item._id.substring((item._id.length-1),item._id.length)==9" class="center circle1" style=" position: absolute;left: 6%;top: 15%;font-size: 14px;text-align: center;padding-top: 9px">{{item.name.length > 2 ? item.name.substring((item.name.length-2),item.name.length):item.name}}</div>
          <div ng-if="item._id.substring((item._id.length-1),item._id.length)==2||item._id.substring((item._id.length-1),item._id.length)==8" class="center circle2" style=" position: absolute;left: 6%;top: 15%;font-size: 14px;text-align: center;padding-top: 9px">{{item.name.length > 2 ? item.name.substring((item.name.length-2),item.name.length):item.name}}</div>
          <div ng-if="item._id.substring((item._id.length-1),item._id.length)==3||item._id.substring((item._id.length-1),item._id.length)==7"  class="center circle3" style=" position: absolute;left: 6%;top: 15%;font-size: 14px;text-align: center;padding-top: 9px">{{item.name.length > 2 ? item.name.substring((item.name.length-2),item.name.length):item.name}}</div>
          <div ng-if="item._id.substring((item._id.length-1),item._id.length)==4||item._id.substring((item._id.length-1),item._id.length)==6" class="center circle4" style=" position: absolute;left: 6%;top: 15%;font-size: 14px;text-align: center;padding-top: 9px">{{item.name.length > 2 ? item.name.substring((item.name.length-2),item.name.length):item.name}}</div>
          <div ng-if="item._id.substring((item._id.length-1),item._id.length)==5||item._id.substring((item._id.length-1),item._id.length)==0" class="center circle5" style=" position: absolute;left: 6%;top: 15%;font-size: 14px;text-align: center;padding-top: 9px">{{item.name.length > 2 ? item.name.substring((item.name.length-2),item.name.length):item.name}}</div>
        </div>
        <p  ng-click="topGoDetail(item._id)" class="common-contact-detail">{{item.name}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{item.phone}}</p>
      </ion-item>
  </ion-content>
</ion-view>
