<ion-view class="common-view-color" view-title="消息" >

  <ion-nav-bar align-title="center"  class="newbarhead ">
    <!--<ion-nav-buttons side="left" >-->
      <!--<img  src="img/saom.png" width="20px" height="20px" style="margin-top: 6px;margin-left: 6px" ng-click="saoyisao()">-->
    <!--</ion-nav-buttons>-->
    <ion-nav-buttons side="right" >
      <img  src="img/qunl.png" width="20px" height="20px"  style="margin-top: 8px;margin-right: 16px"  ng-click="createGroupChats()">
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content overflow-scroll="false" ng-click="shefalse()" on-drag="shefalse()">
    <div class="item-input-inset "  ng-click="goSearch()">
      <label class="item-input-wrapper common-search">
        <i class="icon ion-ios-search placeholder-icon"></i>
        <input type="search" placeholder="搜索" ng-model="query">
      </label>
    </div>

    <div class="row" style="background-color:#F8D5D9;height: 42px;margin-bottom: 12px" ng-if="isNetConnectNow === false">
      <div class="col" align="center" style="margin-left: 36px;"> <img src="img/nonet.png" width="24px" height="24px" /></div>
      <div class="col col-80" align="left" style="font-size: 14px;color: #A4A4A4;margin-top: 2px">网络连接不可用，请检查网络设置。</div>
    </div>

    <ion-list  ng-click="shefalse()" >
      <ion-item class=" item-remove-animate item-avatar" itemscope="" ng-repeat="item in items" ng-click="goDetailMessage(item.id,item.chatName,item.chatType)" style="z-index: 1;width: 100%;">
        <!---item--->
        <!--<div style="vertical-align: middle;width: 100%;height:100%;padding: 0;margin: 0;background-color: #000000">-->
        <!---头像，居左--->
        <div style="display: inline;float: left;background-color: #000000;padding-bottom: 3px;margin-top: -4px;" >
          <!--个人-->

          <div  style=" position: absolute;left: 5%;top: 5%;font-size: 14px;text-align: center;padding-top: 8px;z-index: 1;bottom: 0px;" ng-if="(item.chatType==='User')&&(item.imgSrc!='1')" >
            <img  src="{{item.imgSrc}}" class="yuanjiao4 center">
          </div>
          <div ng-if="(item.id.substring((item.id.length-1),item.id.length)==1||item.id.substring((item.id.length-1),item.id.length)==9)&&(item.chatType==='User')&&(item.imgSrc== '1')" class="center circle1" style=" position: absolute;left: 5%;top: 20%;font-size: 14px;text-align: center;padding-top: 8px;z-index: 1;bottom: 0px;">{{item.chatName.length > 2 ? item.chatName.substring((item.chatName.length-2),item.chatName.length):item.chatName}}</div>


          <div ng-if="(item.id.substring((item.id.length-1),item.id.length)==2||item.id.substring((item.id.length-1),item.id.length)==8)&&(item.chatType==='User')&&(item.imgSrc=='1')" class="center circle2" style=" position: absolute;left: 5%;top: 20%;font-size: 14px;text-align: center;padding-top: 8px;z-index: 1;bottom: 0px;">{{item.chatName.length > 2 ? item.chatName.substring((item.chatName.length-2),item.chatName.length):item.chatName}}</div>
          <div ng-if="(item.id.substring((item.id.length-1),item.id.length)==3||item.id.substring((item.id.length-1),item.id.length)==7)&&(item.chatType==='User')&&(item.imgSrc=='1')" class="center circle3" style=" position: absolute;left: 5%;top: 20%;font-size: 14px;text-align: center;padding-top: 8px;z-index: 1;bottom: 0px;">{{item.chatName.length > 2 ? item.chatName.substring((item.chatName.length-2),item.chatName.length):item.chatName}}</div>
          <div ng-if="(item.id.substring((item.id.length-1),item.id.length)==4||item.id.substring((item.id.length-1),item.id.length)==6)&&(item.chatType==='User')&&(item.imgSrc=='1')" class="center circle4" style=" position: absolute;left: 5%;top: 20%;font-size: 14px;text-align: center;padding-top: 8px;z-index: 1;bottom: 0px;">{{item.chatName.length > 2 ? item.chatName.substring((item.chatName.length-2),item.chatName.length):item.chatName}}</div>
          <div ng-if="(item.id.substring((item.id.length-1),item.id.length)==5||item.id.substring((item.id.length-1),item.id.length)==0)&&(item.chatType==='User')&&(item.imgSrc=='1')" class="center circle5" style=" position: absolute;left: 5%;top: 20%;font-size: 14px;text-align: center;padding-top: 8px;z-index: 1;bottom: 0px;">{{item.chatName.length > 2 ? item.chatName.substring((item.chatName.length-2),item.chatName.length):item.chatName}}</div>
          <!--群-->
          <div ng-if="(item.id.substring((item.id.length-1),item.id.length)==1||item.id.substring((item.id.length-1),item.id.length)==9)&&(item.chatType==='Group' || item.chatType==='Dept')" class="center square1" style=" position: absolute;left: 5%;top: 20%;font-size: 14px;text-align: center;padding-top: 8px;z-index: 1;bottom: 0px;">群</div>
          <div ng-if="(item.id.substring((item.id.length-1),item.id.length)==2||item.id.substring((item.id.length-1),item.id.length)==8)&&(item.chatType==='Group' || item.chatType==='Dept')" class="center square2" style=" position: absolute;left: 5%;top: 20%;font-size: 14px;text-align: center;padding-top: 8px;z-index: 1;bottom: 0px;">群</div>
          <div ng-if="(item.id.substring((item.id.length-1),item.id.length)==3||item.id.substring((item.id.length-1),item.id.length)==7)&&(item.chatType==='Group' || item.chatType==='Dept')" class="center square3" style=" position: absolute;left: 5%;top: 20%;font-size: 14px;text-align: center;padding-top: 8px;z-index: 1;bottom: 0px;">群</div>
          <div ng-if="(item.id.substring((item.id.length-1),item.id.length)==4||item.id.substring((item.id.length-1),item.id.length)==6)&&(item.chatType==='Group' || item.chatType==='Dept')" class="center square4" style=" position: absolute;left: 5%;top: 20%;font-size: 14px;text-align: center;padding-top: 8px;z-index: 1;bottom: 0px;">群</div>
          <div ng-if="(item.id.substring((item.id.length-1),item.id.length)==5||item.id.substring((item.id.length-1),item.id.length)==0)&&(item.chatType==='Group' || item.chatType==='Dept')" class="center square5" style=" position: absolute;left: 5%;top: 20%;font-size: 14px;text-align: center;padding-top: 8px;z-index: 1;bottom: 0px;">群</div>
        </div>
        <!---对话名称、最后一条消息的内容、日期、未读数--->
        <div style="float: left;padding-top:0px;margin-top: -4px;margin-bottom: 3px; height: 30px;width: 100%;">
          <!--<div>-->
          <span style="float: left;"><font style="font-size: 17px;color: #000;">{{item.chatName}}</font></span>
          <span style="float: right;margin-right:-30px;padding-right: 0px;font-size: 14px;color: #777777" ng-if="item.lastDate != 0 && item.daytype === '0'">{{ item.lastDate | date:'yyyy-MM-dd' }}</span>
          <span style="float: right;margin-right:-30px;padding-right: 0px;font-size: 14px;color: #777777" ng-if="item.lastDate != 0 && item.daytype === '1'">{{ item.lastDate | date:'HH:mm' }}</span>
          <span style="float: right;margin-right:-30px;padding-right: 0px;font-size: 14px;color: #777777" ng-if="item.lastDate === 0"></span>
          <!--</div>-->
          <br/>
          <!--<div>-->
              <span style="float: left;">
                <!---已读语音--->
                <font style="font-size: 14px;color: #777777" ng-if="item.isRead === '1'">
                  <div style="display: inline-block">
                    <!---发送过程中--->
                    <img style="background-color: transparent;padding-right: 5px;float: left" src="img/jiantou.png" ng-if="item.isSuccess === 'false' && item.isFailure === 'false'"/>
                    <!---发送失败--->
                    <img style="background-color: transparent;padding-right: 5px;float: left" src="img/red.png" ng-if="item.isSuccess === 'false' && item.isFailure === 'true'"/>
                    <span style="font-size: 14px;color: #777777;display:inline-block;width: 250px;text-overflow:ellipsis;white-space:nowrap; overflow:hidden;">{{item.lastText}}</span>
                  </div>

                </font>
                <!---未读语音--->
                <font style="font-size: 14px;color: #DD5044" ng-if="item.messagetype === 'Audio' && item.isRead === '0'">
                  {{item.lastText}}
                </font>
                <!---未读文本等--->
                <font style="font-size: 14px;color: #777777;display:block;width: 250px;text-overflow:ellipsis;white-space:nowrap; overflow:hidden;" ng-if="item.messagetype != 'Audio' && item.isRead === '0'">
                  {{item.lastText}}
                </font>
                <!--<font style="font-size: 14px;">{{item.lastText}}</font>-->
              </span>
          <span class="rj-sm-red-icon" style="float: right;margin-right:8px;margin-top:2px;padding-right: 0px;" ng-if="item.count > 0 && item.count <100"><p>{{item.count}}</p></span>
          <span class="rj-sm-red-icon" style="float: right;margin-right:8px;margin-top:2px;padding-right: 0px;" ng-if="item.count > 99" ><p style="font-size: 10px;">99+</p></span>
          <!--</div>-->
        </div>
        <!--</div>-->


        <!--<img src={{item.imgSrc}} width="80px" height="80px">-->
        <!--<span class="rj-sm-red-icon" ng-if="item.count > 0 && item.count <100"><p>{{item.count}}</p></span>-->
        <!--<span class="rj-sm-red-icon" ng-if="item.count > 99" ><p style="font-size: 10px;">99+</p></span>-->
        <!--<h2>{{item.chatName}}</h2>-->
        <!--<p>-->
        <!--<font style="padding-bottom: 1px;"><img style="background-color: transparent;padding-right: 5px" src="img/jiantou.png" ng-if="item.isSuccess === 'false'"/>{{item.lastText}}</font>-->
        <!--</p>-->
        <!--<span class="rj-push-right" ng-if="item.lastDate != 0 && item.daytype === '0'">{{ item.lastDate | date:'yyyy-MM-dd' }}</span>-->
        <!--<span class="rj-push-right" ng-if="item.lastDate != 0 && item.daytype === '1'">{{ item.lastDate | date:'HH:mm' }}</span>-->
        <!--<span class="rj-push-right" ng-if="item.lastDate === 0"></span>-->
        <!--这个就是来了新消息, 头像上的小红数字-->
        <!--<span class="rj-sm-red-icon" ng-show="lastCount > 0"><p>{{lastCount}}</p></span>-->
        <!--<h2>{{ danliaomsg[danliaomsg.length-1]._id}}</h2>-->
        <!--<p> {{danliaomsg[danliaomsg.length-1].message}}</p>-->
        <!--<span class="rj-push-right">6月8日</span>-->
        <ion-option-button class="button-assertive" ng-click="removechat(item.id,item.name)">
          删除
        </ion-option-button>
      </ion-item>
      <!--<ion-item class=" item-remove-animate item-avatar" ng-repeat="groupitem in groupitems" ng-click="goGroupMessage(groupitem.id,groupitem.chatName)">-->
      <!--<img src="{{groupitem.imgSrc}}" width="80px" height="80px">-->
      <!--&lt;!&ndash;这个就是来了新消息, 头像上的小红数字&ndash;&gt;-->
      <!--<span class="rj-sm-red-icon" ng-show="groupitem.count > 0"><p>{{groupitem.count}}</p></span>-->
      <!--<h2>{{groupitem.chatName}}</h2>-->
      <!--<p> {{groupitem.lastText}}</p>-->
      <!--<span class="rj-push-right" ng-if="groupitem.lastDate != 0">{{ groupitem.lastDate | date:'HH:mm:ss' }}</span>-->
      <!--<span class="rj-push-right" ng-if="groupitem.lastDate === 0"></span>-->
      <!--<ion-option-button class="button-assertive" ng-click="remove(chat)">-->
      <!--删 除-->
      <!--</ion-option-button>-->
      <!--</ion-item>-->
    </ion-list>
  </ion-content>
</ion-view>


