<ion-view view-title="通知">
  <ion-nav-bar align-title="center" class="bar-stable">
  </ion-nav-bar>
  <ion-content overflow-scroll="false">
    <ion-list>
      <ion-item class="item-remove-animate item-avatar">
        <!--class="center tongzhi1"-->
        <img src="img/oa.png"  style=" position: absolute;left: 5%;top: 23%;text-align: center;z-index: 1;width: 40px;height: 40px">

        <span class="rj-sm-red-icon" ng-if="item.count > 0"><p>{{item.count}}</p></span>
        <h2>{{item.chatName}}</h2>
        <p> {{item.lastText}}</p>
        <span class="rj-push-right" ng-if="item.lastDate != 0">{{ item.lastDate | date:'HH:mm:ss' }}</span>
        <span class="rj-push-right" ng-if="item.lastDate === 0"></span>
      </ion-item>
    </ion-list>

  </ion-content>
</ion-view>

<!--<ion-view view-title="添加新成员8">-->
  <!--<ion-nav-bar align-title="center">-->
    <!--<ion-nav-buttons side="left">-->
      <!--<button class="button  button-icon icon ion-ios-arrow-back" >-->
        <!--返回-->
      <!--</button>-->
    <!--</ion-nav-buttons>-->
  <!--</ion-nav-bar>-->
  <!--<ion-content>-->
    <!--</ion-content>-->
  <!--</ion-view>-->
