<ion-view class="dashbody common-view-color" view-title="联系人"  >

  <!--搜索图标-->
  <ion-nav-bar align-title="center"  class="newbarhead myMessage">
    <ion-nav-buttons side="right" >
      <i class="icon ion-ios-search-strong" ng-click="goSearch()"></i>
    </ion-nav-buttons>
  </ion-nav-bar>

  <ion-content overflow-scroll="false">
    <!--第一部分-->
    <div class="row contacts">
      <div class="col" ng-click="goLocalContact()">
        <img class="contactImg1" src="img/tel.png" />
        <p>手机通讯录</p>
      </div>
      <div class="col">
        <a href="#/topContacts" >
          <img class="contactImg1" src="img/contact.png" >
          <p>常用联系人</p>
        </a>
      </div>
      <div class="col">
        <a href="#/group">
          <img class="contactImg1" src="img/group.png" >
          <p>我的群组</p>
        </a>
      </div>
      <div class="col">
        <a href="#/myAttention">
          <img class="contactImg1" src="img/guanz.png" >
          <p>特别关注</p>
        </a>
      </div>
    </div>
    <!--第二部分-->
    <div class="contacts">
      <div class="row">
        <div class="col">
          <img class="contactImg2" src="img/company_tx.png" />
          <span style="color:#BDBDBD;">公司通讯录</span>
        </div>
      </div>
      <div class="row" ng-repeat="item in depts"  ng-click="gogosecond(item.DeptID,item.ChildCount)">
        <div class="col">
          <img class="contactImg2" src="img/cengji.png" />
          <span>{{item.DeptName}}</span>
        </div>
      </div>
      <div class="row" ng-click="gogosecond(loginid,mydeptlength)">
        <div class="col">
          <img class="contactImg2" src="img/cengji.png" style=""/>
          <span>我的部门</span>
        </div>
      </div>
    </div>

    <!--常用联系人-->
    <div class="contacts">
      <div class="row contacts">
        <div class="col">
          <img class="contactImg2" src="img/common_lxr.png" />
          <span style="color:#9E9E9E;"> 常用联系人</span>
        </div>
      </div>
    </div>

    <!--联系人列表-->
    <ion-item  class=" item-avatar rj-contact-new contactsList"  ng-repeat="item in topContactLists"ng-click="topGoDetail(item._id)" >
      <div class="row">
        <div class="col">
          <div class="icon_friends">
            <!--<img  src="img/icon_friends.png" >-->
            <span class="friendsIcon">{{item.shotName}}</span>
          </div>
          <div class="common-contact-detail">
            <p>{{item.name}}</p>
            <p>{{item.phone}}</p>
          </div>
        </div>
      </div>

    </ion-item>
  </ion-content>
</ion-view>

