<ion-view view-title="常用联系人">
  <ion-nav-bar align-title="center">
    <ion-nav-buttons side="left">
      <button class="button  button-icon icon ion-ios-arrow-back" ui-sref="tab.contacts">
        联系人
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>


  <ion-content overflow-scroll="false">
    <div >
      <ion-list>
        <ion-item ng-repeat="item in topall" style="height: 60px" >
          <div class="row" >
            <div class="col-10" align="left" ng-click="sheetShow(item._id,item.phone,item.name,1)">
              <img src="img/icon_friends.png" width="35" height="35">
            </div>
            <div class="col-25" align="center" style="font-size: 18px" ng-click="topContactGoDetail(item._id)">
              <p style="font-size: 15px">{{item.name}}</p>
            </div>
            <div class="col-40" align="center" ng-click="topContactGoDetail(item._id)">
              <p style="font-size: 15px">{{item.phone}}</p>
            </div>
          </div>
        </ion-item>
      </ion-list>
    </div>
  </ion-content>
</ion-view>
