<ion-view view-title="常用联系人" class="common-view-color common-bg-color" >

  <!--导航条-->
  <ion-nav-bar align-title="center" class="newbarhead">
    <ion-nav-buttons side="left">
      <button class="button  button-icon icon ion-ios-arrow-left common-color-white" ui-sref="tab.contacts">
        联系人
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>

  <!--内容-->
  <ion-content overflow-scroll="false">
    <ion-list>
      <ion-item class="item-remove-animate item-avatar" id="myItemAvatar" ng-repeat="item in topall" ng-click="topContactGoDetail(item._id)">
        <div class="row" >
          <div class="col myHeader">

            <!--头像-->
            <div class="headerDiv">
              <div ng-if="item._id.substring((item._id.length-1),item._id.length)==1||item._id.substring((item._id.length-1),item._id.length)==9" class="center circle1 myHeaderDiv">{{item.name.length > 2 ? item.name.substring((item.name.length-2),item.name.length):item.name}}</div>
              <div ng-if="item._id.substring((item._id.length-1),item._id.length)==2||item._id.substring((item._id.length-1),item._id.length)==8" class="center circle2 myHeaderDiv">{{item.name.length > 2 ? item.name.substring((item.name.length-2),item.name.length):item.name}}</div>
              <div ng-if="item._id.substring((item._id.length-1),item._id.length)==3||item._id.substring((item._id.length-1),item._id.length)==7" class="center circle3 myHeaderDiv">{{item.name.length > 2 ? item.name.substring((item.name.length-2),item.name.length):item.name}}</div>
              <div ng-if="item._id.substring((item._id.length-1),item._id.length)==4||item._id.substring((item._id.length-1),item._id.length)==6" class="center circle4 myHeaderDiv">{{item.name.length > 2 ? item.name.substring((item.name.length-2),item.name.length):item.name}}</div>
              <div ng-if="item._id.substring((item._id.length-1),item._id.length)==5||item._id.substring((item._id.length-1),item._id.length)==0" class="center circle5 myHeaderDiv">{{item.name.length > 2 ? item.name.substring((item.name.length-2),item.name.length):item.name}}</div>
            </div>

            <!--姓名、最后一条消息-->
            <div class="myUserName" >

              <!--姓名-->
              <div class="chatName">
                <span>{{item.name}}</span>
              </div>

              <!--最后一条消息-->
              <div class="lastMessage">
                <span>{{item.phone}}</span>
              </div>
            </div>
          </div>
        </div>

        <!--向左滑动删除操作-->
        <ion-option-button class="button-assertive" ng-click="deleteTopCotacts(item._id)" ">
        删除
        </ion-option-button>

      </ion-item>
    </ion-list>

  </ion-content>
</ion-view>
