<ion-view cache-view="false">
  <ion-content >
    <ion-slide-box on-slide-changed="slideChanged(index)" class="baifenbai">
      <ion-slide>
        <div style="background-color: transparent;width: 100%">
          <img src="img/im1.png" width="100%" height="720px">
        </div>
      </ion-slide>

      <ion-slide>
        <div style="background-color: transparent;width: 100%">
          <img src="img/im2.png" width="100%" height="720px">
        </div>
      </ion-slide>
      <ion-slide>
        <div style="background-color: transparent;width: 100%">
          <img src="img/im3.png" width="100%" height="720px">
        </div>
      </ion-slide>
      <ion-slide>
        <div style="background-color: transparent;width: 100%">
          <img src="img/im4.png" width="100%" height="720px">
        </div>
      </ion-slide>
      <ion-slide>
        <div style="background-color: transparent;width: 100%">
          <img src="img/im5.png" width="100%" height="720px">
        </div>
      </ion-slide>
    </ion-slide-box>
  </ion-content>
</ion-view>
