<ion-view cache-view="false">
  <ion-content >
    <!--<a style="position: absolute;left: 80%;top: 90%;color: #1BBB37;font-size: 15px">{{codetime}}</a>-->
    <ion-slide-box on-slide-changed="slideChanged(index)" class="baifenbai">
      <!-- ion-slide house each page's content -->
      <ion-slide>
        <div style="background-color: #034F8D;width: 100%;height: 1000px;text-align: center">
          <!--<p style="position: absolute;left: 15%;top: 50%;color: #ffffff;font-size: 20px">欢迎登陆铁路工程管理平台</p>-->
          <img src="img/splash-small.png" width="100%" style="position: absolute;top: 30%;left: 0%">
        </div>
      </ion-slide>

      <ion-slide>
        <div style="background-color: transparent;width: 100%">
          <h3>乌鲁木齐铁路局工程建设信息化工作交流会</h3>
          <img src="img/wulu.png" width="100%">
          <p>2016年5月4日，乌鲁木齐铁路局（以下简称“乌局”）铁路工程管理平台（以下简称“平台”）信息化工作交流会在乌鲁木齐召开，工管中心盛黎明副主任、沈东升副总工、科技信息部刘延宏部长，乌局王在广副局长、建管处罗培新副处长、建管处各科室科长、各指挥部主要领导、铁科院及相关人员参加了会议。</p>
          <p>盛黎明副主任宣贯了铁路总公司关于铁路工程建设信息化工作的相关指示精神、总体规划，介绍了铁路工程管理平台的系统架构、建设思路。
            沈东升副总工就平台相关的模块进行了说明，对指挥部平台的部署提出了相应的要求与建议，并对平台实施过程中的软硬件条件提出了相应的要求。</p>
        </div>
      </ion-slide>
      <ion-slide>
        <div style="background-color: transparent;width: 100%">
          <h3>铁路工程信息模型交付精度等标准技术研讨会在京举办</h3>
          <img src="img/tielu.png" width="100%">
          <p>8月15-16日，铁路BIM联盟在北京组织召开了铁路工程信息模型交付精度等标准技术研讨会，铁路总公司工管中心，铁科院，铁三院，中铁一、二、四院，中铁四局，清华大学，中建交通有关负责人共50余人参加了会议，工管中心副总工程师沈东升主持会议。</p>
          <p>8月15日
            铁二院就铁路BIM模型交付精度标准（征求意见稿）进行详细汇报，联盟各成员单位就相关问题进行深入研讨；
            铁三院就GIS制图标准工作进展进行汇报；
            中铁四局与中建交通就铁路工程WBS分解结果及LOD400级模型交付精度建议分别进行详细汇报，与会人员就相关技术进行深入讨论；
            铁科院就设计2D电子版文件交付要求进行初步介绍。
          </p>
        </div>
      </ion-slide>
    </ion-slide-box>
  </ion-content>
  <!--<ion-footer-bar>-->
    <!--<div class="row">-->
      <!--<div class="col col-75">-->
        <!--<a  class="no-animation" ng-click="startApp()" ng-show="!slideIndex">跳过</a>-->
        <!--<button style="margin-top:-10px;" class="button button-positive button-clear no-animation" ng-click="previous()" ng-show="slideIndex > 0">-->
          <!--<i class="ion ion-chevron-left"></i>-->
        <!--</button>-->
      <!--</div>-->
      <!--<div class="col">-->
        <!--<i class="ion ion-chevron-right no-animation" ng-click="next()" ng-show="slideIndex != 2"></i>-->
        <!--<a class="no-animation"  ng-click="startApp()" ng-show="slideIndex == 2">-->
          <!--进入-->
        <!--</a>-->
      <!--</div>-->
    <!--</div>-->
  <!--</ion-footer-bar>-->
</ion-view>
