
/*每一部分的上边距*/
div.row.contacts,contacts{
  margin-top:10px;
}
/*背景色*/
.contacts{
  background-color: #fff;
  margin-top:10px;
}
/*图片大小*/
.contacts .row{
  border-bottom:1px solid #E4E4E3;
}
.contacts .col img{
  width:40px;
  height:40px;
}
.contacts .col img.contactImg2{
  width:20px;
  height:20px;
  vertical-align:middle;
}
.contacts .row .col{
  text-align: left;
}

/* 图标大小设置 */
.ion-briefcase:before{
  display: inline-block;
  width:25px;
  height:30px;
}
.contacts .row .col span.part2Img{
  font-size:30px; margin-right:10px; margin-left:10px;color:#106B9A;
}

.contacts .row .col span{
  display: inline-block;
  height:30px;
  line-height:30px;
  color:#000;
  font-size:16px;
}
/*联系人列表*/
.icon_friends{
  width:36px;
  height:100%;
  float: left;
  margin-left:20px;
  margin-right:10px;
}
.icon_friends img{
  width:36px;height:36px;

}

/*列内容居中显示*/
.contacts .col{
  text-align: center;
}
/*p标签的背景色*/
div.row.contacts .col p{
  color:#000;
}

/* 面包屑样式 */
div#scrollDiv{
  font-size:15px;
}
div#scrollDiv > a:last-child{
  color: #9e9e9e;
}

