
/*清楚浮动*/
.clearfix:after{
  content: '';
  clear: both;
  display: block;
}
.clearfix{
  zoom: 1;
}

ion-nav-bar.newbarhead ion-nav-buttons ion-toggle1.item-borderless{
  position: absolute;left: 70%;height: 45px;margin-top: -10px;background: transparent;
}

/*页面背景色*/
ion-content#notification{
  background-color: #F0EFF4
}
ion-side.notificationIonSide{
  background-color: #F0EFF4
}
/*item顶部长条*/
ion-list ion-item img.itemTopBgImg{
  width:100%;
  height:6px;
  float: left;
  margin-top:-1px;
  /*position: absolute;*/
  /*top: 0%;left: 0%;*/
}
/*去掉边框*/
ion-item.item-remove-animate.item-avatar.rj-notify-bg{
  border:none;
}


/*通知*/
.notificationBtn{
  height:38px;
  line-height:38px;
  padding:5px 10px;
}
.notificationBtn >div{
  float: left;
}
.notificationBtn > div.dingdingImg{
  float: right;
}
div.row.notificationRow{
  border-bottom: 1px dashed #E4E4E3;
  height:50px;
}
div.row.notificationRow .typeTime{
  position: absolute;top:7px;left:50px;
}
div.row.notificationRow .typeTime h3{
  margin-top:8px;margin-bottom:0px;
}
div.row.notificationRow .typeTime p{
  height:20px;line-height:20px;
}
div.row.notificationRow .alert.col span{
  float: right;margin-right:10px;
}

div.row.notificationDetail > .col.col-85 > div > img{
  margin-top:6px;
}

/*平台通知 、 标题、查看附件*/
.centerText{
  padding:5px 10px;
  border-bottom:none;margin-bottom:0px;
}
/*确认信息居中显示*/
div.confirm{
  text-align: center;
  border-top:1px dashed #E4E4E3;border-bottom: 1px dashed #E4E4E3;padding:5px 0px;
}
div.confirm img{
  float: right;margin-right:20px;
}
/*去除置顶关注一行的列的内边距，控制高度*/
.topFocus .row .col{
  padding-top:0px;
  padding-bottom:0px;
}
.topFocus .row .col img{
  width:20px; height:20px;
}

/*标题*/
pre.preTitle{
  margin-bottom:4px;
}

/*切换按钮*/
.toggle{
  margin:0px;
}
.toggle div.track{
  width:39px;
  height:23px;

}
.toggle-small .handle{
  height:25px;
  width:25px;
  top:6px;
  background-image: url(../img/unfocus1.png);
  background-size: cover;

}
.toggle-small.item-toggle .toggle{
  top:15px;
}
/*切换按钮-圆*/
.toggle-small .handle1{ /* 重写ionic.css样式*/
  top:6px;
  left:6px;
}
/*********通知-确认、未确认点击进入页面样式补充notifyDetail.html***********/
/*字体颜色*/
div.notifyDetail span{
  color: #e98f36;
}
div.notifyDetail span.detailConfirm{
  color: teal;
}
.row.focus.notifyDetailFocusTop{
  height:90px;
  margin-top:-10px;
  padding-top:0px;
}
.row.focus.notifyDetailFocusTop .col > div{
  height:35px;
}

/**** notify-confirm.html  确认详情页面样式补充 *****/

.item p.confirmUnconfirm{
  height:40px;
  line-height:40px;
  padding-left:15px;
}
.item:first-child{
  margin-top:-1px;
}
img.notifyConfirmBackImg{
  height:36px;
  margin-top: 4px;margin-left: -10px;
}
p.notifyConfirmP{
  margin-top: -32px;margin-left: 36px;font-size: 17px
}
ion-content.notifyConfirmIonContent{
  background-color:white; margin-top: 6px;
}
a#leftbt{
  border-bottom: solid 3px #6c9aff;background-color: #fff;border-top: ghostwhite;border-right: ghostwhite;border-left: ghostwhite;
}
a#rightbt{
  background-color: white;border-top: ghostwhite;border-right: ghostwhite;border-left: ghostwhite;
}
.notifyConfirmIonContent .list:first-child{
  margin-top:0px;
}





/* 通知页图标 */
.notificationRow img{
  width:30px;
  height:30px;
}






