.common-color-black{
  color: black;
}

.common-view-color{
  color: #FFFFFF;
}

.common-margin-top{
  margin-top: 16px;
}

.common-color-white{
  color: #FFFFFF;
}

.common-margin-top-10{
  margin-left: 10px;
}

.common-contact-p{
  font-size: 18px;
  color: black;
  margin-left: 8px;
}
.common-contact-bigp{
  font-size: 18px;
  color: black;
}

.common-search-all{
  background-color: #FFFFFF;
  margin-top: 16px;
}
.common-search{
  font-size: 14px;
  height: 28px;
  width: 380px;
}

.common-contact-li{
  font-size: 14px;
  color: black;
}

.common-contact-detail{
  margin-top: 4px;
  margin-left: 28px;
  font-size: 16px;
  text-align-all: center;
}

.common-contact-top{
  height: 96px;
  margin-top: 16px;
  background-color: #FFFFFF;
}

.common-bg-color{
  background:#E4E4E4;
}


