
.common-color-black{
  color: black;
}

.common-view-color{
  color: #FFFFFF;
}

.common-margin-top{
  margin-top: 16px;
}

.common-color-white{
  color: #FFFFFF;
}

.common-margin-top-10{
  margin-left: 10px;
}

.common-contact-p{
  font-size: 18px;
  color: black;
  margin-left: 8px;
}
.common-contact-bigp{
  font-size: 18px;
  color: black;
}

.common-search-all{
  background-color: #FFFFFF;
  margin-top: 16px;
}
.common-search{
  font-size: 14px;
  height: 28px;
  width: 380px;
  border:1px solid #E4E4E3;
  text-align: center;
}

.common-contact-li{
  font-size: 14px;
  color: black;
}

.common-contact-detail{
  float: left;
  height:100%;
  vertical-align: 100%;
  font-size: 16px;
}

/*.common-contact-top{*/
  /*height: 96px;*/
  /*margin-top: 16px;*/
  /*background-color: #FFFFFF;*/
/*}*/

.common-bg-color{
  background:#E4E4E4;
}

.common-login-row{
  background-color: white;
  height: 65px;
  margin-top: -5px;
}
.common-login-row-down{
  background-color: white;
  height: 65px;
}
.common-add-img{
  /*position: absolute;*/
  /*width: 38px;*/
  /*height: 38px;*/
  /*top: 14%;*/
  /*left:55px;*/
  float: left;width:38px;height:38px;margin-right:10px;margin-left:10px;
}

.common-add-span{
  /*position: absolute;*/
  /*left: 105px;*/
  /*top:30%;*/
  /*width: 200px;*/
  text-overflow: ellipsis;
  /*overflow: hidden;*/
  white-space:nowrap;
  float: left;display: inline-block;height:40px;line-height:40px;

}
.common-add-button{
  position: absolute;
  top: 12%;
  right: 2%;
}

.common-add-check{
  border: 0;
  height: 54px;
}
.common-add-button-span{
  color: #4FACDE;
}

.common-single-white{
  color: #6c9aff;
}

/*界面背景色*/
ion-view ion-content{
  background-color:#e5e5e5;
}
/* 复选框 */
label.item.item-checkbox{
  width:100%;height:100%;border:none;background:#FFF;
}

/* 键盘发送按钮样式*/
p.sendMessage{
  width: 40px;height:40px;position: absolute;bottom: 0px;background:#1296db;border-radius:4px;text-align: center;line-height:40px;color:#fff;
}


