.common-color-black{
  color: black;
}

.common-view-color{
  color: #FFFFFF;
}

.common-margin-top{
  margin-top: 16px;
}

.common-color-white{
  color: #FFFFFF;
}

.common-margin-top-10{
  margin-left: 10px;
}

.common-contact-p{
  font-size: 18px;
  color: black;
  margin-left: 8px;
}
.common-contact-bigp{
  font-size: 18px;
  color: black;
}

.common-search-all{
  background-color: #FFFFFF;
  margin-top: 16px;
}
.common-search{
  font-size: 14px;
  height: 28px;
  width: 380px;
}

.common-contact-li{
  font-size: 14px;
  color: black;
}

.common-contact-detail{
  margin-top: 4px;
  margin-left: 28px;
  font-size: 16px;
  text-align-all: center;
}

.common-contact-top{
  height: 96px;
  margin-top: 16px;
  background-color: #FFFFFF;
}

.common-bg-color{
  background:#E4E4E4;
}

.common-login-row{
  background-color: white;
  height: 65px;
  margin-top: -5px;
}
.common-login-row-down{
  background-color: white;
  height: 65px;
}
.common-add-img{
  position: absolute;
  width: 38px;
  height: 38px;
  top: 14%;
}

.common-add-span{
  position: absolute;
  left: 36%;
  top:30%;

}
.common-add-button{
  position: absolute;
  top: 12%;
  right: 2%;
}

.common-add-check{
  border: 0;
  height: 54px;
}
.common-add-button-span{
  color: #4FACDE;
}


