
/* 我的群组、我的关注 */
img.groupMemberImg,div.myAttentionImg{
  font-size: 14px;width: 38px;height: 38px;float: left;margin-right:10px;
}

span.groupMemberUserName,span.myAttentionUserName{
  font-size: 18px;float: left;line-height:40px;
}

p.groupMemberManager{
  font-size: 18px ;text-align: right;line-height:40px;
}






