.historyMessageTime{
  clear:both;float: left;margin-left: 14%;color:slategray;margin-top: -1px;
}
.historyMessageCircle6{
  position: absolute;left: 88%;top: 6%;font-size: 14px;text-align: center;
}
.historyduifangaaaMsg{
  float: right;margin-right: 10%;color: #000;
}
.historyduifangaaaMsg p.rj-message-right{
  background-color: #fafad2;
}
.historyduifangaaaMsgDate{
  clear:both;float: right;margin-right: 14%;color:#708090;margin-top: -1px;
}
