.row.chartImages{
  background:#fff;
}
.row.chartImages .col img{
  width:30px;height:30px;vertical-align: middle;font-size:16px;
}
.row.chartImages .col span{
  font-size:16px;
}
.row.chartImages .col i.button{
  min-width:0px;min-height:0px;height:20px;float: right;padding-right:10px;margin-top:-5px;
}
.personalSetting.list{
  margin-top: -15px;
}
/* 群组的list的上外边距 */
.list:first-child{
  margin-top:10px;
}
