.tabAccount{
  background-color:#e5e5e5
}

/*我的模块：头像、姓名、天气*/
.countInfo{
  padding:15px;
  margin-bottom: 10px;
  background: #fff;
}
.countInfo > .headName,
.countInfo > .headName > .head,
.countInfo > .headName > .name{
  float: left;
}
.countInfo > .headName{
  height:75px;
}
.countInfo > .headName > .head{
  width:40px;
  height: 75px;
  line-height: 75px;
  margin-right:10px;
}
.countInfo > .headName > .head > div{
  position: relative;
  top:50%;
  left:50%;
  margin-top:-20px;
  margin-left: -20px;
  width:40px;
  height: 40px;
  background: #1296db;
  color: #fff;
  font-size: 14px;
  text-align: center;
  line-height: 40px;
}
.countInfo > .headName > .head > img{
  width:40px;
  height: 40px;
  margin-top:18px;
}
.countInfo > .headName > .head > div,
.countInfo > .headName > .head > img{
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.countInfo > .headName > .name > p{
  width:175px;
  height:75px;
  color: #000;
  font-size: 30px;
  font-weight: 600;
  text-align: left;
  line-height: 75px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.weatherInfo,
.weatherInfo > div{
  float: right;
  color: #1296db;
}
.weatherInfo > div >.weather{
  line-height: 25px;
  font-size:16px;
}
.weatherInfo > div >.weathdate{
  line-height: 75px;
  font-size: 24px;
  margin-right:10px;
}


/*列表：我的资料、设置、关于、功能*/
div.common-margin-top{
  background-color: #fff;
  margin-top: 0px;
}
div.common-margin-top ul li{
  border-bottom: 1px solid gainsboro;
}
div.common-margin-top ul li > div{
  width: 100%;
  /*height:auto;*/
  color: ghostwhite;
}
div.common-margin-top ul li > div.row{
  background-color: white;
}
div.common-margin-top ul li > div.row > div.col{
  margin-left: 10px;padding: 10px
}
div.common-margin-top ul li > div.row > div.col span{
  margin-left:10px;
  margin-top:-4px;
}
/*箭头*/
div.common-margin-top ul li > div.row > div.col > img{
  margin-top:3px;
  vertical-align: bottom;

}
div.common-margin-top ul li > div.row > div.col > img:last-child{
  height:14px;
  /*width:14px;*/
  float: right;
  margin-top:8px;
}

/*退出登录按钮*/
button.button.button-block.button-stable{
  color: #1D95D4;font-size: 16px;height: 60px; margin-top: 16px;
}
/* 我的资料页面部分样式 */
/* 图片大小*/
.myInformationCol > p  > img.myInformationImg{
  float: right;margin-left:10px;height:15px;
}

 .myInformationCol{
  text-align: right;
}

 /*头像*/
.rj-notify-bgggg > h2.headerText{
  width:50px;height:100%;text-align: center;line-height:60px;
}
.picyoumeiyou{
  position: absolute;right: 6%;top: 7%;font-size: 16px;text-align: center;padding-top: 19px;z-index: 1;
}
img.addNewPersonFirstImg{
  width:8px;height:14px;margin-top:13px;float:right;
}



