@font-face {
  font-family: 'tky';
  src:  url('fonts/tky.eot?hs4y68');
  src:  url('fonts/tky.eot?hs4y68#iefix') format('embedded-opentype'),
    url('fonts/tky.ttf?hs4y68') format('truetype'),
    url('fonts/tky.woff?hs4y68') format('woff'),
    url('fonts/tky.svg?hs4y68#tky') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="tkyicon"], [class*=" tkyicon"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'tky' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.tkyiconcontact-off:before {
  content: "\e900";
}
.tkyiconcontact-on:before {
  content: "\e901";
}
.tkyiconwork-off:before {
  content: "\e902";
}
.tkyiconwork-on:before {
  content: "\e903";
}
.tkyiconnotific-off:before {
  content: "\e904";
}
.tkyiconnotific-on:before {
  content: "\e905";
}
.tkyiconmy-off:before {
  content: "\e906";
}
.tkyiconmy-on:before {
  content: "\e907";
}
.tkyiconmessage-off:before {
  content: "\e908";
}
.tkyiconmessage-on:before {
  content: "\e909";
}

